@import '../../style/imports';

.back-to-top {
  background: #fff;
  border: 1px solid #AAAAAA;
  position: fixed;
  border-radius: 80px;
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: $edge-size * 2;
  right: $edge-size;
  z-index: $z-index-tooltip;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px rgba(#000, 0.15);
  box-sizing: border-box;
  padding: 10px;
  transition: all .2s;
  opacity: 0;
  &.is-show {
    opacity: 0.8;
  }
  &__text {
    font-size: floor(0.7 * $font-size);
  }
}