.sp-select-modal{
  .at-radio__icon .at-icon,.at-modal__footer .at-modal__action > button:last-child{
    color: var(--color-primary) !important;
  }
  .at-button{
    width: 100%;
  }
  .confirm-btn{
    color: var(--color-primary) !important;
  }
}