.comp-vipcard {
  width: 750px;
  height: 110px;
  background-size: 100% 100%;
  margin-top: 28px;
  display: flex;
  padding: 20px 60px;
  .lf-con {
    flex: 1;
    position: relative;
    &:after {
      content: ' ';
      position: absolute;
      /* prettier-ignore */
      width: 1PX;
      height: 60px;
      background: #d5d5d5;
      top: 12px;
      right: 30px;
    }
  }
  .rg-con {
    width: 120px;
  }
  .vip-title,
  .vip-xf {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
  }
  .vip-desc,
  .xs-price {
    color: #d5d5d5;
    font-size: 24px;
  }
  .icon-qianwang-01 {
    font-size: 28px;
    color: #fff;
    font-weight: normal;
  }
}
