@import '../../../style/imports';
.at-curtain__container {
  width: 70% !important;
}
.qrcode-content {
  background: #fff;
  text-align: center;
  padding: 30px;
  &__qrimg {
    width: 440px;
    height: 440px;
  }
}

