/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.page-detail {
  .trade-status-desc-box {
    display: flex;
    align-items: center;
    margin: 20px 24px;
    padding: 24px 20px;
    .status-desc {
      margin-left: 20px;
      font-size: 42px;
      // color: #fff;
    }
  }
  .trade-item-wrap {
    margin: 20px 24px;
    border-radius: 8px;
    padding: 24px 20px;
    background-color: #fff;
  }
  .btn-wrap {
    padding: 20px 40px;
    border: transparent 1px solid;
  }
  .trade-item-wrap {
    padding: 0;
  }
  .trade-item-ft {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 30px 20px 0 20px;

    .at-button {
      height: 56px;
      line-height: 54px;
      margin: 0 0 0 16px;
      padding: 0 24px;
    }

    .btn-active {
      color: var(--color-primary);
      border-color: var(--color-primary);
    }
  }
}
