.page-send-out-goods {
  .trade-item-wrap {
    margin: 20px 24px;
    border-radius: 8px;
    padding: 24px 20px;
    background-color: #fff;
  }
  .btn-wrap {
    padding: 20px 40px;
    border: transparent 1px solid;
  }
  .at-button--primary {
    background: var(--color-dianwu-primary) !important;
    border-color: var(--color-dianwu-primary) !important;
    color: #fff !important;
  }
}
