@import "@/style/imports";

page {
  width: 100%;
  height: 100%;
}

.page-wxauth {
  width: 100%;
  height: 100%;
  background: #fff;
  .logo {
    padding-top: 160px;
    text-align: center;
    .img {
      width: 150px;
      height: 150px;
      border-radius: 8px;
    }
  }
  .bottom {
    width: 650px;
    margin: 301px auto 0 auto;
    .btn {
      width: 100%;
      height: 80px;
      line-height: 80px;
      text-align: center;
      outline: none;
      background: #35b22b;
      color: #fff;
      border-radius: 40px;
      font-size: 28px;
      &.disabled {
        opacity: 0.6;
      }
      &::after {
        display: none;
      }
    }
    .rule {
      width: 100%;
      margin-top: 24px;
      color: #999;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      .content {
        flex: 1;
        font-size: 24px;
        margin-left: 10px;
        vertical-align: text-top;
        line-height: normal;
        .ruleName {
          color: #e02020;
        }
      }
      radio {
        width: 25px;
        height: 25px;
        border-radius: 100%;
        position: relative;
        padding: 0;
        margin-top: 6px;
        box-sizing: border-box;
        border: none;
        .wx-radio-input{
          border-radius: 100%;
          width: 28px;
          height: 28px;
          top: -2px;
          left: -2px;
          box-sizing: border-box;
          position: absolute;
          // background: initial !important;
          &.wx-radio-input-checked {
            // border: none !important;
            // background: initial !important;
            // border-color: initial !important;
            &::before{
              border-radius: 100%;
              box-sizing: border-box;
              width: 28px;
              height: 28px;
              line-height: 28px;
              text-align: center;
              font-size: 15px;
              color: #fff;
              padding: 0;
              margin: 0;
              transform: translate(-50%, -50%) scale(1);
            }
          }
        }
        }
    }
  }
}
