.sp-drawer {
  &__body {
    padding: 20px 24px;
    position: absolute;
    bottom: 160px;
    top: 0;
  }
  &__footer {
    padding: 20px 24px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
  }
}
