
.coupon-list {
  background: #f6f6f6;
  &__scroll {
    @include page-scroll(100px, $edge-margin);
    box-sizing: border-box;
    padding-top: 20px;
    bottom: 105px;
  }
  &.has-navbar {
    .coupon-list__scroll {
      top: $navigate-height + 100px;
    }
  }

  .at-tabs__header {
    .at-tabs__item {
      flex: 0 0 180px;
      font-weight: 400;
    }
    .at-tabs__item-underline {
      height: 6px;
      width: 30%;
      left: 35%;
    }
  }
  &__tabs {
    .at-tabs__item--active {
      font-size: 34px !important;
    }
    .at-tabs__item {
      font-size: 28px;
      color: #999999;
    }
  }
}

.coupon-bottom {
  width: 100%;
  padding: 30px 89px;
  display: flex;
  justify-content: space-around;
  /*  #ifdef  h5  */
  padding: 35px 0px;
  justify-content: space-evenly;
  /*  #endif  */
  background: #FFFFFF;
  position: fixed;
  z-index: 999;
  bottom: 0;
  border-radius: 0px 2px 2px 0px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.14);
  .left {
    height: 40px;
    font-size: 28px;
    font-weight: 400;
    color: #222222;
    line-height: 40px;
    // text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.14);
  }
  .middle {
    color: #BBBBBB;
  }
  .right {
    height: 40px;
    font-size: 28px;
    font-weight: 400;
    color: #F4811F;
    line-height: 40px;
    // text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.14);
    .icon {
      width: 24.55px;
      height: 18px;
    }
  }
}
