@import "@/style/imports";

.destory-member {
  padding-top: 30px;
  .page-member-section {
    width: 92vw;
    margin: 0 auto 25px auto;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  .button {
    width: 93%;
    background: #ffffff;
    font-size: 28px;
    border-radius: 60px;
    border: 1px solid #db692a;
    position: fixed;
    color: #db692a;
    bottom: 2%;
  }
}
