@import "@/style/imports";

.page-address-edit {
  width: 100%;
  overflow-x: hidden;
  padding: 24px $edge-size;
  box-sizing: border-box;
  /*  #ifdef  h5  */
  padding-top: $navigate-height-h5;
  margin-top: 24px;
  /*  #endif  */
  .page-address-edit__form{
    border-radius: 16px;
    padding: 5px 16px 0px 16px;
    .sp-cell{
      padding: 24px 20px 24px 10px;
      &__title{
        color: #666666;
      }
    }

  }
  .sp-cell__ft {
    color: #ccc;
  }
  &__form {
    background: #fff;
    padding: $edge-size;
    margin: 0 0 $edge-margin;
  }
  .picker {
    width: 350px;
    text{
      margin-left: -40px !important;
      font-size: 32px;
    }

    &__title {
      font-size: $font-size;
      margin-right: 16px;
      width: 172px;
    }
    .pick-value {
      color: #333;
    }
    span.pick-value-null {
      color: #ccc;
    }
    text.pick-value-null {
      color: #808080;
    }
  }

    .submit-btn{
      border-radius: 5px;
      font-size: 30px;
      padding: 8px 0;
    }

  .border-bottom{
    border-bottom:1px solid #DDDDDD;
  }
  .logistics-no {
    .at-input {
      margin-bottom: 0;
      width: 350px;
      padding: 0;
      &:after {
        border-color: transparent;
      }
      &__input {
        padding-right: 0;
      }
    }
    .at-textarea{
      overflow: hidden;
      border: none;
      width: 100%;
      height: 100px;
      margin-left: 65px !important;
      color: #222;
      padding: 0 18px 12px 0;
    }
  }
  .default_address{
    border-radius: 16px;
    margin: 22px 0;
    padding-right: 0px;

  }
  .at-input input{
    margin-left: -40px ;
    font-size: 32px;
  }

    .detail-address{
      padding-bottom: 0 !important;
      align-items: flex-start !important;
    }


}
