@import "@/style/imports";

.page-address-edit {
  width: 100%;
  overflow-x: hidden;
  padding: 24px $edge-size;
  box-sizing: border-box;
  /*  #ifdef  h5  */
  padding-top: $navigate-height-h5;
  /*  #endif  */
  .page-address-edit__form{
    border-radius: 16px;
    padding: 5rpx 16rpx 0rpx 16rpx;
    .sp-cell{
      padding: 24rpx 20rpx 24rpx 10rpx;
      &__title{
        color: #666666;
      }
    }

  }
  .sp-cell__ft {
    color: #ccc;
  }
  &__form {
    background: #fff;
    padding: $edge-size;
    margin: 0 0 $edge-margin;
  }
  .picker {
    width: 350px;
    text{
      margin-left: -40rpx !important;
      font-size: 32rpx;
    }

    &__title {
      font-size: $font-size;
      margin-right: 16px;
      width: 172px;
    }
    .pick-value {
      color: #333;
    }
    span.pick-value-null {
      color: #ccc;
    }
    text.pick-value-null {
      color: #808080;
    }
  }

    .submit-btn{
      border-radius: 5px;
      font-size: 30px;
      padding: 8rpx 0;
    }

  .border-bottom{
    border-bottom:1rpx solid #DDDDDD;
  }
  .logistics-no {
    // background-color: blue;
    .at-input {
      margin-bottom: 0;
      width: 350px;
      padding: 0;
      &:after {
        border-color: transparent;
      }
      &__input {
        padding-right: 0;
      }
    }
    .at-textarea{
      overflow: hidden;
      border: none;
      width: 100%;
      height: 100rpx;
      margin-left: 65rpx !important;
      color: #222;
      padding: 0 18rpx 12rpx 0;
    }
  }
  .default_address{
    border-radius: 16px;
    margin: 22rpx 0;
    padding-right: 0rpx;

  }
  .at-input input{
    margin-left: -40rpx ;
    font-size: 32rpx;
  }

    .detail-address{
      padding-bottom: 0 !important;
      align-items: flex-start !important;
    }


}
