@import "@/style/imports";

.page-address-edit {
  width: 100%;
  overflow-x: hidden;
  padding: 24px $edge-size;
  box-sizing: border-box;
  /*  #ifdef  h5  */
  padding-top: $navigate-height-h5;
  /*  #endif  */
  .page-address-edit__form{
    padding-top: 0;
  }
  .sp-cell__ft {
    color: #ccc;
  }
  &__form {
    background: #fff;
    padding: $edge-size;
    margin: 0 0 $edge-margin;
  }
  .picker {
    width: 350px;
    &__title {
      font-size: $font-size;
      margin-right: 16px;
      width: 172px;
    }
    .pick-value {
      color: #333;
    }
    span.pick-value-null {
      color: #ccc;
    }
    text.pick-value-null {
      color: #808080;
    }
  }
  .submit-btn{
    border-radius: 5px;
    font-size: 30px;
  }
  .logistics-no {
    border-bottom:#d8d8d8 0.5px solid;
    .at-input {
      margin-bottom: 0;
      width: 350px;
      padding: 0;
      &:after {
        border-color: transparent;
      }
      &__input {
        padding-right: 0;
      }
    }
  }

}
