/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
@import '@/style/imports';
@import '../../../subpages/item/list';

.page-goods-history {
  .goods-list {
    &__scroll {
      @include page-scroll($navigate-height, 0);
    }
  }
}
