.member-setting {
  padding-top: 30px;
  /*  #ifdef  h5  */
  padding-top: 0px;
  height: 100vh;
  /*  #endif  */
  .member-setting-section {
    width: 92vw;
    margin: 20px auto 25px auto;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  .btn{
    position: fixed;
    bottom: 3%;
    width: 92vw;
    .button {
      width: 93%;
      background: #ffffff;
      font-size: 28px;
      border-radius: 60px;
      margin-top: 30px;
    }
  }

}
