@import "@/style/imports";

.member-setting {
  padding-top: 30px;
  /*  #ifdef  h5  */
  padding-top: 0px;
  height: 100vh;
  /*  #endif  */
  .member-setting-section {
    width: 92vw;
    margin: 20px auto 25px auto;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  .button {
    width: 93%;
    background: #ffffff;
    font-size: 28px;
    border-radius: 60px;
    position: fixed;
    bottom: 2%;
  }
}
