@import "@/style/imports";

$btnsHeight: 120px;

page {
  width: 100%;
  height: 100%;
}

.page-member-setting {
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding-bottom: $btnsHeight;
  /*  #ifdef  h5  */
  padding-top: $navigate-height-h5;
  height: 100vh;
  /*  #endif  */
  .btns {
    width: 100%;
    height: $btnsHeight;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    background: #fff;
    .btn {
      height: 80px;
    }
  }
}
