$btnsHeight: 120px;

page {
  width: 100%;
  height: 100%;
}
.page-member-setting {
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  /*  #ifdef  h5  */
  padding-top: $navigate-height-h5;
  /*  #endif  */
  padding-bottom: 120px;
  .baseInfo,
  .basicInfo {
    background: #fff;
    color: #666;
    .title {
      font-size: 30px;
      color: #333;
      padding: 40px 50px;
    }
    .item {
      padding: 20px 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: normal;
      overflow: hidden;
      .right {
        flex-shrink: 0;
        max-width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .avatar {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border: 1px solid #dfdfdf;
      }
      .picker {
        padding: 0;
      }
      .input {
        background: #fff;
        text-align: right;
        border: none;
        padding: 0;
        font-size: 28px;
      }
    }
  }
  .basicInfo {
    margin-top: 30px;
  }
  .btns-user {
    width: 100%;
    height: $btnsHeight;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    background: #fff;
    // padding: 0 50px;
    overflow: hidden;

    .btn {
      width: 100%;
      height: 80px;
      flex-shrink: 0;
      line-height: 80px;
      text-align: center;
      border-radius: 40px;
      color: #333;
      border: 2px solid #bbb;
      margin: 0 auto;
      // &.loginOut {
      //   width: 396px;
      //   padding-right: 176px;
      //   position: relative;
      //   z-index: 9;
      //   background: #fff;
      // }
      &.save {
        color: #fff;
        border: none;
        // position: relative;
        // z-index: 99;
        // transform: translateX(-176px);
      }
    }
  }
  .btnContent {
    width: 100%;
    .content {
      .getInfoBtn {
        background: initial;
        font-size: 28px;
        outline: none;
        color: #666;
        padding: 0;
        &::after {
          display: none;
        }
      }
    }
  }
  .mask {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 100;
    .checkBoxPanel {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      background: #ffffff;
      height: 600px;
      z-index: $z-index-modal;
      display: flex;
      flex-direction: column;
      &-content {
        padding: 0 40px 40px 40px;
        flex: 1;
        overflow: auto;
        .sp-checkbox__wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row-reverse;
        }
      }
      &-item {
        height: 50px;
        line-height: 50px;
      }
      .panel-btns {
        display: flex;
        width: 100%;
        padding: 20px;
        justify-content: space-between;
      }
    }
  }
  .baseInfo {
    .item {
      .left {
        color: #333;
      }
    }
  }
}
.page-member-setting-nopadding {
  padding-top: 0px;
}
