@import "../../style/imports";

$banner-height: 570px !default;

$height-percent: 82%;

.page-pointitem-home {

  width: 100%;
  /*  #ifdef  h5  */
  padding-top: $navigate-height-h5;
  /*  #endif  */

  .pointitem-banner {
    width: 100%;
    position: relative;
    height: $banner-height;
    background: #fff;

    .pointitem-def {
      width: 100%;
      height: $height-percent;
      position: relative;
      left: 0;
      top: 0;
      background: #efefef;

      .banner-img {
        width: 100%;
        height: 100%;
        display: block
      }
    }
  }

  .main {
    width: 100%;
    padding: 30px 20px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    overflow: hidden;
    background: #f5f5f5;
    justify-content: space-between;
    min-height: calc(100vh - #{$banner-height} - #{2 * $tabbar-height});
    /*  #ifdef  h5  */
    height: calc(100vh - #{$banner-height} - #{2 * $tabbar-height} - $navigate-height-h5);
    /*  #endif  */

    &.noData{
      justify-content: center;
    }

    .goods-list__group {
      width: 50%;
    }

    .goods-list__item {
      // padding: 10px;
      width: 49%;
      margin-bottom: 2%;
      overflow: hidden;
    }


    .empty {
      width: calc(100vw - 20px);
      height: 100%;
    }

    .loadingContent {
      width: calc(100vw - 20px);
      flex-shrink: 0;
    }
  }

  .filter-bar {

    padding-top: 0px;
    transition: padding 300ms linear;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
    background: #fff;
    border-bottom: 4rpx solid #efefee;
    background: #fff; 
    $self: &;
  
    .icon-search1 {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 35px;
      // margin-right: 10px;
      &.show{
        justify-content: flex-start;
      }
    }
  
    .searchInput-P{
      position: absolute;
      right: 18rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 50%;
      transform: translateY(-50%);

      &.active{

        justify-content: flex-start;

        .at-input{
          padding-left: 45px;
        }

        .at-icon-close-circle {
          color: #999;
          display: none;
          border: 10px solid transparent;
          &.show {
            display: block;
            position: absolute;
            right:0;
          }
        }

        .icon-search{
          &.show{
            justify-content: flex-start;
            left:10px;
          }
        }
      }

      .icon-search{
        position: absolute; 
      }
    }
    &.active{
      .text{
        display: none;
      }
      .action{
        height: 74rpx;
        .filter{
          display: none;
        }
      } 
  
    }
  
    .text {
      display: flex;
      flex: 11;
      position: relative;
      
  
      &::after {
        position: absolute;
        content: '';
        display: block;
        right: 0;
        height: 33rpx;
        width: 2rpx;
        background: #DDDDDD;
        top: 50%;
        transform: translateY(-50%);
      }
  
    }
  
    .action {
      flex: 9;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #666;
  
  
      .filter,
      .searchInput {
        flex: 1;
        color: #666;
      }
  
      .filter {
        color: #666;
        display: flex;
        align-items: center;
        justify-content: center;
  
        .icon-filter {
          margin-left: 10rpx;
          color: #666;
        }
  
        .textFilter {
          color: #666;
        }
      }
  
      .searchInput { 
        display: flex;
        align-items: center;
        justify-content: center; 
   
        .icon-search {
          position: absolute;
        }
  
      }
  
    }
  
  
  
    &__bd {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    &__ft {
      &:empty {
        padding: 0;
      }
    }
  
    &__item {
      flex: 1;
      text-align: center;
      position: relative;
  
      .active-bar {
        background: $color-link;
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        height: 4px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 20%;
        transition: all .15s ease-in;
      }
  
      &-text {
        position: relative;
        display: block;
        height: $tabs-height;
        line-height: $tabs-height;
      }
  
      &-sort {
        .filter-bar__item-text {
  
          &:before,
          &:after {
            @include arrow(4px);
            position: absolute;
            right: 50%;
            top: 50%;
            margin-right: -2em;
          }
  
          &:before {
            // up
            transform: translateY(-100%) rotate(-135deg);
          }
  
          &:after {
            // down
            transform: translateY(20%) rotate(45deg);
          }
        }
      }
  
      &-active {
        .active-bar {
          opacity: 1;
          width: 30%;
        }
  
        &.filter-bar__item-sort {
          &-asc {
            .filter-bar__item-text {
              &:before {
                border-color: $color-link;
              }
            }
          }
  
          &-desc {
            .filter-bar__item-text {
              &:after {
                border-color: $color-link;
              }
            }
          }
        }
      }
    }
  }

  .wrapper-filter {
    height: 100%;
    overflow: auto;

    .title {
      //width: 60rpx;
      /* height: 42px; */
      font-size: 30rpx;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #333333;
      /* line-height: 42px; */
      margin-bottom: 30rpx;
    }

    .input-wrap {
      display: flex;
      margin-bottom: 20rpx;
      align-items: center;

      .at-input {

        padding: 0;
        margin: 0;
        width: 250rpx;
        height: 70rpx;
        background: #FFFFFF;
        border-radius: 4rpx;
        border: 1px solid #DDDDDD;
        display: flex;
        padding-left: 10rpx;

        &::after {
          border-color: transparent;
        }

      }

      .text {
        margin: 0 29rpx;
        font-size: 38rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #333333;

      }

    }
  }

  .note__has-img {
    padding: 120rpx 0 85rpx;
  }

  .at-drawer__content {
    border-top-left-radius: 20rpx;
    border-bottom-left-radius: 20rpx;
    padding: 120rpx 25rpx;
  }

  .content {
    position: absolute;
    top: 450rpx;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .goods-list {
    margin: 0 -10px;


    &__tabs {
      display: flex;

      .filter-bar__item {
        flex: 1;
        justify-content: center;
        text-align: center;
        color: #666666;
        font-size: 26px;

        [class^=icon] {
          color: #ccc;
          display: inline-block;
        }

        &.region-picker {
          display: flex;
          line-height: 75rpx;
        }

        .icon-close {
          line-height: 75px;
        }
      }

      .filter-bar__item-active {
        color: $color-brand-primary;
      }
    }

    &__scroll {
      // @include page-scroll($tabs-height + $searchbar-height + $navigate-height + 8, 0);
      // // /*  #ifdef  h5  */  
      // @include page-scroll($tabs-height + $searchbar-height + $navigate-height-h5 + 8, 0);
      // /*  #endif  */      
      // &.with-tag-bar {
      //   @include page-scroll($tabs-height + $searchbar-height + $tags-height + $navigate-height + 8, 0);
      //   /*  #ifdef  h5  */  
      //   @include page-scroll($tabs-height + $searchbar-height + $tags-height + $navigate-height-h5 + 8, 0);
      //   /*  #endif  */        
      // }
      position: absolute;
      left: 0;
      width: 100%;
      top: 654rpx;
      bottom: 0;
      overflow-y: auto;
      overflow-x: hidden;
      z-index: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    &__scroll_isTabBar {
      @include page-scroll($tabs-height + $searchbar-height + $navigate-height + $tabbar-height + 8, $tabbar-height);
      /*  #ifdef  h5  */
      @include page-scroll($tabs-height + $searchbar-height + $navigate-height-h5 + $tabbar-height + 8, $tabbar-height);

      /*  #endif  */
      &.with-tag-bar {
        @include page-scroll($tabs-height + $searchbar-height + $tags-height + $navigate-height + 8, $tabbar-height);
        /*  #ifdef  h5  */
        @include page-scroll($tabs-height + $searchbar-height + $tags-height + $navigate-height-h5 + 8, $tabbar-height);
        /*  #endif  */
      }
    }

    /*  #ifdef  h5  */
    .taro-img {
      img {
        width: 100% !important;
        height: auto;
      }
    }

    /*  #endif  */

    &__type-list {

      /*  #ifdef  h5  */
      .taro-img {
        height: 100%;
      }

      /*  #endif  */
      .goods-item__bd {
        display: flex;
        align-items: center;

        &::after {
          content: "";
        }
      }

      .goods-item__img-wrap {
        width: 35vw;
        height: 35vw;
      }

      .goods-item__cont {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 35vw;
        height: auto;
        flex: 1;

        &::after {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 1px;
          background: #efefef;
          content: '';
        }
      }

      .goods-item__caption {
        flex: 1;
        height: auto;
      }
    }

    &__search {
      position: relative;

      &.on-search {
        .at-search-bar {
          padding-right: 0 !important;
        }
      }
    }

    &__type {
      position: absolute;
      width: 55px;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 50px;
      color: $color-gray;
      background: #fff;
      text-align: right;
    }
  }

  .drawer-item {
    padding: 10px 22px 10px 12px;
    margin-bottom: 30px;

    &__title {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      color: #555555;
      margin-bottom: 25px;
    }

    &__options {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &__item {
        width: 172px;
        height: 88px;
        line-height: 88px;
        text-align: center;
        color: #555555;
        background-color: #f6f6f6;
        margin-bottom: 12px;
        font-size: 26px;
      }

      &__checked {
        background-color: $color-brand-primary;
        color: #ffffff;
      }

      &__none {
        width: 172px;
        height: 0;
      }
    }
  }

  .drawer-footer {
    position: fixed;
    bottom: 26px;
    right: 0;
    width: 100%;
    padding: 0 25rpx;
    display: flex;
    justify-content: space-between;

    &__btn {
      /* width: 50%; */
      display: inline-block;
      height: 87rpx;
      /* line-height: 43px;wxcs_style_line-height; */
      text-align: center;
      background-color: #fafafa;
      /* width: 280px; */
      height: 87rpx;
      line-height: 87rpx;
      background: #FFFFFF;
      border-radius: 10rpx;
      border: 1px solid #DDDDDD;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      &_active {
        background: $color-brand-primary;
        color: #ffffff;
      }

      &:nth-child(1) {
        margin-right: 22rpx;
      }
    }
  }
}
