/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.navigation-classification {
  height: 100%;
  .first-level-scroll {
    position: sticky;
    top: 0px;
    z-index: 99;
    background: #fff;
  }
  .first-level {
    padding: 24px 16px;
    background: #fff;
    display: flex;
    // width: 100%;
    &-item {
      width: 116px;
      margin-right: 30px;
      &-img {
        width: 98px;
        height: 98px;
        border-radius: 50%;
        margin-left: auto;
        overflow: hidden;
        border: 2px solid #666666;
      }
      &-image-url {
        width: 98px;
        height: 98px;
        border-radius: 50%;
      }
      &-img-text {
        line-height: 98px;
        font-size: 22px;
        color: #666666;
        text-align: center;
      }
      &-img-index {
        border: 1px solid var(--color-primary);
      }
      &-recommendation {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        margin-top: 24px;
        color: #666666;
        padding: 10px;
        width: 116px;
        &-name {
          width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: center;
        }
      }
      &-recommendation-index {
        color: #fff;
        background: var(--color-primary);
        border-radius: 28px;
        padding: 8px 10px;
        width: 116px;
      }
      &-recommendation-index-index {
        color: #fff;
        background: var(--color-primary);
        border-radius: 28px;
        padding: 8px 10px;
        margin-top: 16px;
      }
    }
  }
  .store-products {
    .store-products-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .del {
        width: 354px;
        min-height: 600px;
        background: #ffffff;
        border-radius: 16px;
        margin-bottom: 16px;
      }
    }
    .ac_btn {
      width: 100%;
      .more {
        width: 181px;
        height: 61px;
        line-height: 61px;
        border-radius: 31px;
        border: solid 2px #0b4137;
        font-family: PingFang-SC-Medium;
        font-size: 21px;
        text-align: center;
        margin: 30px auto 50px;
      }
    }
  }
  .secondary-classification {
    background: #ffffff;
    border-radius: 16px;
    padding: 8px 16px 24px 16px;
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    &-name {
      height: 33px;
      font-family: PingFangSC, PingFang SC;
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      padding: 14px 32px;
      margin: 16px 16px 0 0;
      border-radius: 30px;
      color: #666666;
      background: #f6f6f6;
    }
    &-name-index {
      color: var(--color-primary);
      background: rgba(var(--color-rgb), 0.2);
    }
  }

  &-scroll {
    margin: 24px 16px;
    .shop-list {
      &-title {
        height: 42px;
        font-family: PingFangSC, PingFang SC;
        font-weight: 600;
        font-size: 30px;
        color: #111111;
        line-height: 42px;
        text-align: left;
        font-style: normal;
      }
      .scroll-tab {
        white-space: nowrap;
        padding: 20px 0 20px 20px;
        overflow-x: auto;
        box-sizing: border-box;
        .tag-item {
          display: inline-block;
          margin-right: 20px;
          padding: 0 10px;
          background-color: #fff;
          border-radius: 48px;
          height: 48px;
          line-height: 48px;
          font-size: 24px;
          color: #444;
          text-align: center;
          &.active {
            color: var(--color-primary);
            background: rgba(var(--color-rgb), 0.2);
          }
        }
      }
      &-item {
        background-color: #fff;
        border-radius: 16px;
        padding: 24px 16px;
        margin-bottom: 24px;
        &-del {
          display: flex;
          .shop-logo {
            width: 150px;
            height: 150px;
            margin-right: 24px;
            border-radius: 16px;
          }
          .shop-del {
            font-family: PingFangSC, PingFang SC;
            flex: 1;
            .shop-names {
              display: flex;
              justify-content: space-between;
              .name {
                width: 453px;
                font-weight: 600;
                font-size: 34px;
                color: #111111;
                line-height: 42px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .deliver {
                width: 82px;
                height: 28px;
                line-height: 28px;
                border-radius: 8px;
                font-size: 20px;
                color: var(--color-primary);
                border: 1px solid var(--color-primary);
                text-align: center;
              }
            }
            .score {
              display: flex;
              justify-content: space-between;
              margin-top: 12px;
              margin-bottom: 24px;
              font-size: 28px;
              .sales {
                font-weight: 400;
                color: #666666;
                line-height: 22px;
              }
              .monthly {
                color: #f4811f;
                margin-right: 24px;
              }
            }
            .coupon-list {
              width: 100%;
              overflow-x: auto;
              .coupon-index {
                margin-right: 8px;
              }
            }
          }
        }
        .coupon-commodity-all {
          width: 100%;
          display: flex;
          .coupon-commodity-nolist {
            flex-shrink: 0;
            width: 94px;
            margin-right: 24px;
          }
          .coupon-commodity-list {
            flex-shrink: 0;
            width: 150px;
            margin-right: 24px;
            .shop-logo {
              width: 150px;
              height: 150px;
              margin-right: 24px;
              border-radius: 16px;
            }
            .coupon-commodity-title {
              width: 150px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding: 16px 0;
              box-sizing: border-box;
            }
            .coupon-commodity-price {
              font-weight: 400;
              font-size: 24px;
              color: #bbbbbb;
              line-height: 33px;
              text-decoration-line: line-through;
            }
          }
        }
      }

      .ac_btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 690px;
        background-color: #fff;
        padding: 24px 16px;
        border-radius: 16px;
        background: linear-gradient(270deg, #ffffff 0%, #fbe5d2 80%);
        .more {
          font-family: PingFangSC, PingFang SC;
          font-weight: 500;
          font-size: 28px;
          color: #222222;
          line-height: 40px;
          text-align: left;
          font-style: normal;
          .icon-spiritling-dingwei {
            color: var(--color-primary);
            margin-right: 16px;
            font-size: 28px;
          }
        }
        .icon-qianwang-01 {
          font-size: 20px;
        }
      }
    }
  }
}
