.page-ecshopx-nearlyshop {
  .search-block {
    padding: 20px;
  }
  .search-bar {
    background: #fff;
    height: 60px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
  }
  .region-picker {
		display: flex;
    align-items: center;
    margin-right: 20px;
    width: 45%;
    justify-content: flex-start;
  }
  .pick-title {
    display: flex;
    align-items: center;
    .icon-periscope, .icon-arrowDown {
      font-size: 28px;
    }
  }
  .pick-address {
    color: #333;
    font-size: 26px;
    @include text-overflow();
  }
  .search-comp-wrap {
    flex: 1;
    display: flex;
    align-items: center;
    .icon-close {
      font-size: 28px;
		}
  }
  .icon-sousuo-01 {
    font-size: 32px;
    color: #aaa;
  }
  .search-comp {
    flex: 1;
    height: 60px;
    font-size: 24px;
    margin: 0 10px;
  }

  .location-block {
    margin: 0 16px 40px;
    padding: 0 16px;
    background: #fff;
    border-radius: 16px;
    .block-title {
      font-size: 26px;
      color: #999;
      padding: 28px 0;
    }
    .location-wrap {
      display: flex;
      justify-content: space-between;
    }
    .location-address {
      width: 460px;
      font-weight: bold;
    }
    .btn-location {
      color: var(--color-primary);
    }
    .icon-zhongxindingwei {
      font-size: 30px;
      margin-right: 4px;
      display: inline-block;
      &.active {
        animation: spin-loader 1.5s infinite linear;
      }
    }
  }

  .receive-address {
    padding-bottom: 40px;
  }

  .btn-add-address {
    width: 380px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    /* prettier-ignore */
    border: 1PX solid var(--color-primary);
    border-radius: 30px;
    text-align: center;
    color: var(--color-primary);
  }

  .nearlyshop-list {
    .list-title {
      font-size: 30px;
      color: #111;
      font-weight: bold;
      padding: 10px 20px;
    }
  }

  .shoplist-block {
    padding: 0 16px;
    border-radius: 16px;
    margin-bottom: 20px;
    .shop-item-wrapper {
      overflow: hidden;
      position: relative;
      // &:not(:last-child) {
      //   &:after {
      //     content: "";
      //     height: 1PX;
      //     background-color: #ddd;
      //     position: absolute;
      //     bottom: 0;
      //     left: 20px;
      //     right: 20px;
      //   }
      // }
      &:first-child {
        border-radius: 16px 16px 0 0;
      }
      &:last-child {
        border-radius: 0 0 16px 16px;
      }
    }
  }

  @keyframes spin-loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}