.page-shop-list {
  .search-block {
    padding: 16px 24px;
    background: #fff;
  }
  .filter-block {
    padding: 0 28px;
    background: #fff;
  }
  .sp-filter-bar {
    justify-content: flex-start;
  }
  .sp-filter-bar__item {
    flex: initial;
    padding: 0 20px;
  }
  .sp-filter-bar__extra {
    flex: 1;
    text-align: right;
  }
  .filter-btn {
    font-size: 28px;
    color: var(--color-primary);
    position: relative;
    text-align: text;
    float: right;
    &:before {
      content: "";
      display: block;
      height: 40px;
      /* prettier-ignore */
      width: 1PX;
      background: #f5f5f5;
      position: absolute;
      left: -30px;
    }
    .icon-filter {
      font-size: 30px;
    }
  }
  .shoplist-block {
    /* prettier-ignore */
    margin-top: 1PX;
    padding: 20px 16px;
    background: #fff;
  }

  .shop-item-wrapper {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
