@import '../../style/imports';

.price {
  &__primary {
    color: $color-brand-primary;
  }
  &__symbol {
    margin-right: 5px;
    font-weight: normal;
  }
  &__int {
  }
  &__decimal {
    font-size: 1em;
  }
}