.sp-vip-label {
  display: inline-block;
  color: #fff;
  font-size: 22px;
  padding: 0 8px 0 4px;
  border-radius: 0 16px 16px 0;
  position: relative;
  margin-left: 16px;
  transform: scale(0.9);
  &::before {
    content: '';
    position: absolute;
    left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
  }
  &.member {
    background: linear-gradient(270deg, #FF7089 0%, #FF0000 100%);
    &::before {
      border-top: 6px solid #FF0000;
    }
  }
  &.vip {
    background: linear-gradient(270deg, #fdc300 0%, #ff8400 100%);
    &::before {
      border-top: 6px solid #ff8400;
    }
  }
  &.svip {
    background: linear-gradient(270deg, #fcc0a8 0%, #b96c2e 100%);
    &::before {
      border-top: 6px solid #b96c2e;
    }
  }
}
