/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.sp-vip-label {
  display: inline-block;
  font-size: 26px;
  padding: 0 4px;
  position: relative;
  margin-right: 10px;
  transform: scale(0.9);
  &::before {
    content: '';
    position: absolute;
    left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
  }
  &.member {
    color: #FF0000;
  }
  &.vip {
    color: #FF8400;
  }
  &.svip {
    color: #B96C2E;
  }
}
