/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.sp-powered-by {
  color: #b3b3b3;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  line-height: 80px;

  &__text {
    line-height: inherit;
  }

  &__logo {
    width: 120px;
    height: 32px;
    line-height: 32px !important;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
