/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.sp-point {
  font-family: D-DIN-PRO, D-DIN-PRO;
  font-weight: 600;
  font-size: 34px;
  line-height: 1;
  .point {
    color: var(--color-primary);
    margin-right: 4px;
  }
  .unit {
    font-family: D-DIN-PRO, D-DIN-PRO;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    color: var(--color-primary);
  }
}
