.sp-trade-item {
  display: flex;
  .tradeitem-hd {
    margin-right: 24px;
  }
  .tradeitem-bd {
    flex: 1;
  }
  .goods-info-hd {
    display: flex;
    justify-content: space-between;
    .name {
      font-size: 28px;
      color: #222;
      margin-right: 40px;
      @include multi-ellipsis(2);
      .prescription-drug{
        font-size: 24px;
        color: var(--color-primary);
        padding: 0 4px;
        border-radius: 4px;
        border: 1px solid var(--color-primary);
        line-height: 34px;
        margin-right: 8px;
      }
    }
  }
  .goods-info-bd {
    display: flex;
    justify-content: space-between;

    .spec-desc,
    .num {
      font-size: 24px;
      color: #999;
      margin-top: 10px;
    }
  }
}
