/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.sp-form-item {
  background-color: #fff;
  margin-bottom: 42px;
  padding: 0 30px;
  position: relative;

  &.sp-form-item-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .form-item-control {
      flex: 1;
    }
    .at-input {
      margin: 0 !important;
    }
  }

  .form-item-label {
    margin-bottom: 4px;
    position: relative;
    .label {
      margin-left: 0;
      font-size: 26px;
      color: #666;
    }
  }

  &.split-line {
    background-color: transparent;
    margin: 20px 0 4px 0;
    padding: 0;

    .form-item-label {
      padding: 0 20px;
    }
    .label {
      font-size: 24px;
    }
    + .sp-form-item {
      padding-top: 40px;
    }
  }

  .form-item-control {
    &.disabled {
      .at-input {
        background-color: #f5f5f5;
      }
    }
    // border-radius: 4px;
    // /* prettier-ignore */
    // border: 1PX solid #DDDDDD;
    // padding: 0 24px;
  }

  .form-item-message {
    position: absolute;
    color: var(--color-primary);
    font-size: 26px;
    bottom: -40px;
    left: 10px;
  }

  .required {
    display: inline-block;
    color: #b50303;
    width: 28px;
    position: absolute;
    left: -16px;
    top: 4px;
  }

  .label {
    margin-left: 28px;
  }

  .at-input {
    margin-bottom: 0px;
    border-radius: 4rpx;
    border: 1px solid #dddddd;
    padding: 16px 24px;

    &:after {
      border-color: transparent;
    }
  }

  .at-input-date {
    height: 44px;
    line-height: 44px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    padding: 16px 24px;
  }

  .btn-upload,
  .file-item {
    border-radius: 4px;
    margin-bottom: 0;
  }

  .icon-fuzhi {
    font-size: 28px;
    margin-left: 10px;
  }

  .text-field {
    .text-value {
      font-size: 28px;
      color: #333;
    }
  }
}
