.page-invoice {
  .btn-wrap {
    padding: 20px 36px 38px 36px;
    display: flex;
    justify-content: space-between;
    &-img {
      width: 32px;
      height: 32px;
      &-wrap {
        margin-right: 8px;
      }
    }
    &-icon {
      font-size: 36px;
    }
    &__harvest,
    &__add {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 330px;
      height: 76px;
      background: rgba(212, 0, 59, 0.1);
      border: 2px solid rgba(212, 0, 59, 0.15);
      color: var(--color-primary);
      border-radius: 12px;
      font-family: PingFang SC, PingFang SC;
      font-weight: 400;
      font-size: 28px;
      text-align: center;
    }
    &__harvest {
      color: #1a1a1a;
      background: #fff;
      border: 2px solid #ebebeb;
    }
    &__all {
      width: 100%;
    }
    &__disabled {
      background: rgba(212, 0, 59, 0.15);
      color: #ffffff;
    }
  }

  .scroll-view-container {
    height: 100%;
    box-sizing: border-box;
  }

  &__footer {
    .privacy-box {
      padding-left: 36px;
      padding-top: 20px;
      font-family: PingFang SC, PingFang SC;
      font-weight: 400;
      font-size: 26px;
      color: #1a1a1a;
      display: flex;
      align-items: center;
      .privacy-txt {
        color: var(--color-primary);
      }
      .iconfont {
        margin-right: 8px;
        font-size: 32px;
        color: var(--color-primary);
      }
    }
  }

  &__form {
    .sp-cell {
      padding: 0 36px;
      height: 136px;
      align-items: center;
      background: #fff;
      &__hd {
        width: 160px;
      }

      &__bd {
        padding: 0;
      }

      &__ft {
        display: none;
        flex: 0;
      }

      &__link {
        width: 0;
      }

      &__title {
        font-family: PingFang SC, PingFang SC;
        font-weight: 400;
        font-size: 28px;
        color: #1a1a1a;
      }
    }

    .at-input {
      margin: 0;
      padding: 0;

      &:after {
        border-color: transparent;
      }

      &__input {
        padding-right: 0;
      }
    }

    .invoice-order-id {
      font-family: PingFang SC, PingFang SC;
      font-weight: 500;
      font-size: 28rpx;
      color: #999999;
    }
    .invoice-price {
      font-family: PingFang SC, PingFang SC;
      font-weight: 600;
      font-size: 28px;
      color: #1a1a1a;
    }

    .cell-wrap {
      display: flex;
      align-items: center;
      &__item {
        display: flex;
        align-items: center;
        margin-right: 48px;
        &-text {
          font-family: PingFang SC, PingFang SC;
          font-weight: 400;
          font-size: 28px;
          color: #1a1a1a;
        }
        .iconfont {
          font-size: 34px;
          color: #bfbfbf;
          margin-right: 8px;
        }
        .icon-a-iconcheck_box01 {
          color: var(--color-primary);
        }
      }
      .icon-arrowRight {
        font-size: 34px;
        color: #bfbfbf;
      }
    }

    .more-box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 82px;
      background: #fff;
      &__text {
        font-family: PingFang SC, PingFang SC;
        font-weight: 400;
        font-size: 24px;
        color: #999999;
      }
      .iconfont {
        font-size: 32px;
        color: #999999;
      }
    }
  }

  .invoice-box {
    padding-top: 24px;
    &__title {
      padding: 24px 36px 12px 36px;
      font-family: PingFang SC, PingFang SC;
      font-weight: 500;
      font-size: 24rpx;
      color: #999999;
    }
    &__bottom {
      margin-bottom: 124px;
    }
  }

  .border-bottom {
    &::before {
      content: '';
      position: absolute;
      left: 36px;
      right: 36px;
      /* prettier-ignore */
      height: 1PX;
      bottom: 0;
      background: #ebebeb;
    }
  }

  .input-placeholder {
    font-family: PingFang SC, PingFang SC;
    font-weight: 400;
    font-size: 28px;
    color: #bfbfbf;
  }

  .at-input input {
    font-family: PingFang SC, PingFang SC;
    font-weight: 400;
    font-size: 28px;
    color: #1a1a1a;
  }

  .invoice-type-float {
    .sp-float-layout-bd {
      background: #f5f5f5;
    }
  }
  .invoice-type-box {
    margin-bottom: 24px;
  }
  .invoice-type-option {
    background: #ffffff;
    border-radius: 12px;
    padding: 24px;
    margin-bottom: 24px;
    &.selected {
      border: 1px solid var(--color-primary);
    }
    .option-header {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      .option-title {
        font-family: PingFang SC, PingFang SC;
        font-weight: 400;
        font-size: 26px;
        color: #1a1a1a;
      }
      .option-electronic {
        font-family: PingFang SC, PingFang SC;
        font-weight: 400;
        font-size: 26px;
        color: #1a1a1a;
      }
      .iconfont {
        margin-left: auto;
        margin-right: 8px;
        font-size: 32px;
        color: var(--color-primary);
      }
    }
    .option-desc {
      font-family: PingFang SC, PingFang SC;
      font-weight: 400;
      font-size: 24px;
      color: #999999;
    }
  }
  .invoice-type-tips {
    font-family: PingFang SC, PingFang SC;
    font-weight: 400;
    font-size: 24px;
    color: #999999;
    text-align: left;
    padding-bottom: 50px;
  }
}
