/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.sp-shop-fullReduction {
  color: black;
  display: flex;
  flex-direction: row;
  .label-style {
    width: 66px;
    height: 34px;
    background: linear-gradient(174deg, #f31346 0%, #ff4a4a 100%);
    border-radius: 5px;
    margin-right: 8px;
    font-size: 22px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #ffffff;
    line-height: 34px;
    text-align: center;
  }
  .text-style {
    font-size: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999999;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
