/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.page-good-reservate {
  padding: 56px 24px;
  box-sizing: border-box;
  background-size: 750px 100%;
  background-repeat: no-repeat;
  min-height: 90vh;

  .scroll-view-container {
    height: 100%;
    .scroll-view-body {
      overflow: hidden;
    }
  }

  &__welcome {
    font-weight: 400;
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 600;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 24px;
  }

  &__tips {
    padding: 24px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 24px;
    color: #ffeeb6;
    background: rgba($color: #fff, $alpha: 0.5);
    text-align: center;
    margin-bottom: 62px;
    border-radius: 16px;
  }

  .submit-btn {
    font-size: 30px;
  }

  &__form {
    padding: 86px 24px 48px 24px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 16px;
  }
  .search-condition {
    border-radius: 4rpx;
    border: 1px solid #dddddd;
    padding: 16rpx 24rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-empty {
      color: #dddddd;
    }
  }

  .form-item-label {
    margin-bottom: 16px !important;
  }

  .sp-form-item .form-item-message {
    position: initial;
    margin-top: 12px;
  }
}
