/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.wgt-marquees {
  .at-noticebar {
    background: transparent;
  }
  .marquees {
    height: 64px;
  }
  .marquees-item {
    padding: 0 16px;
    height: 64px;
    line-height: 64px;
    .item-text {
      font-size: 26px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
