/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.comp-wirteoff-code {
  .wirte-off-code {
    text-align: center;
    margin-top: 24px;
  }
  .qrcode-image {
    width: 480px;
  }
  .pickup-code {
    font-size: 38px;
    color: #333;
    text-align: center;
    margin-top: 20px;
  }
  .wirte-off-desc {
    font-size: 24px;
    color: #666;
    text-align: center;
    margin: 24px 0;
  }
}
