.guide-recommend-detail {
  .article-hd {
    padding: 16px 32px;
    background: #fff;
  }
  .article-title {
    font-size: 40px;
    color: #222;
  }
  .article-info {
    margin-top: 16px;
  }
  .update-time {
    color: #666;
    font-size: 26px;
    margin-right: 10px;
  }
  .focus-num {
    color: #333;
    font-size: 26spx;
  }
  .sp-page-footer {
    background: #fff;
  }
  .btn-wrap {
    background: #fff;
    height: 120px;
    box-sizing: border-box;
    padding: 20px;
  }
  .btn-share {
    height: auto;
    background: transparent;
    font-size: 24rpx;
    padding: 0;
    height: 80px;
    border-width: 0;

    color: #333;
  }
}
