/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.page-category-index-new {
  width: 100%;
  background: #ffffff;
  .at-tabs {
    height: 100%;
  }
  .sp-page__body-children {
    height: 100%;
  }
  .at-tabs__header {
    justify-content: start;
    height: 92px;
    .at-tabs__item {
      flex: none;
      color: #999;
      font-size: 28px;
      line-height: 48px;
      transition: all 0.6s;

      padding: 24px 30px;
      &--active {
        font-size: 36px;
        color: #222;
      }
      .at-tabs__item-underline {
        background: none;
      }
    }
  }
  .at-tabs__body {
    height: calc(100% - 92px);
  }
  .at-tabs-pane,
  .at-tabs-pane--active {
    height: 100%;
  }
  .comp-series__nav-list__content {
    opacity: 0.9;
  }
  .comp-series__nav-list__content_text-active::before {
    background: #000;
  }
  .comp-series__nav-list__content_text-active {
    color: #000;
    font-weight: bold;
  }

  .search-input-fixed {
    z-index: $z-index-toolbar + 1;
  }
  .category__tabs {
    background: #fff;
    position: fixed;
    padding-top: 10px;
    top: 0;
    height: $tabs-height + 10px;
  }
  .category-comps {
    box-sizing: border-box;
    background: #ffffff;
    position: static !important;
    height: 100%;
  }
  .category-comps-not {
    box-sizing: border-box;
    background: #ffffff;
    position: static !important;
    height: 100%;
  }
}
