/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

// 注意：这个文件是空的，因为具体的样式在各个挂件的 SCSS 文件中定义
// 例如：wgt-goods__one-list, wgt-group__one-list 等
