@import "@/style/imports";

.tags {
  width: 100%;
  white-space: nowrap;
  border: none;
  // background: #fff;
  // border-bottom: 1PX solid #efefef;
  padding-left: 10px;
  .tag-item {
    display: inline-block;
    height:47px;
    line-height: 47px;
    font-size: 24px;
    background-color: #F5F5F5;
    border-radius: 30px;
    margin-right: 17px;
    color: #222;
    padding: 10px 40px;
    font-weight: 500;
    &_active {
      background: rgba(244,129,31,0.1);
        color: #F4811F;
    }
  }
}
