.end-text{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 184px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #AAAAAA;
}
