.page-store-brand{
    

    &-scrollview{
        .margin{
            margin:16px;
            background-color: white;
            border-radius: 16px;
 
            .comp-header{
                position: relative;
                padding:24px 16px;

                .header-top{
                    .top-middle{
                        padding-top:2px;
                    }
                }
            }  
            
        }
        .padding{
            padding:32px 24px;
        }
        .brand{
            .title{
                font-weight: 600;
                color: #333333;
                font-size: 28px;
            }
            .content{
                font-size: 24px;
                color: #333333;
            }
        }
        .good{
            height: 100px;
            @include flex-center(); 
            .title{
                font-size: 28px;
                font-weight: 600;
                color:var(--color-primary);
            } 
        }
    }
}