@import "../../style/imports";
@import "../../style/animations";

$current-shop-height: 150px !default;

.page-store-list {
  background: #fff;
  height: 100%;
  box-sizing: border-box;
  &__scroll {
    @include page-scroll($searchbar-height + $current-shop-height + 10, 0);
  }
  .current-store {
    padding-top: 20px;
    height: $current-shop-height;
    .label {
      padding: 0 30px;
      height: 50px;
      line-height: 50px;
      background: #f8f8f8;
    }
    .content {
      padding: 0 30px;
      height: 80px;
      line-height: 80px;
      .loading {
        @include fade-loop(1s);
      }
      [class^="icon-"] {
        font-size: 42px;
        color: $color-gray;
      }
    }
  }
}
