@import "../../style/imports";
@import "../../style/animations";

// 搜索栏高度
$search-height: 90px;
$content-height: 330px;
$header-height: $content-height + $search-height;
$bottom-height: 100px;

// 收货地址高度
$nodelivery-height: $header-height - 185px;
// 无门店高度
$noStore-height: 330px;

page {
  width: 100%;
  height: 100%;
}

.page-store-list {
  height: 100%;
  box-sizing: border-box;
  /*  #ifdef  h5  */  
  padding-top: $navigate-height-h5;
  /*  #endif  */   
  .search {
    background: #fff;
    padding: 15px 20px;
    .main {
      background: #eff0f1;
      display: flex;
      align-items: center;
      height: 60px;
      padding: 0 38px;
      border-radius: 30px;
      .filterArea {
        width: 210px;
        flex-shrink: 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-right: 27px;
        .areaName {
          width: 140px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 28px;
          color: #111;
        }
        .icon-arrowDown {
          color: #666;
        }
        &::after {
          content: '';
          position: absolute;
          height: 80%;
          border-right: 2px solid #9d9d9d;
          top: 50%;
          right: 17px;
          transform: translateY(-50%);
        }
      }
      .searchInput {
        flex: 1;
      }
    }
  }
  .content {
    max-height: $content-height;
    overflow: hidden;
    .location, .delivery {
      background: #fff;
      padding: 15px 20px;
      border-top: 2px solid #efefef;
      .title {
        font-size: 30px;
        color: #666;
      }
      .locationData {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .lngName {
          width: 470px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 28px;
          color: #111;
        }
        .resetLocal {
          display: flex;
          align-items: center;
          .icon-target {
            font-size: 32px;
          }
        }
      }
    }
    .delivery {
      margin-top: 30px;
      .lngName {
        width: 100% !important;
      }
    }
  }
  .noContent {
    height: $noStore-height;
    text-align: center;
    background: #fff;
    .img {
      width: 150px;
      height: 150px;
      border-radius: 8px;
      margin-top: 57px;
    }
    .tip {
      font-size: 28px;
      color: #666;
      margin-top: 32px;
    }
  }
  .list {
    width: 100%;
    height: calc(100% - #{$header-height} - #{$bottom-height} - 30px);
    margin-top: 30px;
    &.noDelivery {
      height: calc(100% - #{$nodelivery-height} - #{$bottom-height} - 30px);
    }
    &.recommedList {
      height: calc(100% - #{$noStore-height} - #{$search-height} - #{$bottom-height} - 30px);
    }
    .title {
      height: 80px;
      padding: 16px 30px 30px;
      font-size: 30px;
      color: #666;
      background: #fff;
    }
    .recommed{
      display: flex;
      justify-content: center;
      .title {
        background: transparent;
        position: relative;
        &::before, &::after {
          content: '';
          width: 60px;
          border-top: 2px solid #666;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        &::before {
          left: -40px;
        }
        &::after {
          right: -40px;
        }
      }
    }
    .scroll {
      height: calc(100% - 80px);
    }
  }
  .bottom {
    position: fixed;
    width: 100%;
    height: $bottom-height;
    left: 0;
    bottom: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14);
    .img {
      width: 40px;
      height: 40px;
      border-radius: 8px;
      margin-right: 32px;
    }
    .iconfont {
      margin-left: 32px;
    }
  }
}
