// 搜索栏高度
$search-height: 90px;
// 内容高度
$content-height: 330px;
// 定位高度
$local-height: 162px;
// 门店高度
$store-height: 185px;
// 头部高度
$header-height: $content-height + $search-height;
$bottom-height: 100px;

// 收货地址高度
$nodelivery-height: $header-height - $store-height;

@import '@/style/imports';

.page-store-list {
  height: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
  /*  #ifdef  h5  */
  padding: 0px;
  /*  #endif  */
  .search-block {
    padding: 25px 0px;
    /*  #ifdef  h5  */
    padding: 25px 20px;
    /*  #endif  */
    .main {
      background: #fff;
      display: flex;
      align-items: center;
      height: 60px;
      padding: 0 20px;
      border-radius: 30px;
      position: relative;
      padding-right: 55px;
      .filterArea {
        width: 230px;
        flex-shrink: 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-right: 27px;
        .areaName {
          width: 180px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 26px;
          color: #222;
        }
        .icon-arrowDown {
          color: #666;
        }
        &::after {
          content: '';
          position: absolute;
          height: 80%;
          border-right: 2px solid #9d9d9d;
          top: 50%;
          right: 17px;
          transform: translateY(-50%);
        }
      }
      .searchInput {
        flex: 1;
        font-size: 24px;
        color: #222;
      }
    }
  }

  .block-content {
    padding: 20px 30px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 16px;
    /*  #ifdef  h5  */
    margin: 10px 20px 30px;
    /*  #endif  */
    .block-hd {
      color: #999999;
      font-size: 28px;
      margin-bottom: 15px;
    }
    .flex-header {
      display: flex;
      justify-content: space-between;
    }
    .address-btn {
      width: 40%;
      border-radius: 30px;
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
      text-align: center;
      margin: 38px auto 30px;
      padding: 10px 0px;
    }
    .arrow {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #222222;
    }
    .currentadress {
      padding-top: 25px;
      border-top: 1px solid #ddd;
    }
    .location {
      padding-bottom: 25px;
    }
    .location-wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .location-address {
      color: #111;
      font-size: 28px;
      padding-right: 40px;
    }
    .btn-location {
      // width: 260px;
      color: var(--color-primary);
      display: flex;
      align-items: center;
    }
  }

  .bottom {
    position: fixed;
    width: 100%;
    height: $bottom-height;
    left: 0;
    bottom: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14);
    .img {
      width: 40px;
      height: 40px;
      border-radius: 8px;
      margin-right: 32px;
    }
    .iconfont {
      margin-left: 32px;
    }
  }
  .tip {
    text-align: center;
  }
  .iconcss {
    font-size: 30px;
    color: var(--color-primary);
    margin-right: 5px;
  }
  .title {
    color: #111;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 10px;
    padding-left: 20px;
    margin-top: 40px;
    /*  #ifdef  h5  */
    padding-left: 35px;
    /*  #endif  */
  }
  .no-more {
    text-align: center;
  }
  .store-scroll {
    /*  #ifdef  h5  */
    margin: 10px 20px;
    /*  #endif  */
  }
  .region-picker {
    display: flex;
    align-items: center;
    margin-right: 20px;
    width: 45%;
    justify-content: flex-start;
    // @include text-overflow();
    .icon-close {
      margin-left: 10px;
    }
  }
  .pick-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    width: 100%;
    .texts {
      @include text-overflow();
    }
    .iconfont {
      font-size: 28px;
    }
  }
  .close-css {
    font-size: 30px;
    position: absolute;
    right: 15px;
    z-index: 99;
  }
}
.page-store-lists {
  .position-imgs {
    width: 370px;
    height: 286px;
    margin: 200px auto 65px;
    display: block;
  }
}
