.comp-tradetype {
  display: flex;
  background: #fff;
  padding: 0 20px;
  box-sizing: border-box;
  justify-content: flex-end;
  .sp-tag-bar {
    background: #fff !important;
    padding: 0 20px;
    box-sizing: border-box;
    .tag-item {
      margin: 0 !important;
      height: 60px !important;
      line-height: 60px !important;
      background: #F4F4F4 !important;
      border-radius: 32px;
      padding: 0 32px;

      &.active {
        background: var(--color-primary) !important;
        font-size: 28px !important;
        font-weight: 400 !important;
      }
    }

    .tag-container {
      width: 100% !important;
    }
  }

  .tag-bar-hd {
    flex: 0 !important;
    background: #F4F4F4 !important;
    border-radius: 32px;
  }
}