.comp-tradedetail{
  width: 100%;
  background: #fff;
  padding: 10px 0px;
  box-shadow: 0px 2px 10px 0px #eae7e0;
  .opreator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    &-name{
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      max-width: 400px;
    }
    &-mobile{
      color: #999;
      font-size: 24px;
      border: solid 1px #ccc;
      border-radius: 8px;
      padding: 2px ;
    }

  }
  .tradedetail-container{
    height: 800px ;
    padding: 30px 0 0 8px;
    box-sizing: border-box;
  }
}
