$primary-color: var(--color-rgb);
$warning-color: rgb(203, 152, 0);

.sp-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 6px;
  height: 26px;
  line-height: 26px;

  &__text {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
  }
  &--secondary {
    border: 1px solid rgba(212, 0, 59, 0.15);
    color: var(--color-primary);
    background-color: #fff;
  }
  // 类型变体
  &--default {
    background-color: #f5f5f5;
    color: #666;
    border: 1px solid #f0f0f0;
  }

  &--primary {
    background: rgba($primary-color, 0.1);
    border: 1px solid rgba($primary-color, 0.15);
    color: rgba($primary-color, 1);
  }

  &--warning {
    background: rgba($warning-color, 0.1);
    border: 1px solid rgba($warning-color, 0.15);
    color: rgba($warning-color, 1);
  }

  &--success {
    background-color: #e6f7e6;
    color: #52c41a;
    border: 1px solid #e6f7e6;
  }

  &--danger {
    background-color: #fff1f0;
    color: #ff4d4f;
    border: 1px solid #fff1f0;
  }

  &--info {
    background-color: #e6f4ff;
    color: #1890ff;
    border: 1px solid #e6f4ff;
  }

  &--target {
    background-color: rgba(255, 101, 5, 0.1);
    color: #ff6505;
    border: 1px solid rgba(255, 101, 5, 0.15);
  }

  &--custom {
    background-color: #d4003b;
    color: #ffffff;
    border: 1px solid #d4003b;
  }

  // 禁用状态
  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
