@import '../../style/imports';

.page-goods-detail {
  .wgts-wrap__cont {
    background: #ffffff;
  }
  .at-float-layout {
    .layout-header {
      height: 80px;
      background-color: transparent;
    }
    .at-float-layout__container {
      min-height: auto;
    }
    .layout-body {
      min-height: auto;
    }
    .layout-body__content {
      min-height: auto;
    }
  }
}

.wgt {
  &__padded {
    padding: 40px 0;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 0 20px 10px;
  }

  &__title {
    display: flex;
    align-items: flex-end;
    flex: 1;
    font-size: 32px;
  }

  &__subtitle {
    padding-left: 10px;
    font-size: 24px;
    color: #999;
  }
}

.goods-detail {
  &__wrap {
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: $toolbar-height;
  }

  &__content {
    background: #fff;
    font-size: 30px;

    .wxParse-inline {
      font-size: 30px;
    }
  }
}

.goods-imgs {
  &__wrap {
    position: relative;
    height: 100vw;
  }

  &__swiper {
    height: 100vw;
  }

  &__text {
    background: rgba(#000, 0.5);
    position: absolute;
    color: #fff;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    padding: 0 20px;
    position: absolute;
    z-index: 5;
    bottom: 28px;
    right: 24px;
    white-space: nowrap;
    text-align: center;
  }
}

.goods-timer {
  background: linear-gradient(to left, $color-brand-primary, $color-brand-primary);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  color: #fff;
  padding: 0 $edge-size;

  &__hd {
    width: 30%;
  }

  &__bd {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 16px 0;
  }

  .goods-prices {
    display: block;

    .price {
      font-size: floor(1.6 * $font-size);
    }

    &__rule,
    &__type {
      font-size: floor($font-size-small * 0.9);
      display: inline-block;
      padding: 0 10px;
      border: 1px solid #fff;
      margin-right: 5px;
      border-radius: 10PX;
      overflow: hidden;
    }

    &__ft {
      .price {
        font-size: floor(0.8 * $font-size);
      }
    }

    .goods-prices__market {
      color: #fff;
      font-size: floor(0.8 * $font-size);
    }
  }

  .at-countdown__time-box {
    font-family: "Helvetica";
    background: #fff;
    border-radius: 6px;
    width: 50px;
    height: 50px;
    line-height: 52px;
    color: $color-brand-primary;
    font-weight: 600;
  }
}

.goods-prices {
  display: flex;
  align-items: baseline;
  font-size: $font-size * 2;
  margin: 0 0 12px;

  .price {
    font-size: 43px;

    &__symbol {
      font-size: 32px;
    }
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  &__market {
    font-size: $font-size-small;
    color: $color-gray;
    text-decoration: line-through;
    font-weight: normal;
    margin-left: 16px;
  }
}

.goods-sold {
  padding-left: 20px;
  font-size: $font-size-small;
  color: $color-gray;
}

.goods-income {
  background: $color-brand-primary;
  color: #fff;
  padding: 10px $edge-size;
  margin: -$edge-margin 0 $edge-margin;
  position: relative;
}

.goods-hd {
  background: #fff;
  padding: 50px $edge-size 15px;
  margin: 0 0 $edge-margin;
}

.goods-title {
  font-size: 32px;
  display: block;
  color: #000;
  text-align: center;
  @include multi-ellipsis(2);
  line-height: 1.2;
  margin: 0 60px 14px;

  &__desc {
    display: block;
    text-align: center;
    font-size: 18px;
    display: block;
    line-height: 1.4;
    color: $color-gray;
    font-size: $font-size-small;
    margin-bottom: 28px;
  }
}

.goods-fav {
  background: #f4f4f4;
  width: 112px;
  color: $color-gray;
  height: 60px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  position: relative;
  right: 0;
  margin-right: -$edge-size;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;

  &__text {
    font-size: 20px;
    color: $color-gray;
    margin-left: 4px;
  }
}

.goods-sec-action {
  display: flex;
  font-size: $font-size-small;
  line-height: 1;
  padding: $edge-size;

  .goods-action {
    flex: 1;

    &__label {
      color: $color-gray;
      margin-right: 28px;
    }
  }
}

.goods-sec-props {
  .sec-hd {}

  .goods-props__wrap {
    box-sizing: border-box;
    padding: $edge-size;
    display: flex;
    flex-wrap: wrap;
  }

  .prop-item {
    display: flex;
    width: 50%;

    &__label {
      color: $color-gray;
      width: 30%;
    }

    &__cont {
      flex: 1;
    }
  }
}

.goods-sec-specs {
  background: #fff;
  padding: 30px;
  margin: 0 0 $edge-margin;

  &__activity {
    font-size: 26px;

    &-label {
      color: $color-brand-primary;
      display: inline-block;
      vertical-align: middle;
    }

    .promotion-title {
      font-size: 28px;
      margin-bottom: 10px;
    }

    .promotion-text {
      display: inline-block;
      vertical-align: middle;
      font-size: 26px;
    }

    .promotion-rule-content {
      margin-left: 10px;

      &__text {
        font-size: 24px;
        line-height: 34px;
        display: block;
      }
    }

    .promotion-goods {
      &__tag {
        font-size: 24px;
        color: #FC7309;
      }

      &__name {
        font-size: 24px;
      }

      &__num {
        font-size: 24px;
        margin-left: 30px;
      }
    }
  }
}

.goods-sec-tabs {
  .sec-tabs {
    height: 110px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
  }

  .sec-tab {
    &__item {
      font-size: $font-size;
      flex: 1;
      text-align: center;

      &.is-active {
        color: $color-brand-primary;
        text-decoration: underline;
      }
    }

    &__panel {
      display: none;
    }
  }

  .is-show {
    display: block !important;
  }
}

.store-info {
  .store-brand {
    display: block;
    margin-right: 20px;
    width: 120px;
    height: 120px;
  }
  .store-name {
    font-size: 32px;
  }
  .store-desc {
    color: #999;
  }
  .store-attention-btn, .store-enter-btn {
    margin-top: 20px;
    line-height: 60px;
    border-radius: 6px;
    box-shadow: 0 0 1PX rgba(0,0,0,0.5);
    text-align: center;
    font-size: 28px;
  }
  .store-attention-btn {
    margin-right: 10px;
  }
  .store-enter-btn {
    margin-left: 10px;
  }
}

.canvas {
  position: fixed;
  width: 375PX;
  height: 640PX;
  top: -10000px;
}
.poster-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 999;
  .poster {
    width: 75vw;
    height: auto;
  }
  .poster-close-btn {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    line-height: 70px;
    text-align: center;
    box-shadow: inset 0 0 0 1PX #fff;
    border-radius: 100%;
    color: #fff;
    font-size: 40px;
    background: rgba(255,255,255,0.5);
  }
  .poster-save-btn {
    height: 70px;
    margin-left: 50px;
    margin-top: 20px;
    padding: 0 50px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    border-radius: 70px;
    background: $color-brand-primary;
    font-size: 26px;
    &::before {
      margin-right: 10px;
    }
  }
}

.at-divider__line {
  width: 38%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}

.at-divider__content {
  background: $color-bg-gray;
  color: $color-gray;
  z-index: 10;
}
