@import '../../style/imports';

.page-goods-detail {

}

.goods-detail {
  &__wrap {
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: $toolbar-height;
  }
  &__content {
    background: #fff;
  }
}

.goods-imgs {
  &__wrap {
    position: relative;
  }
  &__text {
    background: rgba(#000, 0.5);
    position: absolute;
    color: #fff;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    padding: 0 20px;
    position: absolute;
    z-index: 5;
    bottom: 28px;
    right: 24px;
    white-space: nowrap;
    text-align: center;
  }
}

.goods-timer {
  background: linear-gradient(90deg, lighten($color-brand-primary, 10%), $color-brand-primary);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  color: #fff;
  padding: 0 $edge-size;
  &__hd {
    width: 30%;
  }
  &__bd {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 16px 0;
  }
  .goods-prices {
    display: block;
    .price {
      font-size: floor(1.6 * $font-size);
    }
    &__type, &__rule {
      font-size: floor($font-size-small * 0.9);
      display: inline-block;
      padding: 0 10px;
      border: 1px solid #fff;
      margin-right: 5px;
      border-radius: 10PX;
      overflow: hidden;
    }
    &__ft {
      .price {
        font-size: floor(0.8 * $font-size);
      }
    }
    .goods-prices__market {
      color: #fff;
      font-size: floor(0.8 * $font-size);
    }
  }
  .at-countdown__time-box {
    background: #fff;
    border-radius: 6px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.goods-prices {
  display: flex;
  align-items: baseline;
  font-size: $font-size * 2;
  margin: 0 0 12px;
  .price {
    font-size: 43px;
    &__symbol {
      font-size: 32px;
    }
  }
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  &__market {
    font-size: $font-size-small;
    color: $color-gray;
    text-decoration: line-through;
    font-weight: normal;
    margin-left: 16px;
  }
}
.goods-sold {
  font-size: $font-size-small;
  color: $color-gray;
}
.goods-income {
  background: $color-brand-primary;
  color: #fff;
  padding: 10px $edge-size;
  margin: -$edge-margin 0 $edge-margin;
  position: relative;
}

.goods-hd {
  background: #fff;
  padding: 50px $edge-size 15px;
  margin: 0 0 $edge-margin;
}

.goods-title {
  font-size: 32px;
  display: block;
  color: #000;
  text-align: center;
  @include multi-ellipsis(2);
  line-height: 1.2;
  margin: 0 60px 14px;
  &__desc {
    display: block;
    text-align: center;
    font-size: 18px;
    display: block;
    line-height: 1.4;
    color: $color-gray;
    font-size: $font-size-small;
    margin-bottom: 28px;
  }
}

.goods-fav {
  background: #f4f4f4;
  width: 112px;
  color: $color-gray;
  height: 60px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  position: relative;
  right: 0;
  margin-right: -$edge-size;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;
  &__text {
    font-size: 20px;
    color: $color-gray;
    margin-left: 4px;
  }
}

.goods-sec-action {
  display: flex;
  font-size: $font-size-small;
  line-height: 1;
  padding: $edge-size;
  .goods-action {
    flex: 1;
    &__label {
      color: $color-gray;
      margin-right: 28px;
    }
  }
}

.goods-sec-props {
  .sec-hd {
  }
  .goods-props__wrap {
    box-sizing: border-box;
    padding: $edge-size;
    display: flex;
    flex-wrap: wrap;
  }
  .prop-item {
    display: flex;
    width: 50%;
    &__label {
      color: $color-gray;
      width: 30%;
    }
    &__cont {
      flex: 1;
    }
  }
}

.goods-sec-specs {
  background: #fff;
  padding: 50px 30px;
  margin: 0 0 $edge-margin;
  .specs {
    &-title {
      font-size: $font-size-large;
      color: #000;
      margin: 0 0 26px;
      line-height: 1;
    }
    &-selected {
      color: $color-primary-text;
      font-size: $font-size-small;
      margin-left: 18px;
    }
    &-scroller {
      width: 100%;
      height: 80px;
    }
    &-imgs {
      white-space: nowrap;
      &__item {
        border: 1px solid $color-border-gray;
        width: 80px;
        height: 80px;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        overflow: hidden;
      }
    }
  }
}

.goods-sec-tabs {
  .sec-tabs {
    height: 110px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
  }
  .sec-tab {
    &__item {
      font-size: $font-size;
      flex: 1;
      text-align: center;
      &.is-active {
        color: $color-brand-primary;
        text-decoration: underline;
      }
    }
    &__panel {
      display: none;
    }
  }
  .is-show {
    display: block !important;
  }
}

.at-divider__line {
  width: 38%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}
.at-divider__content {
  background: $color-bg-gray;
  color: $color-gray;
  z-index: 10;
}
