$search-wrap-height: 90px;

.page-item-list {
  // background: $color-bg-gray;
  // &.has-navbar {
  //   .search-wrap {
  //     top: $navigate-height;
  //   }
  // }
  .item-list-head {
    background: #fff;
    // margin-top: $searchbar-height + 32;
  }
  .search-wrap {
    padding: 0 20px;
    height: $search-wrap-height;
    display: flex;
    align-items: center;
    background-color: #fff;
    .store-picker {
      display: flex;
      align-items: center;
      margin-right: 16px;
      .shop-name {
        margin-right: 6px;
      }
    }
    .search-input {
      flex: 1;
    }
  }
  .sp-filter-bar {
    &__item {
      background: #f5f5f5;
      &:first-child {
        border-top-left-radius: 40px;
      }
      &:last-child {
        border-top-right-radius: 40px;
      }
    }
  }

  .list-scroll-container {
    height: calc(100% - #{$search-wrap-height});
  }
  .filter-btn {
    font-size: 28px;
    color: var(--color-primary);
    position: relative;
    text-align: text;
    float: right;
    &:before {
      content: '';
      display: block;
      height: 40px;
      /* prettier-ignore */
      width: 1PX;
      background: #f5f5f5;
      position: absolute;
      left: -30px;
    }
    .icon-filter {
      font-size: 30px;
    }
  }

  .goods-list {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    .goods-list-wrap {
      width: 345px;
      margin-bottom: 28px;
    }
    .left-container {
      width: 350px;
    }
    .right-container {
      width: 350px;
      // padding-left: 20px;
    }
    .goods-item-wrap {
      margin-bottom: 20px;
      // box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
    }
    .sp-goods-item {
      border-radius: 16px;
      overflow: hidden;
    }
  }

  .brand-title {
    font-size: 32px;
    font-weight: 600;
    color: #111;
    margin-bottom: 20px;
  }
}
