@import "../../style/imports";

.page-package-goods {
  .package-goods{
    &__scroll {
      box-sizing: border-box;
      @include page-scroll(0, 0);
    }
    &__list {

    }
    &__item {
      margin-bottom: 30px;
      background: #fff;
    }
  }
  .package-add-cart {
    display: block;
    height: 56px;
    line-height: 52px;
  }
}
