@import "../../style/imports";

.page-seckill-list {
  .seckill__tabs {

  }
  .seckill__scroll {
    box-sizing: border-box;
    @include page-scroll($tabs-height + $edge-size, $edge-margin);
  }
  .seckill-list {
    background: #fff;
    margin: 0 20px 20px;
    padding: 30px;
    &__title {

    }
    &__banner {

    }
  }
  .seckill-goods {
    display: flex;
    &__item {
      width: 200px;
    }
    &__img {
      width: 100%;
    }
    &__title {
      @include multi-ellipsis(2);
    }
  }
}
