/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
$blue-color: #4980ff;

.distribution-label {
  @include hairline($blue-color, 0, left, right, top, bottom);
  height: 30px;
  padding: 1px 4px;
  font-size: 20px;
  font-weight: 400;
  color: $blue-color;
  display: inline-flex;
  align-items: center;
}
