/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

.wgt-hotranking {
  box-sizing: border-box;

  .wgt-hotranking-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 18px;

    .wgt-hotranking-head-hd {
      display: flex;
      align-items: center;
      flex: 1;

      .wgt-hotranking-head-title {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.5;
      }

      .wgt-hotranking-head-title-image {
        max-height: 40px;
        width: auto;
      }
    }

    .wgt-hotranking-head-more {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  .wgt-hotranking-body {
    box-sizing: border-box;
    border-radius: 16px;
  }

  // default 布局：活动商品列表
  &__activity-list {
    display: flex;
    align-items: center;
    gap: 10px;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }

  &__activity-item {
    width: 157px;
    flex-shrink: 0;
    border-radius: 12px;
    overflow: hidden;

    &-img {
      width: 157px;
      height: 157px;
      background: #d6d6d6;
      overflow: hidden;
      position: relative;

      .soldout-mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.5);

        .soldout-mask-text {
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 50%;
          padding: 10px;
          width: fit-content;
          aspect-ratio: 1/1;
          display: flex;
          justify-content: center;
          align-items: center;

          text {
            font-size: 18px;
            color: #ffffff;
          }
        }
      }
    }

    &-rank-tag {
      position: absolute;
      top: 0;
      left: 0;
      height: 28px;
      border-radius: 8px 0px 8px 0px;
      text-align: center;
      font-family: D-DIN-PRO-ExtraBold, D-DIN-PRO-ExtraBold;
      font-weight: 800;
      box-sizing: border-box;
      font-size: 18px;
      border: 1px solid rgba(153, 153, 153, 0.25);
      color: #999999;
      z-index: 99;
      padding: 0 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      background: rgba(153, 153, 153, 0.15);

      &__one {
        background: #f6efd8;
        color: #cb9800;
        border: 1px solid rgba(203, 152, 0, 0.25);
      }

      &__two {
        background: #e6e9ef;
        border: 1px solid rgba(87, 107, 149, 0.25);
        color: #576b95;
      }

      &__three {
        background: #ffe5d7;
        border: 1px solid rgba(222, 127, 72, 0.25);
        color: #de7f48;
      }
    }

    &-info {
      padding: 8px 24px 20px;
    }

    &-title {
      font-size: 22px;
      color: #404040;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__activity-item-price {
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 28px;
    overflow: hidden;
    color: #1a1a1a;

    &__unit {
      font-family: D-DIN-PRO, D-DIN-PRO;
      font-weight: 500;
      font-size: 22px;
    }

    &__text {
      font-family: D-DIN-PRO, D-DIN-PRO;
      font-weight: 600;
      font-size: 28px;
      color: #1a1a1a;
    }
  }

  &__two-list {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    gap: 18px;
  }

  &__two-list-left,
  &__two-list-right {
    flex: 1;
    flex-shrink: 0;
    max-width: calc(50% - 9px);
    overflow: hidden;
    gap: 18px;
    display: flex;
    flex-direction: column;
  }

  &__three-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  .wgt-loading,
  .wgt-empty {
    padding: 40px;
    text-align: center;
    color: #999;
    font-size: 28px;
  }
}
