.noshop {
  width: 90vw;
  display: flex;
  .noShopContent {
    margin: 10px auto 0;
    .noShop {
      width: 400px !important;
      overflow: hidden;
      max-height: 300px;
    }
    .tips {
      margin-top: 20px;
      text-align: center;
      font-size: 30px;
    }
  }
}
