.comp-couponlist {
  display: flex;
  align-items: center;
  margin-top: 32px;
  .couponlist-hd {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  .couponlist-ft {
    width: 100px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--color-primary);
    .icon-qianwang-01 {
      // font-size: 20px;
      position: relative;
      top: 2px;
    }
  }
  .coupon-item {
    /* prettier-ignore */
    border: 1PX solid var(--color-primary);
    color: var(--color-primary);
    font-size: 22px;
    border-radius: 8px;
    padding: 5px 11px;
    margin-right: 10px;
    display: inline-block;
    margin: 0 10px 4px 0;
  }
  .coupons-block {
    white-space: nowrap;
  }
}
