@import "../../../style/imports";

$img-size: 240px;

.goods-item {
  background: #fff;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 0 $edge-size;
  height: $img-size;
  &__hd {
  }
  &__bd {
    flex: 1;
    padding: 24px;
    display: flex;
    flex-direction: column;
  }
  &__img {
    width: $img-size;
    height: $img-size;
    display: block;
  }
  &__title {
    color: #111;
    line-height: 1.4;
    @include mult-ellipsis(2);
    margin: 0 0 10px;
  }
  &__extra {
    color: #888;
    font-size: $font-size-small;
    flex: 1;
  }
  &__prices {
    font-size: $font-size-large;
    line-height: 1;
    display: flex;
    align-items: flex-end;
  }
  &__price-market {
    font-size: $font-size-small;
    color: $color-gray;
    text-decoration: line-through;
    font-weight: normal;
    margin-left: 12px;
  }
}
