@import '../../../style/imports';

.goods-params__item {
  padding: 1px;
  display: flex;
  &-label {
    flex: 2;
    padding: 20px;
    margin-right: 1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $color-gray;
    background: #fff;
  }
  &-value {
    flex: 3;
    padding: 20px;
    background: #fff;
  }
}
