@import "@/style/imports";

.share-panel {
  display: flex;
  background: #efefef;
  padding: 50px 0;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    outline: none;
    border: none;
    background: #efefef;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 24px !important;
    color: #333 !important;
    &::after {
      display: none;
    }
    .imgBtn {
      padding: 20px;
      background: #fff;
      border-radius: 10px;
      margin-bottom: 30px !important;
      line-height: 0;
      .img {
        width: 60px;
        height: 60px;
      }
    }
    .title {
      font-size: 24px !important;
    }
    [class^="icon-"] {
      padding: 0;
      margin-bottom: 20px;
      font-size: 70px;
      background: none;
      color: $color-gray;
      &::after {
        content: none;
      }
    }
  }
}
.cancel {
  text-align: center;
  background: #fff;
  padding: 20px 0;
  color: #333;
  padding-bottom: 30px;
}
