.wgt-shop {
  width: 100%;
  box-sizing: border-box;
  &--alphabet {
    height: 100%;
  }
  &--horizontal {
    height: fit-content;
  }

  &--single {
    padding-right: 24px;
  }

  &__content {
    width: 100%;
    height: 100%;

    &-inner {
      width: 100%;
      max-height: 100%;
      height: 100%;
      box-sizing: border-box;
    }
  }

  .wgt-shop__content-swiper {
    padding-left: 24px;
    width: calc(100% - 24px);
    .wgt-shop__content-swiper-item {
      margin-left: -24px;
    }
  }
}
