/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.page-dianwu-delivery-personnel {
  .selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    padding: 10px 24px;
    background-color: #fff;
    .picker {
      margin-right: 10px;
    }
    .selector-sea {
      width: 84%;
    }
  }
  .classification {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 24px;
    view {
      width: 315px;
      height: 100px;
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      font-size: 28px;
      color: #666f83;
      line-height: 100px;
      text-align: center;
    }
    .active {
      color: #111a34;
      border-bottom: 4px solid var(--color-dianwu-primary);
    }
  }
  .sp-tabs-hd .tab-item-active {
    color: var(--color-dianwu-primary);
  }

  .sp-tabs-hd .tab-item-active .name:after {
    background-color: var(--color-dianwu-primary);
  }
  .sp-tabs-hd .tab-item-active .name {
    border-bottom: 4px solid var(--color-dianwu-primary);
  }
}
