.page-dianwu-login {
  height: 100vh;
  background-color: #fff;
  padding: 0 32px;
  overflow: hidden;

  .head-block {
    margin-top: 20%;
    &__title {
      font-size: 52px;
      font-weight: 400;
      color: #111a34;
    }
    &__desc {
      font-weight: 300;
      color: #858b9c;
    }
  }

  .login-form {
    margin-top: 100px;
  }

  .head-form {
    margin-bottom: 30px;
    &__title {
      font-size: 32px;
      font-weight: 400;
      color: #111a34;
    }
  }

  .code-field {
    display: flex;
  }

  .btn-text {
    color: var(--color-dianwu-primary);
    font-size: 32px;
    font-weight: 400;
  }

  .at-button--primary {
    background-color: var(--color-dianwu-primary) !important;
    border-color: var(--color-dianwu-primary) !important;
  }

  .sp-form-item {
    .at-input {
      border-width: 0;
      flex: 1;
      padding: 16px 0;
    }
    .form-item-control {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #E2E4EA;
    }
  }
}
