/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
@import '../../style/imports';

.checkout-items {
  display: flex;
  flex-direction: column;
  @include page-view();
  &__scroll {
    flex: 1;
  }
  &__list {
    padding: $edge-margin $edge-size;
  }
}
