@import "../../style/imports";

.coupon-picker {
  padding: $edge-margin 0;
  .coupon-item {
    &__nil {
      margin: 0 $edge-size $edge-margin;
      background: #fff;
      display: flex;
      padding: floor($edge-size / 2) 0;
      padding-left: 10px;
      align-items: center;
      justify-content: space-between;
    }
  }
}