@import "../../style/imports";

.page-cart-index {
  .cart-list {
    padding: $edge-size;
    &__scroll {
      @include page-scroll($navigate-height, $toolbar-height + $tabbar-height);
    }
    &__actions {
      display: flex;
      justify-content: flex-end;
      padding: $edge-margin $edge-size 0;
    }
    .goods-item {
      position: relative;
    }
    .goods-item__price-market {
      display: none;
    }
    .sp-checkbox__wrap {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
  .cart-group {
    margin: 0 0 40px;
    &__activity {
      margin: 0 0 8px;
      &-item {
      }
      &-label {
        background: $color-brand-primary;
        color: #fff;
        font-size: 20px;
        display: inline-block;
        vertical-align: middle;
        padding: 2px 8px;
        margin-right: 8px;
      }
    }
  }
  .cart-item {
    &__act {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .in-icon-close {
        margin-right: 12px;
        font-size: 28px;
        color: #cdcdcd;
      }
    }
    .at-input-number {
      border-top: none;
      border-bottom: none;
      border-radius: 0;
      height: 32px;
      overflow: hidden;
      &__btn {
        border-top: 1px solid $color-border-gray;
        border-bottom: 1px solid $color-border-gray;
        width: 32px - 2px;
        height: 32px;
        box-sizing: border-box;
        padding: 0;
        text-align: center;
        overflow: hidden;
        &-subtract, &-add {
          font-size: 20px;
        }
      }
      &__input, input {
        line-height: 1;
        height: 32px;
        padding-top: 0;
        padding-bottom: 0;
        box-sizing: border-box;
        font-size: $font-size-small;
      }
    }
  }
  .cart-promotion {
    &__label {
      background: $color-brand-primary;
      color: #fff;
      font-size: $font-size-small;
      display: inline-block;
      vertical-align: middle;
      padding: 2px 8px;
      margin-right: 8px;
    }
  }
  .btn-rand {
    width: 180px;
    margin: 0 auto;
    display: block;
  }
  .at-action-sheet__container {
    z-index: $z-index-modal;
  }
}

.cart-toolbar {
  bottom: $tabbar-height;
  padding: 0 0 0 $edge-size;
  &__hd {
  }
  &__bd {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .cart-total {
    font-size: $font-size-large;
    flex: 1;
    padding-left: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    &__discount {
      font-size: $font-size-small;
    }
    &__total {
      font-size: $font-size;
    }
    &__hint {
      color: $color-gray-light;
      color: #555;
      margin-right: 10px;
    }
  }
  .btn-checkout {
    width: 256px;
    margin: 0 0 0 24px;
    height: $toolbar-height;
    line-height: $toolbar-height;
    border: none;
    border-radius: 0;
    font-weight: bold;
    font-size: $font-size;
    &:before, &:after {
      border: none;
    }
    .at-button__wxbutton {
      border: none;
    }
  }
}
