$margin24: 24px;

.page-cart-checkout {
  box-sizing: border-box;
  overflow-y: auto;
  padding: 24px 16px;
  .checkout-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 0 20px;
    height: 100%;
    &__total {
      white-space: nowrap;
      flex: 1;
      margin-right: 0;
    }
    &__price {
      display: inline-block; 
    }
    .primary-price {
      font-weight: bold;
      margin-left: 10px;
      .sp-price__symbol, .sp-price__int, .sp-price__decimal {
        margin-right: 5px;
        color: var(--color-primary);
        font-size: 36px;
        font-weight: bold;
      }
      .sp-price__decimal {
        font-size: 30px;
      }
    }
    &__btn {
      width: 260px;
      height: 80px;
      line-height: 80px;
      margin: 0 0 0 24px;
      border: none;
      border-radius: 40px;
      font-size: $font-size;
      &:before, &:after {
        border: none;
      }
    }
  }
  .order-item {
    position: relative;
    padding: 35px 25px;
    &__bd {
      flex: 1;
    }
    &__idx {
      color: #666;
      padding: 0px 32px;
      height: 36px;
      line-height: 36px;
      display: block;
    }
    &__img {
      width: 200px;
      height: 200px;
      margin-right: 34px;
    }
    &__ft {
      position: absolute;
      bottom: 25px;
      right: 50px;
      left: 220px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__num {
      font-size: $font-size-small;
      color: #333333;
    }
    &__price {
      color: #111;
      font-size: 28px;
      font-weight: bold;
      .price__symbol {
        font-size: $font-size-small;
      }
    }
    &__plus{
      font-size: 24px;
      color:$color-brand-accent;
    }
    &__discount {
      color: var(--color-primary);
      border: 1PX solid var(--color-primary);
      font-size: 20px;
      border-radius: 8px;
      display: inline-block;
      vertical-align: middle;
      padding: 2px 8px;
      margin-right: 8px;
    }
  }

  .shopping-guide__header {
    padding: 20px;
    text-align: center;
    color: $color-brand-accent;
    background-color: #fff;
    font-size: 24px;
  }
  .cart-checkout__address {
    margin-bottom: $margin24;
  }

  .cart-checkout__invoice, .cart-checkout__coupons, .cart-checkout__pack, .cart-checkout__pay, .cart-checkout__total {
    box-shadow: 0px 2px 10px 0px #EAE7E0;
    margin: 0 0 $margin24;
  }
  .sp-cell__bd {
    display: flex;
    justify-content: flex-end;
  }
  .invoice-title{
    color: #222;
    .invoice-close {
      width: 28px;
      height: 28px;
      text-align: center;
      border-radius: 50%;
      // background: #000;
      color:#222;
      font-size:28px;
      line-height: 30px;
      margin-right:10px;
    }
  }
  .cart-checkout__total {
    padding: $edge-margin 0;
    .sp-cell {
      padding-top: 10px;
      padding-bottom: 10px;
      &:before {
        border: none;
      }
      &__bd {
        color: var(--color-primary);
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  //   .trade-invoice, .trade-payment {
//     .sp-cell__bd {
//       display: flex;
//       justify-content: flex-end;
//     }
//   }


//   .checkout__wrap {
//     overflow: hidden;
//     padding: 24px 16px;
//   }

//   .invoice-title{
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//     .invoice-guanbi{
//       width: 28px;
//       height: 28px;
//       text-align: center;
//       border-radius: 50%;
//       // background: #000;
//       color:#000;
//       font-size:28px;
//       line-height: 30px;
//       margin-right:10px;
//     }
//   }

//   .sec-checkout-items {
//     padding: $edge-margin $edge-size $edge-size;
//     .sp-cell {
//       padding-left: 0;
//       padding-right: 0;
//     }
//   }

//   .cart-group {
//     &__shop {
//       padding: 16px $edge-margin;
//     }
//     &__cont {
//       padding: $edge-margin 0;
//       box-shadow: 0px 2px 10px 0px #EAE7E0;
//     }
//     .at-input {
//       &:after {
//         border: none;
//       }
//     }
//   }

//   .trade-items {
//     display: flex;
//     &__bd {
//       display: flex;
//       align-items: center;
//       max-width: 68%;
//     }
//   }
//   .trade-item {
//     &__img {
//       width: 120px;
//       height: 120px;
//       margin-right: 20px;
//     }
//     &__title {
//     }
//   }

//   .trade-shipping, .trade-invoice, .trade-remark, .trade-point, .trade-sub-total, .trade-payment {
//     box-shadow: 0px 2px 10px 0px #EAE7E0;
//     margin: 0 0 $margin24;
//   }

//   .trade-point {
//     padding: 0 $edge-size $edge-margin;
//     .sp-cell {
//       padding-left: 0;
//       padding-right: 0;
//     }
//     &__wrap {
//       display: flex;
//       align-items: center;
//       justify-content: flex-end;
//     }
//     &__hint {
//       color: var(--color-primary);
//       font-size: $font-size-small;
//     }
//     &__input {
//       background: $color-bg-gray;
//       border-radius: 12px;
//       height: 80px;
//       line-height: 80px;
//       box-sizing: border-box;
//       font-size: $font-size;
//       border: none;
//       box-shadow: none;
//       margin: 0;
//     }
//     switch {
//       margin-left: 20px;
//     }
//     .at-input {
//       &:after {
//         border: none;
//       }
//       input {
//         padding-left: $edge-size;
//       }
//     }
//   }

//   .trade-invoice, .trade-payment {
//     .sp-cell__bd {
//       display: flex;
//       justify-content: flex-end;
//     }
//   }

//   .trade-payment {
//     background: #fff;
//     &__hint {
//       padding: 0 $edge-size;
//       color: $color-orange;
//     }
//   }

//   .trade-remark {
//     padding: $edge-margin $edge-size;
//     box-shadow: none;
//     &__input {
//       box-sizing: border-box;
//       padding: 0;
//       background: none;
//       box-shadow: none;
//       border: none;
//     }
//   }

//   .trade-sub-total {
//     padding: $edge-margin 0;
//     .sp-cell {
//       padding-top: 8px;
//       padding-bottom: 8px;
//       &:before {
//         border: none;
//       }
//       &__bd {
//         color: var(--color-primary);
//         display: flex;
//         justify-content: flex-end;
//       }
//     }
//   }

//   .coupons-list {
//     margin: 0 0 $margin24;
//     .identity {
//       margin: 0;
//     }
//     .extDesc {
//       color: #e54210;
//       font-size: 24px;
//     }
//   }

//   .coupon-item {
//     display: flex;
//     align-items: center;
//     &__bd {
//       flex: 1;
//     }
//     &__ft {
//       width: 30%;
//       color: $color-gray;
//     }
//   }

//   .at-float-layout {
//     &__container {
//       min-height: auto;
//     }
//     .layout-body {
//       padding: 0;
//     }
//     .at-button {
//       position: fixed;
//       bottom: 0;
//       border-radius: 0;
//       left: 0;
//       width: 100%;
//       z-index: 99;
//       height: $at-button-height + 10px;
//       &:before {
//         border-radius: 0;
//         border: none;
//       }
//     }
//   }


//   .nationalNotice {
//     padding: $edge-margin $edge-size;
//     .title {
//       font-size: 28px;
//       text-align: center;
//       padding: 10px 0;
//       color: #333;
//       border-bottom: 1px solid #7f7f7f;
//     }
//     background: #fff;
//     .info {
//       color: #7f7f7f;
//       padding: 15px 0;
//     }
//     .copyLink {
//       font-size: 26px;
//       color: #169bd5;
//     }
//   }
//   .sp-cell__title {
//     color: #666;
//   }
//   .sec {
//     margin-bottom: $margin24;
//   }
}