/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
@import '@/style/imports';

$good-img-width: 70px;
$active-good-img-width: 90px;

.comp-second-category {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  &-scroll {
    // height: 82vh;
  }
  &-scroll-item {
    width: 100%;
    display: inline-grid;
    background: #fff;
    text-align: center;
  }
  &-goods-desc {
    box-sizing: border-box;
    padding: 28px 16px;
    font-size: 30px;
    background: #f1f1f1;
    text-align: center;
    display: inline-block;
    @include text-overflow();
  }
  .active {
    .comp-second-category-goods-desc {
      background: #fff;
      color: var(--color-primary);
      font-weight: bolder;
      &:before {
        content: '';
        height: 30px;
        width: 10px;
        background: var(--color-primary);
        position: absolute;
        left: 0;
      }
    }
    .comp-second-category-goods-imgbox {
      width: $active-good-img-width;
      height: $active-good-img-width;
    }
  }
}
.comp-second-category-scroll::-webkit-scrollbar {
  display: none;
  width: 0px !important;
}
