@import "../../style/imports";

.member-favorite {
  .toolbar {
    display: none;
  }
  &__edit {
    .favorite-items__scroll {
      padding-bottom: $edge-margin;
    }
    .toolbar {
      display: flex;
    }
  }
}

.favorite-items {
  &__scroll {
    height: 100vh;
    padding: (90px + $edge-margin) $edge-size $toolbar-height;
    box-sizing: border-box;
  }
}