@import "../../style/imports";

$item-img-size: 240px !default;

.page-my-group-list {
  .groups-list__scroll {
    box-sizing: border-box;
    @include page-scroll($tabbar-height + $edge-size/2, 0);
  }
  .group-item {
    $self: &;
    display: flex;
    align-items: stretch;
    background: #fff;
    border-radius: $cart-border-radius;
    overflow: hidden;
    margin: $edge-size;
		box-shadow: 0 5px 5px rgba(0,0,0,0.1);

    &__hd {
      text-align: center;
    }
    &__bd {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: $edge-margin $edge-size;
			flex: 1;
			position: relative;
			.icon{
				position: absolute;
				right: -15px;
				bottom: -15px;
				font-size: 170px;
				opacity: 0.5;
				&.icon-over-group{
					color: #ff4856;
				}
				&.icon-ungroup{
					color:#ccc;
				}
			}
		}
		&__avatar {
			display: flex;
			padding-left: 28px;
			.user-avatar {
				display: block;
				width: 50px;
				height: 50px;
				margin-left: -25px;
				border-radius: 100%;
				box-shadow: 0 0 0 3px #fff;
			}
		}
    &__cont {
      flex: 1;
    }
    &__img {
      width: $item-img-size;
      height: $item-img-size;
      display: block;
    }
    &__title {
      @include multi-ellipsis(2);
      line-height: 1.4;
      color: #111;
      margin: 0 0 16px;
      &-status {
        color: $color-red;
        font-weight: bold;
      }
    }
    &__desc {
      line-height: 1.4;
      color: $color-gray;
      font-size: $font-size-small;
      display: flex;
      align-items: center;
    }
    &__tuan {
      border: 1px solid $color-red;
      border-radius: 3PX;
      overflow: hidden;
      font-size: $font-size-small;
      height: floor(1.3 * $font-size);
      line-height: floor(1.3 * $font-size);
      margin-right: 16px;
      &-num {
        background: $color-red;
        text-align: center;
        color: #fff;
        display: inline-block;
        padding: 0 10px;
      }
      &-txt {
        color: $color-red;
        padding: 0 5px;
      }
    }
    &__price {
      font-size: floor(1.2 * $font-size);
      color: $color-red;
    }
    &__action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .timer {
        color: $color-gray;
      }
      .at-icon {
        color: $color-gray;
        vertical-align: middle;
        margin-right: 6px;
      }
    }
    .at-countdown {
      color: $color-gray;
      line-height: 1;
      vertical-align: middle;
      display: inline-block;
    }
    .at-countdown__time-box {
      min-width: 24px;
      color: $color-gray;
    }
    .btn-go {
      background: linear-gradient(to left, #ff4856, #cf96b9);
      border: none;
      border-radius: 30px 30px 30px 0;
      color: #fff;
      width: 120px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      font-size: $font-size-small;
      font: $font-family;
      &.disabled {
        opacity: 0.3;
      }
    }
	}
}
