@import '../../style/imports';

.page-member-index {
  padding-bottom: $tabbar-height;
  background: $color-bg-gray;
  .sp-icon-pay, .sp-icon-clock, .sp-icon-baoguo, .sp-icon-comment {
    @include iconfont-gradient(linear-gradient(90deg, #FAA761, #FA3515));
  }
  .sp-icon-star, .sp-icon-thumb {
    @include iconfont-gradient(linear-gradient(270deg, #AF6FF7, #CD3AE3));
  }
  .sp-icon-money, .sp-icon-hongbao {
    @include iconfont-gradient(linear-gradient(90deg, #FAD346, #F7B11C));
  }
  .sp-icon-setting, .sp-icon-help {
    @include iconfont-gradient(linear-gradient(103deg, #7FD5FA, #2580FC));
  }
  .sp-icon-location {
    @include iconfont-gradient(linear-gradient(270deg, #2757C5, #7298FD));
  }
  .sp-icon-qrcode {
    @include iconfont-gradient(linear-gradient(90deg, #B4EC51, #429321));
  }
}

.member-index {
  &__hd {
    background: #FA3515;
    background: linear-gradient(180deg,rgba(#FA9461, 1) 0%,rgba(#FA3515, 1) 100%);
    height: 280px;
    &:before {
      transform: rotate(40deg) translate3D(0, -72%, 0);
      background:linear-gradient(348deg,rgba(#fff, 0) 0%,rgba(#fff, 1) 100%);
      content: '';
      width: 300px;
      height: 300px;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__bd {
    position: relative;
    margin-top: -30px;
  }
}

.member {
  &-sec {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 30px 30px;
    .sec-hd {
      @include hairline($color-border-gray, bottom);
      padding: $edge-margin $edge-size;
      line-height: 1;
      .more {
        color: $color-gray;
      }
    }
    .sec-title {
      font-size: $font-size-large;
    }
  }
  &-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0 0;
    &__status {
      padding: $edge-margin 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-status {
    &__item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $color-brand-primary;
      &-val {
        white-space: nowrap;
        line-height: 1;
        margin: 0 0 10px;
      }
      &-title {
        white-space: nowrap;
        font-size: $font-size-small;
      }
    }
  }

  &-avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
  }
  &-name {
    color: #fff;
    font-size: floor($font-size * 1.28);
    line-height: 1;
    font-weight: bold;
    white-space: nowrap;
    @include text-overflow();
  }
}

.member-trades {
  &__menus {
    padding: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.member-tools {
  &__menus {
    padding: 45px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    width: 25%;
    margin: 0 0 64px;
  }
}
