.pages-member-index {
  .header-block {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .usericon {
    border: 4px solid #fff;
    width: 110px;
    height: 110px;
    border-radius: 50px;
    margin-right: 20px;
    overflow: hidden;
  }
  .header-hd {
    padding: 32px;
    display: flex;
    align-items: center;
    .username {
      font-size: 32px;
      color: #222;
      margin-right: 24px;
    }
    .icon-erweima-01 {
      color: var(--color-primary);
      font-size: 38px;
    }
    .join-us-txt {
      color: var(--color-primary);
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
  .header-bd {
    display: flex;
    align-items: center;
    justify-content: center;
    .bd-item {
      flex: 1;
      text-align: center;
    }
    .bd-item-label {
      color: #666;
      font-size: 24px;
    }
    .bd-item-value {
      color: #333;
      font-size: 36px;
    }
  }
  .header-ft {

  }

  .body-block {
    padding: 24px 16px;
    .comp-panel {
      margin-bottom: 24px;
    }
  }
  .ziti-order {
    background: #F5F5F5;
    display: flex;
    align-items: center;
    padding: 20px 16px;
    margin-bottom: 24px;
    &-info {
      flex: 1;
    }
    .icon-qianwang-01 {
      font-size: 24px;
      color: #aaa;
    }
    .title {
      font-size: 30px;
      color: #444;
      font-weight: bold;
    }
    .ziti-txt {
      font-size: 24px;
      color: #444;
    }
    .ziti-num {
      color: #da760c;
    }
  }
  .order-con {
    display: flex;
    .order-item {
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .order-txt {
      font-size: 24px;
      color: #222;
    }
  }

  .service-block {
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(234, 231, 224, 1);
    margin: 0 16px 24px;
    .block-hd {
      color: #333;
      font-size: 36px;
      font-weight: bold;
      padding: 36px 25px;
    }
  }
}
