@import "../../style/imports";

.page-goods-list {
  .goods-listdraw__scroll {
    //height: 100vh;
    box-sizing: border-box;
    @include page-scroll($navigate-height, $edge-margin);
    //padding: 0;
  }
  .goods-imgs {
    &__wrap {
      position: relative;
    }
    &__text {
      background: rgba(#000, 0.5);
      position: absolute;
      color: #fff;
      font-size: 20px;
      height: 40px;
      line-height: 40px;
      border-radius: 40px;
      padding: 0 20px;
      position: absolute;
      z-index: 5;
      bottom: 28px;
      right: 24px;
      white-space: nowrap;
      text-align: center;
    }
    &__notice {
      background: rgba(#000, 0.5);
      position: absolute;
      color: #fff;
      font-size: 20px;
      height: 40px;
      line-height: 42px;
      padding: 14px 100px 14px 0;
      position: absolute;
      z-index: 5;
      top: 0px;
      right: 0px;
      left: 0;
      white-space: nowrap;
      text-align: center;
    }
    &__rule {
      background: rgba(#000, 0.5);
      position: absolute;
      color: #fff;
      font-size: 20px;
      height: 40px;
      line-height: 42px;
      padding: 6px 20px;
      position: absolute;
      border-radius: 40px 0 0 40px;
      z-index: 5;
      top: 8px;
      right: 0;
      white-space: nowrap;
      text-align: center;
    }
  }
  .goods-list {
    padding: $edge-size 0;
    &__toolbar {
      position: fixed;
      top: $navigate-height;
      left: 0;
      width: 100%;
      z-index: $z-index-toolbar;
      background: #fff;

      &-title {
        width: 60%;
        margin:0 auto;
        height: 84px;
        line-height: 84px;
        text-align: center;
        .at-divider {
          height: 84px;
          .at-divider__content {
            background: #fff;
          }
        }
        .icon-allgoods {
          margin-right: 4px;
        }
      }
    }
    &__tabs {
    }

    &__type-grid {
      @include clearfix();
      .goods-item {
        width: 48%;
        float: left;
        overflow: hidden;
        margin-left: 1%;
        margin-right: 1%;
        &__img {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          &-wrap {
            width: 100%;
            height: auto;
            position: relative;
            &:after {
              content: "";
              display: flex;
              padding-top: 100%;
            }
          }
        }
        &__cont {
          padding-left: floor($edge-size / 2);
          padding-right: floor($edge-size / 2);
        }
        &__bd {
          flex-direction: column;
          flex: 1;
        }
        &__cont {
          height: 210px;
        }
      }
    }
  }
  .goods-item {
    margin-left: $edge-size;
    margin-right: $edge-size;
  }
}
