@import "../../style/imports";

.page-goods-list {
  .goods-list {
    padding: $edge-size 0;
    &__toolbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: $z-index-toolbar;
      background: #fff;

      &-title {
        width: 60%;
        margin:0 auto;
        height: 84px;
        line-height: 84px;
        text-align: center;
        .at-divider {
          height: 84px;
        }
        .icon-allgoods {
          margin-right: 4px;
        }
      }
    }
    &__tabs {
    }
    &__scroll {
      height: 100vh;
      box-sizing: border-box;
      padding: 84px 0 0;
    }
    &__type-grid {
      @include clearfix();
      .goods-item {
        width: 48%;
        float: left;
        overflow: hidden;
        margin-left: 1%;
        margin-right: 1%;
        &__img {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          &-wrap {
            width: 100%;
            height: auto;
            position: relative;
            &:after {
              content: "";
              display: flex;
              padding-top: 100%;
            }
          }
        }
        &__cont {
          padding-left: floor($edge-size / 2);
          padding-right: floor($edge-size / 2);
        }
        &__bd {
          flex-direction: column;
          flex: 1;
        }
        &__cont {
          height: 210px;
        }
      }
    }
  }
  .goods-item {
    margin-left: $edge-size;
    margin-right: $edge-size;
  }
}

.goods-item {
  $self: &;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: $item-border-radius;
  overflow: hidden;
  margin: 0 0 $edge-margin;
  &__bd {
    display: flex;
    flex: 1;
  }
  &__cont{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding: $edge-margin $edge-size;
  }
  &__img {
    width: 240px;
    height: 240px;
    &-wrap {
      width: 240px;
      height: 240px;
      display: block;
      text-align: center;
    }
  }
  &__title {
    @include multi-ellipsis(2);
    line-height: 1.4;
    color: #111;
    margin: 0 0 16px;
  }
  &__desc {
    @include multi-ellipsis(2);
    line-height: 1.4;
    color: $color-gray;
    font-size: $font-size-small;
  }
  &__price {
    font-size: floor(1.28 * $font-size);
    margin-right: 24px;
  }
  &__point {
    color: $color-brand-primary;
  }
  &__prices {
    display: flex;
    justify-content: space-between;
    .lucky-info{
      font-size: floor(1.28 * $font-size);
      color: $color-brand-primary;
    }
  }
}
