@import "../../style/imports";

.page-point-list {
  &__scroll {
    height: 100%;
    box-sizing: border-box;
  }
  .compute-title {
    display: block;
    text-align: center;
    padding: 5px 0;
    font-size: 24px;
    background: $color-brand-primary;
    width: 100%;
    color: #ffffff;
  }
  .point-item {
    padding: 20px 30px;
    border-bottom: 1PX solid $color-bg-gray;
    background: #fff;
    &__cont {
      display: flex;
      justify-content: space-between;
    }
    &__title {
      color: $color-brand-primary;
    }
  }
  .compute__scroll {
    padding-bottom: 280px;
  }
  .compute-rule {
    position: fixed;
    height: 260px;
    box-sizing: border-box;
    bottom: 0;
    left:0;
    width: 100%;
    background: $color-brand-primary;
    color: #ffffff;
    padding: 20px;
    font-size: 24px;
    &__explain {
      color: $color-alert-warning;
    }
  }
}
