@import "../../style/imports";

.trade-detail {
  padding-bottom: $toolbar-height + $edge-margin;
  &__status {
    background: linear-gradient(227deg,rgba(250,167,97,1) 0%,rgba(250,53,21,1) 100%);
    position: relative;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    &-text {
      color: #fff;
      font-size: $font-size-large;
    }
    &-ico {
      width: 130px;
      height: 110px;
      margin-right: -6px;
    }
  }

  &__addr {
    background: #fff;
    margin: 0 0 $edge-margin;
  }

  &__express {
    padding: $edge-margin $edge-size $edge-margin ($edge-size + 40px);
  }

  &__total {
    padding: 0 0 $edge-size;
    .sp-cell {
      padding: 8px $edge-size;
      display: flex;
      align-items: space-between;
      &__bd {
        text-align: right;
      }
    }
  }

  .address-info {
    margin: 0 0 $edge-margin;
    &__receiver {
      color: #111;
      display: block;
      font-size: $font-size-large;
      margin: 0 0 16px;
      line-height: 1;
    }
    &__addr {
      color: #111;
      line-height: 1;
      display: block;
    }
    &__null {
      color: #111;
      line-height: 1;
      display: block;
    }
  }

  .sec-orders {
    &__hd {
      padding: $edge-margin $edge-size;
    }
  }

  .trade-extra {
    display: flex;
    align-items: space-between;
    padding: $edge-margin $edge-size;
    &__bd {
      flex: 1;
      display: flex;
      flex-direction: column;
      font-size: $font-size-small;
    }
    &__ft {
      .at-button {
        transform: scale(0.9);
        transform-origin: center right;
      }
    }
  }

  .trade-opts {
    text-align: right;
    .at-button {
      transform: scale(0.9);
      transform-origin: center right;
    }
  }

  .toolbar-actions {
    display: flex;
    justify-content: flex-end;
    .at-button {
      margin: 0 0 0 20px;
    }
  }
  .address-picker {
    z-index: 801;
  }
}
