@import '../../style/imports';

.page-member-integral {
  padding-bottom: $tabbar-height;
  .sp-icon-laba{
    @include iconfont-gradient(linear-gradient(90deg, #FAA761, #FA3515));
  }
  .sp-icon-jifen1 {
    @include iconfont-gradient(linear-gradient(180deg, #FFE070, #F7B11C));
  }
}

.member-integral {
  &__hd {
    background: #FA3515;
    background: linear-gradient(180deg,rgba(#FA9461, 1) 0%,rgba(#FA3515, 1) 100%);
    height: 280px;
    &:before {
      transform: rotate(40deg) translate3D(0, -72%, 0);
      background:linear-gradient(348deg,rgba(#fff, 0) 0%,rgba(#fff, 1) 100%);
      content: '';
      width: 300px;
      height: 300px;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__bd {
    position: relative;
    margin-top: -30px;
  }
}

.integral {
  &-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0;
    color: $color-brand-primary-text;
    &__status {
      padding: $edge-margin 0;
      display: flex;
      align-items: center;
      color: #666;
      font-size: 24px;
      justify-content: space-around;
    }
  }
  &-number {
    display: flex;
    align-items: center;
    &__text {
      font-weight: bold;
      font-size: 60px;
    }
    .icon-point {
      font-size: 54px;
      margin-right: 4px;
    }
  }
  &-text {
    margin-top: 30px;
    font-weight: bold;
    font-size: 36px;
  }
  &-sec {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 30px 30px;
    &__horn {
      padding: 0 30px 0 60px;
      .laba_horn {
        font-size: 60px;
        color: $color-brand-primary;
      }
    }
    &__share {
      height: 60px;
      line-height: 60px;
      flex: 1;
      text-align: left;
      padding-left: 30px;
      border-left: 2px solid #D9D9D9;
    }
  }
}

.member-integral {
  position: fixed;
  top: 410px + $navigate-height;
  right: 0px;
  left: 0px;
  bottom: 30px;
  box-sizing: border-box;
  &__scroll {
    //border: 1px solid red;
    position: absolute;
    top: 120px;
    right: 30px;
    left: 30px;
    bottom: 30px;
    box-sizing: border-box;
    width: auto !important;
    .integral_empty{
      padding: 20px 0 0
    }
  }
  &__panel {
    display: none;
  }
}

.integral-item {
  border-bottom: 1px solid $color-gray-light;
  padding: 20px 0 12px;

  &__title {
    display: flex;
    justify-content: space-between;
    &-name {
      font-size: $edge-size;
      color: $color-primary-text;
      margin-right: 20px;
    }
    &-in {
      color: $color-brand-primary;
    }
    &-out {
      color: $color-green;
    }
  }
  &__data {
    font-size: $font-size;
    color: $color-primary-text;
  }
}
