@import '../../style/imports';

.goods-detail {
  &__wrap {
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: $toolbar-height + 40px;
  }
}

.goods-imgs {
  &__wrap {
    position: relative;
  }
  &__text {
    background: rgba(#000, 0.5);
    position: absolute;
    color: #fff;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    padding: 0 20px;
    position: absolute;
    z-index: 5;
    bottom: 28px;
    right: 24px;
    white-space: nowrap;
    text-align: center;
  }
}

.goods-timer {
  background: linear-gradient(90deg, lighten($color-brand-primary, 10%), $color-brand-primary);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  color: #fff;
  padding: 0 $edge-size;
  &__hd {
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__bd {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 16px 0;
  }
  .goods-prices {
    display: block;

    &-point{
      font-size: 28px;
    }
    &__type {
      font-size: floor($font-size-small * 0.9);
      display: inline-block;
      padding: 0 10px;
      border: 1px solid #fff;
      margin-right: 2px;
    }
    &__market {
      color: #fff;
    }
    &__ft {
      .price {
        font-size: floor(0.8 * $font-size);
      }
    }
  }
  .at-countdown__time-box {
    background: #fff;
    border-radius: 6px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.goods-prices {
  display: flex;
  align-items: baseline;
  font-size: $font-size * 2;
  margin: 0 0 12px;
  .price__symbol {
    font-size: $font-size;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__market {
    font-size: $font-size-small;
    color: $color-gray;
    text-decoration: line-through;
    font-weight: normal;
    margin-left: 16px;
  }
}
.goods-sold {
  font-size: $font-size-small;
  color: $color-gray;
}
.goods-income {
  background: $color-brand-primary;
  color: #fff;
  padding: 10px $edge-size;
  margin: -$edge-margin 0 $edge-margin;
  position: relative;
}

.goods-hd {
  background: #fff;
  padding: 24px $edge-size;
  margin: 0 0 $edge-margin;
}

.goods-title {
  font-size: $font-size-large;
  display: block;
  color: #000;
  @include multi-ellipsis(2);
  line-height: 1.2;
  margin: 0 0 14px;
  &__desc {
    display: block;
    color: $color-gray;
    font-size: $font-size-small;
    margin-bottom: $edge-margin;
  }
}

.notice-bar-hd {
  margin-bottom: 30px;
 }
.goods-sec-props {
  .sec-hd {
    @include hairline();
  }
  .goods-props__wrap {
    box-sizing: border-box;
    padding: $edge-size;
    display: flex;
    flex-wrap: wrap;
  }
  .prop-item {
    display: flex;
    width: 50%;
    &__label {
      color: $color-gray;
      width: 30%;
    }
    &__cont {
      flex: 1;
    }
  }
}
.weui-progress__bar {
  border-radius: 3px;
}
.weui-progress__opr {
  font-size: 24px !important;
}
.at-divider__line {
  width: 38%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}
.at-divider__content {
  background: $color-bg-gray;
  color: $color-gray;
  z-index: 10;
}

.goods-buy-toolbar {
  background: #fff;
  height: $toolbar-height;
  box-sizing: border-box;
  padding: $edge-margin $edge-size;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: $z-index-toolbar;
  display: flex;
  align-items: center;
  box-shadow: 0 0 -5px rgba(#000, 0.3);
  &__btns {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 52px;
    overflow: hidden;
    box-shadow: 0 5px 5px rgba(darken($color-brand-primary, 20%), 0.2);
  }
  &__btn {
    background: $color-brand-primary;
    font-size: $font-size;
    flex: 1;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 0;
    font-weight: bold;

    &:before, &:after {
      display: none;
    }
  }
  .btn-fast-buy {
    background: linear-gradient(90deg, $color-brand-primary, $color-brand-primary);
  }
}
