@import '../../style/imports';
@import './index';
.sp-icon-dingdan, .sp-icon-dingdan1 {
  @include iconfont-gradient(linear-gradient(90deg, #FAA761, #FA3515));
}

.member-info {
  &_top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
    .member-avatar {
      width: 140px;
      height: 140px;
    }
  }

  &_name {
    margin-left: 20px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    .member-name {
      margin-bottom: 10px;
    }
  }
}
.member-recommend__menus {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .member-number {
    color: $color-brand-primary;
  }
  .icon-dingdan {
    font-size: 50px;
    margin-right: 10px;
  }
}
.member-tools {
  text-align: center;
  .member-recommend__menus {
    justify-content: center;
    align-items: center;
    .icon-qrcode {
      font-size: 50px;
      margin-right: 10px;
    }
  }
}
