@import "../../style/imports";
@import './recommend-member';

.trade-list {
  .order-item {
    &__data {
      font-size: $font-size;
      color: $color-primary-text;
    }
    .rebate-color{
      color: $color-brand-primary;
    }
  }
  .order-recom {
    //height: 100%;
    //padding: 0 0 $edge-margin;
    @include page-scroll($navigate-height, $edge-margin);
    box-sizing: border-box;
  }
}

