.comp-selectpackage {
  .package-item {
    height: 90px;
    line-height: 90px;
    &:not(:last-child) {
      /* prettier-ignore */
      // border-bottom: 1PX solid #f5f5f5;
    }
  }
  .sp-checkbox-new {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .package-desc {
    font-size: 26px;
    color: #666;
    padding: 0 16px;
  }
}
