.pages-comp-paymentpicker {
  .btn-submit {
    width: 100%;
    border-radius: 0;
    background: var(--color-primary);
    border: var(--color-primary);
    &::after {
      content: none;
    }
  }
}