.comp-goodsitem {
  display: flex;
  .goods-item-hd {
    margin-right: 20px;
  }
  .goods-item-bd {
    flex: 1;
    position: relative;
  }
  .goods-image {
    width: 220px;
    height: 220px;
  }
  .item-hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .item-ft {
    position: absolute;
    bottom:8px;
    left: 0;
    right: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .goods-title {
    @include multi-ellipsis(1);
    width: 300px;
    &__tag {
      display: inline-block;
      border: 1PX solid var(--color-primary);
      color: var(--color-primary);
      padding: 1px 10px;
      font-size: 20px;
      margin-right: 10px;
      border-radius: 10px;
    }
    &__promotion {
      display: flex;
      align-items: flex-start;
      margin-top: 5px;
      .titles {
        display: inline-block;
        width: 300px;
        font-size: 26px;
        color: #999;
        @include multi-ellipsis(2)
        // @include text-overflow();
      }
    }
  }
  .spec-desc {
    background-color: #F5F5F5;
    font-size: 24px;
    color: #999;
    padding: 5px 13px;
  }
  .spec-brief {
    color: #999;
    font-size: 24px;
    width: 350px;
    display: block;
    @include text-overflow();
  }
  .icon-shanchu-01 {
    font-size: 40px;
    color: #777;
  }
}
