.comp-goodsitem {
  display: flex;
  &-hd {
    margin-right: 20px;
  }
  &-bd {
    flex: 1;
    position: relative;
  }
  &-image {
    width: 220px;
    height: 220px;
  }
  .item-hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .item-ft {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .goods-price-wrap {
      display: flex;
      align-items: center;
    }
    .mkt-price {
      margin-left: 8px;
    }
    &-hd {
      display: flex;
    }
    &-bd {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .vip-grade {
      /* prettier-ignore */
      border: 1PX solid var(--color-primary);
      color: var(--color-primary);
      font-size: 22px;
      border-radius: 8px;
      padding: 0 6px;
      height: 32px;
      line-height: 32px;
      margin-right: 10px;
      display: inline-block;
      margin: 0 10px 4px 0;
    }
  }
  .item-tags {
    display: flex;
    align-items: center;
    .item-tag {
      /* prettier-ignore */
      border: 1PX solid var(--color-primary);
      color: var(--color-primary);
      font-size: 22px;
      border-radius: 8px;
      padding: 0 6px;
      height: 32px;
      line-height: 32px;
      margin-right: 10px;
      display: inline-block;
      margin: 0 10px 4px 0;
    }
  }
  .goods-title {
    @include multi-ellipsis(1);
    width: 300px;
    &__tag {
      /* prettier-ignore */
      border: 1PX solid var(--color-primary);
      color: var(--color-primary);
      font-size: 22px;
      border-radius: 8px;
      padding: 0 6px;
      height: 32px;
      line-height: 32px;
      margin-right: 10px;
      display: inline-block;
      margin: 0 10px 4px 0;
    }
    &__promotion {
      display: flex;
      align-items: flex-start;
      margin-top: 5px;
      .titles {
        display: inline-block;
        width: 300px;
        font-size: 26px;
        color: #999;
        @include multi-ellipsis(2) // @include text-overflow();
;
      }
    }
  }
  .spec-desc {
    background-color: #f5f5f5;
    font-size: 24px;
    color: #999;
    padding: 5px 13px;
    max-width: 300px;
    min-width: 100px;
    display: inline-block;
    @include text-overflow();
  }
  .spec-brief {
    color: #999;
    font-size: 24px;
    width: 350px;
    display: block;
    @include text-overflow();
  }
  .icon-shanchu-01 {
    font-size: 40px;
    color: #777;
  }
}
