.comp-goodsitem {
  display: flex;
  .goods-item-hd {
    margin-right: 20px;
  }
  .goods-item-bd {
    flex: 1;
    position: relative;
  }
  .goods-image {
    width: 220px;
    height: 220px;
  }
  .item-hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .item-ft {
    position: absolute;
    bottom:8px;
    left: 0;
    right: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .goods-title {
    @include multi-ellipsis(1);
    width: 300px;
  }
  .spec-desc {
    background-color: #F5F5F5;
    font-size: 26px;
    color: #999;
    padding: 5px 13px;
  }
  .icon-shanchu-01 {
    font-size: 40px;
    color: #777;
  }
}
