/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.comp-tabbar {

  height: 100%;
  position: absolute;
  .at-badge__num {
    background-color: var(--color-dianwu-primary);
  }
}