.tags {
  width: 100%;
  white-space: nowrap;
  border: none;
  background-color: #fff;
  // padding: 16px 0 16px 0;
  // border-bottom: 1PX solid #efefef;
  // padding-left: 10px;
  &:first-child{
    padding-left: 24px;
  }
  .tag-item {
    display: inline-block;
    height:60px;
    line-height: 60px;
    font-size: 28px;
    background-color: #F5F5F5;
    border-radius: 30px;
    // margin:29px 70px 0 10px ;
    color: #222;
    padding: 0px 30px;
    font-weight: 400;

    &_active {
      background: rgba(var(--color-rgb), 0.1);
        color: var(--color-primary);
    }
  }
}
