.sp-recommend {
  padding-top: 24px;
  &-hd {
    padding: 0px 16px 24px 16px;
    display: flex;
  }
  &-title {
    color: #222;
    font-size: 36px;
    font-weight: bold;
    margin-right: 24px;
  }
  &-bd {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  }
  .left-container {
    width: 49%;
  }
  .right-container {
    width: 49%;
    margin-left: 16px;
  }
  .goods-item-wrap {
    margin-bottom: 20px;
    // box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  }
}
