$img-width: 120px;
$primary-color: rgba(244, 129, 31, 1);
$blue-color:#4980FF;

$prefixCls: "sp-shop-item";

.#{$prefixCls} {
  display: flex;
  .shop-logo {
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 30px;
    /* prettier-ignore */
    border: 1PX solid #DDD;
    overflow: hidden;
    margin-right: 25px;
  }

  .shop-item-bd {
    flex: 1;
  }

  .shop-name {
    width: 425px;
    @include multi-ellipsis(1);
    font-size: 30px;
    font-weight: 600;
    color: #222222;
  }

  .shop-distance {
    font-size: 28px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
  }

  .score {
    font-size: 22px;
    color: #666;
  }

  .item-bd-sb {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  .express {
    // width: 85px;
    @include hairline($blue-color,0,left,right,top,bottom);
    height: 30px;
    padding: 1px 4px;
    font-size: 20px;
    font-weight: 400;
    color: $blue-color;
    display: inline-flex;
    align-items: center;
    opacity: 0.8;
  }

  .item-bd-bd {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    .sp-shop-coupon {
      margin: 0 10px 10px 0;
    }
  }
  .item-bd-fr {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    .sp-shop-fullReduction {
      margin: 0 10px 10px 0;
    }
  }
  .item-bd-hd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-left {
    width: $img-width;
    height: $img-width;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 24px;
    border-radius: 16px;
    border: 1px solid #dddddd;
    overflow: hidden;

    .img {
      width: $img-width;
      height: $img-width;
      display: block;
    }
  }

  &-right {
    flex: 1;
    padding-top: 2px;

    &-top {
      .lineone {
        display: flex;
        justify-content: space-between;

        .title {
          width: 454px;
          @include multi-ellipsis(1);
          font-size: 30px;
          font-weight: 600;
          color: #222222;
        }

        .distance {
          font-size: 28px;
          font-weight: 400;
          color: #666666;
        }
      }

      .linetwo {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;

        .info {
          font-size: 22px;
          font-weight: 400;
          color: #666666;

          .sale {
            margin-left: 16px;
          }
        }

        .distribute {
          line-height: 1;
        }
      }
    }

    &-bottom {
      .activity-line-one {
        margin-top: 14px;
        .right {
          flex: 1;
          .right-arrow {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
            .iconfont {
              font-size: 20px;

              &.expand {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
      .activity-line-one,
      .activity-line-two {
        display: flex;

        .left {
          width: 550px;
          flex-shrink: 0;
          flex-grow: 0;
        }
      }
      .discount {
        margin-bottom: 8px;
        .label {
          display: flex;

          .name {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 66px;
            height: 34px;
            background: linear-gradient(174deg, #f31346 0%, #ff4a4a 100%);
            color: white;
            font-size: 22px;
            font-weight: 600;
            border-radius: 2px;
          }

          .msg {
            flex: 1;
            @include multi-ellipsis(1);
            font-size: 24px;
            font-weight: 400;
            color: #999999;
            margin-left: 8px;
          }
        }
      }
    }
  }

  &-header {
    display: flex;
    flex: 1;

    .left {
      width: 100px;
      flex-grow: 0;
      flex-shrink: 0;
      height: 100px;
      margin-right: 24px;

      .img {
        width: 100px;
        height: 100px;
        border-radius: 16px;
        border: 1px solid #dddddd;
        overflow: hidden;
      }
    }

    .center {
      flex: 1;
      padding: 4px 24px;
      padding-left: 0;
      text-align: left;
      .name {
        font-weight: 600;
        color: #111111;
        font-size: 30px;
        display: flex;
        align-items: center;
        .text {
          @include multi-ellipsis(1);
          // flex:1;
        }
        .iconfont {
          width: 16px;
          flex-grow: 0;
          flex-shrink: 0;
          margin-left: 16px;
        }
      }
      .rate {
        margin-top: 8px;
        font-size: 22px;
        font-weight: 400;
        color: #666666;

        .sale {
          margin-left: 16px;
        }
      }
    }

    .right {
      width: 180px;
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .button {
        height: 44px;
        display: flex;
        align-items: center;
        padding: 0 16px;
        color: $primary-color;
        font-size: 24px;
        font-weight: 600;
        border-radius: 22px;
        border: 1px solid #f4811f;

        .text {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &-logo {
    margin-top: 16px;
    border-radius: 16px;
    overflow: hidden;

    .img {
      width: 100%;
      display: block;
    }
  }
}
