.comp-goods-price {
  .mkt-price {
    margin-left: 8px;
  }
  .goods-price {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    .sale-price {
      margin-right: 20px;
    }
    .vip-price,
    .svip-price {
      display: flex;
      align-items: center;
      padding-right: 20px;
      .sp-price__symbol,
      .sp-price__int,
      .sp-price__decimal {
        color: #666;
      }
    }
  }
  .activity {
    display: flex;
    align-items: center;
  }
  .activity-wrap {
    background: #fff;
    border-radius: 32px;
    height: 62px;
    line-height: 62px;
    padding: 0 16px;
    margin-left: 10px;
    color: var(--color-primary);
    .sp-price__symbol,
    .sp-price__int,
    .sp-price__decimal {
      color: var(--color-primary);
    }
  }
}
