/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.sp-slot {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__button {
    margin-top: 20px;
    width: 200px !important;
  }
}
