.page-store-index {
  .search {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .sp-search {
    width: 100%;
    padding: 0 15px;
  }
  .header-block {
    padding-top: 200px;
    background: #4b78e2;
    box-shadow: inset 0px -242px 700px 0px rgba(255, 255, 255, 0.4);
  }
  .icon-huiyuanzhongxin {
    font-size: 38px;
  }
  .icon-gouwuche {
    font-size: 38px;
  }
  .title-container {
    justify-content: flex-start !important;
    .sp-search {
      width: 75%;
      background: transparent;
    }
  }
}
