/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.wgt-film {
  .wgt-film__video-wrap {
    width: 100%;
    overflow: hidden;

    &--16-9 {
      @include aspect-ratio(16, 9);
    }
    &--9-16 {
      @include aspect-ratio(9, 16);
    }
    &--4-3 {
      @include aspect-ratio(4, 3);
    }
    &--3-4 {
      @include aspect-ratio(3, 4);
    }
    &--1-1 {
      @include aspect-ratio(1, 1);
    }
  }

  .wgt-film__video-inner {
    // 作为 aspect-ratio 容器的直接子元素，由 mixin 设为 absolute 填满
    video,
    .flim-video {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .flim-video {
    height: 100%;
    display: block;
    width: 100%;
  }
}
