/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.sp-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
