.sp-sku-select {
  .sku-info {
    display: flex;
    .sku-image {
      margin-right: 20px;
      /* prettier-ignore */
      border: 1PX solid #f5f5f5;
    }
    .info-bd {
      margin-top: 30px;
    }
  }

  .sku-list {
    margin-top: 30px;
    margin-bottom: 100px;
  }
  .sku-group {
    margin-bottom: 20px;
  }
  .buy-count {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .label {
      color: #222;
      font-weight: 600;
    }
    .limit-count {
      color: #999;
      font-size: 24px;
      font-weight: normal;
    }
  }
  .sku-name {
    color: #222;
    font-weight: 600;
  }
  .sku-values {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .sku-btn {
    padding: 0 16px;
    height: 60px;
    line-height: 60px;
    background: #f5f5f5;
    /* prettier-ignore */
    border: 1PX solid #f5f5f5;
    border-radius: 4px;
    margin: 0 24px 24px 0;
    color: #222;
    box-sizing: border-box;
    &.sku-img {
      padding: 0;
      height: 283px;
      line-height: initial;
      &:nth-child(3n + 3) {
        margin-right: 0;
      }
      .spec-name {
        display: block;
        text-align: center;
        margin-top: 10px;
      }
    }
    &.active {
      background: #fff;
      /* prettier-ignore */
      border: 1PX solid var(--color-primary);
      color: var(--color-primary);
    }
    &.disabled {
      color: #cdcdcd;
    }
  }

  .at-input-number {
    /* prettier-ignore */
    border: 1PX solid #999;
    border-radius: 0;
    .at-input-number__input {
      width: 60px;
      /* prettier-ignore */
      border-left: 1PX solid #999;
      /* prettier-ignore */
      border-right: 1PX solid #999;
    }
    .at-icon-subtract::before,
    .at-icon-add::before {
      color: #333;
    }
  }
}
