.comp-other-login{
    position: relative;
    .line{
        border-top:1px solid red;
        position:absolute; 
        top:20px;
        left:0;
        right:0;
    }
    .text{
        color:rgba(197, 202, 213, 1);
        font-size: 28px; 
        position: relative;

        &:after,&:before{
            position: absolute;
            top:0;
            content: '';
            display: block;
        }
    }
    .loginway{
        padding:24px 0 10px 0;
        @include flex-center();

        .wechat{
            width: 90px;
            height: 90px;
            border: 1PX solid #C5CAD5; 
            border-radius: 50%;
            color:rgba(0, 200, 0, 1); 

            @include flex-center();

            .icon-weixin{
                font-size:40px;
            }
        }
    }
}