.comp-password-input{

    display: flex;
    align-items: center;
    width: 100%;
     
    .input-icon{
        margin-right:10px;
        .icon{
            font-size:34px;
            color:var(--color-primary);
        }
    }
}
