@import "../../style/imports";
@import "../../style/animations";

.sp-icon-weixin {
  color: $color-weixin;
}

.address-picker {
  .address {
    display: flex;
    align-items: center;
    padding: 20px 30px;
  }
  // choose-address
  &__bd {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    .address-receive {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      color: #555555;
      margin-right: 9px;
      .info-trade {
        flex: 1;
      }
      .user-info-trade {
        color: #666;
        font-size: 28px;
        .name {
          margin-right: $edge-margin;
        }
      }
      .address-detail {
        color: #222;
        font-weight: bold;
        font-size: 32px;
        padding: 24px 0;
      }
      .address-area {
        color: #666;
        font-size: 28px;
        display: flex;
        align-items: center;
        .def {
          font-size: 20px;
          color: #FFFFFF;
          background: var(--color-primary);
          border-radius: 5px;
          padding: 2px 8px;
          margin-right: 10px;
        }
      }
    }
  }
  .address-info__bd {
    width: 600px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border: 3px dashed #aaa;
    color: #666;
    margin: 20px auto;
  }
  .icon-arrowRight {
    font-size: 40px;
    color: rgba(170, 170, 170, 0.8)
  }
}
