@import "../../../style/imports";

.wgt__title{
  color:$color-brand-primary ;
}
.wgt__subtitle{
  color:#dbdcde;
  margin-left: 15px;
  font-size: 19px;
  margin-top: 10px;
  letter-spacing: 5px;
}
.slider-wrap {
  position: relative;
  // background: #ffffff;
}
.slider-title{
  display: flex;
  flex-wrap:wrap;
  padding: 15px 10px;

  &__text{
    padding: 2px 10px;
    border-radius: 25px;
    
    background-color: #F9F9F8;
    margin-left: 13px;
    margin-bottom: 15px;
    font-size: 26px;
  }
}

.slider-img {
  .slider-item {
    box-sizing: border-box;
    display: block;
    &__img {
      width: 100%;
      height: 100%;
      display: block;
      overflow: hidden;
      image {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    &__marginleft{
      margin-right: 28px;
    }
  
    .rounded {
      border-radius: 25px;
    }
  }
  .img-hotzone {
    position: relative;
    &_img {
      width: 100%;
      display: block!important;
      margin-top: -1px;
    }
    image{
      display: block!important;
    }
    &_zone {
      position: absolute;
    }
    
  }
}

.slider-dot {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 77;
  &.left {
    position: absolute;
    bottom: 30px;
    left: 10px;
  }
  &.center {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  &.right {
    position: absolute;
    bottom: 30px;
    right: 10px;
    justify-content: flex-end;
  }
  &.bottom{
    margin: 20px 0 0 10px;
    justify-content: flex-start;
  }
  &.bottomcenter{
    margin-top: 20px;
    justify-content: center;
  }
  &.bottomleft{
    justify-content:flex-end;
    margin: 20px 10px 0px 0px;
  }
  &.dark {
    .dot {
      background: #ffffff;
    }
  }
  &.light {
    .dot {
      background: rgba(255,255,255,0.7);
    }
  }
  &.circle {
    .dot {
      width: 15px;
      height: 15px;
      border-radius: 100%;
    }
  }
  &.rectangle {
    .dot {
      width: 34px;
      height: 4px;
      margin-right: 10px;
      opacity: 0.46;
    }
  }
  &.progressbar{

    .slider-progressbar{
      position: relative;
      height: 8px;
      border-radius: 5px;
    }
    // position: relative;
    .bar{
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 8px;
      border-radius: 5px;
      transition: all 1s;
    }
  }

  .dot {
    margin: 0 6px;
    &.active {
      background: $color-brand-primary;
      opacity: 1;
    }
  }
  &.dot-size-switch {
    &.circle {
      .dot {
        border-radius: 20px;
      }
    }
    .dot {
      transition: all 0.3s ease;
      &.active {
        width: 30px;
      }
    }
  }
}

.slider-count {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
  font-size: 24px;
  text-align: center;
 
  &.left {
    position: absolute;
    bottom: 30px;
    left: 20px;
  }
  &.center {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  &.right {
    position: absolute;
    bottom: 30px;
    right: 20px;
  }
  &.bottom{
  
    margin: 20px 0 0 10px;
    justify-content: flex-start;
  }
  &.bottomcenter{
    margin-top: 20px;
    justify-content: center;
  }
  &.bottomleft{
    justify-content:flex-end;
    margin: 20px 10px 0px 0px;
  }
  &.dark {
    background: rgba(0,0,0,0.4);
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    border-radius: 50%;
  }
  &.light {
    background: rgba(255,255,255,0.7);
    color: #555;
  }
  &.circle {
    .count{
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 24px;
      border-radius: 50%;
    }
    
  }
  &.rectangle {
     .count{
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 24px;
      border-radius: 0;
    }
    
  }
}




.slider-caption {
  padding: 20px 30px;
  color: #999;
}

.plus-hidden__img {
  width: 100%;
  display: block;
  visibility: hidden;
  z-index: -1;
}
.plus_img {
  position: absolute;
  left: 0;
  top: 0px;
  width:100%;
  height: 100%;
  z-index: 10;
}

.type2-img{
  height: 380px!important;
}
.type3-img{
  height: 290px!important;
}
.sliderimgflex{
  display: flex;
  width: 100%;
  // position: absolute;
  // top: 0;
  // left:0;

  .type3-right-swiper{
    width: 680px;
  }
  .left-item__img{
    height: 100%!important;
    position: absolute;
   
  }

}

