.comp-goodsbuytoolbar {
  display: flex;
  padding: 20px;
  height: 120px;
  background: #fff;
  box-sizing: border-box;

  .toolbar-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .iconfont {
      font-size: 38px;
      line-height: 40px;

      color: #3ec07d;
    }

    &-money {
      height: 40px;

      .sp-price__int,
      .sp-price__symbol,
      .sp-price__decimal {
        color: #3ec07d;
        font-weight: 900;
      }
    }

    &-button {
      display: flex;
      align-items: center;
      font-size: 38px;
      padding: 10px 20px;
      color: #3ec07d;
      border: 1px solid #3ec07d;
      border-radius: 10px;

      &-txt {
        margin-left: 8px;
        font-size: 30px;
        color: #3ec07d;
        vertical-align: middle;
      }
    }

    &-txt {
      font-size: 24px;
      color: #666;
      /* #ifdef  h5  */
      position: relative;
      top: -10px;
      vertical-align: middle;
      /* #endif */
    }
  }
}
