@import "../../style/imports";

.coupon-list {
  .at-tabs__header {
    position: absolute;
    top: $navigate-height;
    width: 100%;
    z-index: $z-index-toolbar;
  }
  .home_coupon-list__scroll {
    height: 100vh;
    padding: 20px $edge-margin;
    box-sizing: border-box;
  }
  &__tabs {
    position: fixed;
    z-index: $z-index-toolbar;
    left: 0;
    height: 100PX;
    top: 0;
    width: 100%;
  }
}

.coupon-item___time {
  font-size: 22px !important;
  color: #999999 !important;
}

.coupon-btn {
  position: absolute;
  top: 77px;
  background: $color-brand-primary;
  color: #ffffff;
  font-size: 19px;
  border-radius: 18px;
  padding: 4px 18px;
  right: 20px;
  &__done {
    background: #c4c4c4;
    color: #ffffff;
    opacity: 0.8;
  }
}
