.padtop {
  padding-top: $home-header-height;
}
.page-index {
  padding-bottom: $tabbar-height;
  .home-body {
    overflow-x: hidden;
    &.has-home-header {
      margin-top: $home-header-height;
    }
  }
  .wgt__padded {
    padding: 24px 0px;
  }
}
