/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
@import '../../style/imports';

.float-menus {
  position: fixed;
  width: 60px;
  right: $edge-size;
  bottom: 100px;
  z-index: $z-index-tooltip;
}
