/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

.wgt-content-partition {
  box-sizing: border-box;
  width: 100%;

  &__container {
    width: 100%;
    box-sizing: border-box;
  }

  &__content-scroll {
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__content {
    box-sizing: border-box;
    width: 100%;
  }

  &__content-section {
    box-sizing: border-box;
    width: 100%;
  }
}
