.page-community-applychief {
  .page-hd {
    background: var(--color-primary);
    .container {
      position: relative;
      z-index: 100;
    }
  }
  .form-bg {
    position: absolute;
    width: 100%;
  }
  .btn-wrap {
    padding: 20px;
  }
  .applychief-desc {
    padding: 40px 48px;
    color: #fff;
  }
  .applychief-form {
    border-radius: 32px 32px 0 0;
    background: #fff;
    padding: 40px 48px;
  }
  .form-container {
    padding: 40px 48px;
    border-radius: 32px 32px 0 0;
    background: #fff;
  }
  .form-item-label {
    font-size: 28px;
    color: #333;
    font-weight: 600;
  }
  .register-licence {
    padding: 24px 48px;
    background: #f5f5f5;
  }
  .sp-checkbox-new {
    align-items: flex-start;
  }
  .licence-content {
    color: #666F83;
    font-size: 24px;
  }
  .licence-chief {
    color: var(--color-primary);
    font-size: 24px;
  }
  .default-view {
    text-align: center;
    .at-button {
      display: inline-block;
      margin-top: 40px;
    }
    &.reject {
      .sp-note__text {
        color: #EC2E3D;
      }
    }
  }
  .reject-reason {
    width: 560px;
    padding: 24px 40px 60px;
    background: #EBEBEB;
    border-radius: 16px;
    color: #999;
    font-size: 26px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
  }
}