/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.page-community-edit {
  .btn-wrap {
    padding: 20px;
  }
  .at-input {
    margin-bottom: 0;
    &::after {
      border-color: transparent;
    }
  }
}
