.espierCheckout {
  &-header {
    // height: 150px;
    background: #fefffe;
    padding: 30px;

    &__explain {
      font-size: 30px;
      margin-bottom: 4px;
    }
  }

  &-address {
    padding: 30px;
    background: #fefffe;
    margin-top: 20px;

    &__title {
      padding-bottom: 28px;
      font-weight: 700;
      font-size: 30px;

      &-text {
        color: #fe6620;
      }
    }

    &__info {
      background: #f8f8f7;

      &-name {
        Text {
          font-weight: 700;
          font-size: 30px;
          margin-right: 20px;
        }
        padding-bottom: 20px;
      }
    }
  }

  &-goods {
    margin-top: 20px;
    padding: 20px 30px;
    background: #fff;
    &.spec-item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &-total {
    padding: 26px 30px 30px 30px;
    background: #fff;

    &__price {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      font-size: 30px;
    }

    &__payPrice {
      text-align: right;
      margin-top: 34px;
      font-size: 30px;

      &-num {
        color: #666;
        margin-right: 8px;
      }
    }
  }

  &-remarks {
    padding: 30px;
    margin: 20px 0;
    background: #fff;

    .at-input {
      padding: 0;
      margin: 0;
    }

    .at-input__title {
      width: 80px;
      font-size: 30px;
    }
  }

  &-toolbar {
    // padding-left: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;

    &__price {
      // height: 108px;
      // line-height: 108px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

  .at-input {
    margin-bottom: 0;
    &::after {
      border-color: transparent;
    }
  }

  .extra-block {
    // padding: 30px 20px;
    background: #fff;
    margin-top: 20px;
    .sp-cell {
      padding: 10px 30px;
    }
  }

  .spec-item {
    display: flex;
    &-hd {
      margin-right: 10px;
    }
    &-bd {
      flex: 1;
    }
    .item-name {
      margin-top: 10px;
    }
    .spec-desc {
      color: #666;
    }
    .spec-num {
      text-align: right;
      color: #666;
    }
    .item-price-num {
      display: flex;
      margin-top: 20px;
      justify-content: space-between;
    }
  }
}
