@import '@/style/imports';
.page-community-order {
  padding-bottom: $tabbar-height !important;
  .search {
    padding: 16px 24px;
  }
  .tabs-list {
    margin-bottom: 20px;
  }
  .at-tabs {
    // box-shadow: 0 10px 10px rgba(#000, 0.05);
    // &__header {
    // position: fixed;
    // left: 0;
    // width: 100%;
    // z-index: $z-index-toolbar;
    // }
    &__body {
      height: 0px !important;
    }
    &__item {
      // height: $tabs-height;
      color: $color-brand-accent-light;
    }
    &__item-underline {
      width: 40%;
      left: 30%;
      background: var(--color-primary);
    }
    &__item--active {
      color: var(--color-primary);
    }
  }
  .order-tags-box {
    padding: 24px;
    background: #fff;
    margin-bottom: 24px;
    .order-tags {
      margin-right: 15px;
      font-size: 24px;
    }
    .tag-active {
      color: #ffffff;
      background: var(--color-primary);
      border: 1px solid var(--color-primary);
    }
  }
  .footer-btn {
    padding: 2px 8px;
    border-radius: 8px;
    font-size: 26px;
    display: inline-block;
    color: #fff;
    margin: 0px 5px;
  }
}
