$colorSecondary: #666;
$colorIcon: #777;

.waitPay {
  &-header {
    margin-top: 120px;
    background: #fff;
    padding: 30px 87px 30px 45px;
    display: flex;
    justify-content: space-between;

    &__info {
      padding-top: 30px;
      &-title {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      &-time {
        color: $colorSecondary;
        Text {
          color: #fe6620;
        }
      }
    }

    &__img {
      width: 180px;
      height: 180px;
    }
  }

  &-title {
    font-size: 30px;
    font-weight: 700;
    padding: 26px 30px;
    border-bottom: 1px solid #f7f7f7;
    background: #fff;
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__l {
      display: flex;
      align-items: center;
    }

    &__img {
      width: 50px;
      height: 50px;
      display: inline-block;
      margin-right: 5px;
    }

    &__r {
      width: 235px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      padding-right: 50px;

      .at-icon {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 35px;
        color: #ccc;
      }
    }
  }

  &-address {
    background: #fff;
    padding: 0px 30px;

    .iconfont {
      font-size: 28px;
      margin-right: 5px;
      color: $colorIcon;
      font-weight: 700;
    }

    &__info {
      padding: 30px 0px;
      border-bottom: 1px solid #f7f7f7;
      margin-bottom: 15px;

      &-strong {
        font-weight: 700;
      }

      &-position {
        color: $colorSecondary;
        margin-top: 15px;
        margin-left: 31px;
      }
    }

    &__user {
      &-name {
        margin-right: 20px;
      }

      View {
        line-height: 44px;
        color: $colorSecondary;
      }

      &-li {
        margin-left: 31px;
      }
    }

    &__remarks {
      padding: 31px 0;
      color: $colorSecondary;
    }
  }

  &-goods {
    padding: 25px 30px;
    background: #fff;
    border-bottom: 1px solid #f7f7f7;

    &__price {
      display: flex;
      justify-content: space-between;

      .sp-price__decimal {
        font-size: 32px !important;
      }
    }
  }

  &-total {
    padding: 26px 30px 30px 30px;
    background: #fff;
    text-align: right;
    margin-top: 34px;
    font-size: 30px;

    &__num {
      color: #666;
      margin-right: 20px;
    }

    .sp-price__symbol {
      color: #fe6620;
      font-weight: 900;
      font-size: 28px !important;
    }

    .sp-price__int,
    .sp-price__decimal {
      font-size: 38px !important;
      color: #fe6620;
      font-weight: 900;
    }
  }

  &-order {
    background: #fff;
    padding: 20px 0px 0 30px;

    &__item {
      display: flex;
      height: 60px;
      box-sizing: border-box;

      &-label {
        width: 155px;
      }

      &-name {
        margin: 0 5px;
      }

      &-avatar {
        width: 40px;
        height: 40px;
      }

      &-btn {
        font-size: 22px;
        border: 1px solid #cbcbcb;
        height: 38px;
        padding: 0 8px;
        margin-left: 10px;
        line-height: 38px;
        .icon {
          font-size: 24px;
          margin: 0 14px 0 6px;
        }
      }
    }
  }

  &-close {
    height: 95px;
    line-height: 95px;
    width: 100%;
    text-align: center;
    color: $colorSecondary;
    margin-top: 22px;
    background: #fff;
  }

  &-toolbar {
    width: 100%;
    height: 108px;
    text-align: center;
    color: #fff;
    background: #06c160;
    box-sizing: border-box;
    padding-top: 7px;

    .sp-price__int,
    .sp-price__symbol,
    .sp-price__decimal {
      font-size: 38px !important;
      color: #fff;
      font-weight: 900;
    }
  }
}
