.page-community-withdraw-bank {
  padding: 40px 16px;
  .form-container {
    background-color: #fff;
    border-radius: 16px;
    padding: 24px;
  }
  .withdraw-tip {
    margin: 32px 24px;
    font-size: 24px;
    color: #aaaaaa;
    line-height: 42px;
  }
  .btn-wrap {
    padding: 20px;
  }
}
