@import "../../../style/imports";

.pay-mode {
  background: $color-brand-primary;
  color: $color-brand-primary-text;
  border-radius: 6px;
  text-align: center;
  padding:0 32px;
  height:80px;
  line-height: 80px;
  margin-bottom: 20px;
}
.at-modal__content {
  text-align: center;
  display:flex;
  align-items:center;
}
