.sp-tabs {
  &-hd {
    display: flex;
    background: #fff;
    .tab-item {
      height: 92px;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-hint-text;
      position: relative;
      .iconfont {
        font-size: 40px;
      }
      &:not(:last-child) {
        &:after {
          content: "";
          height: 40px;
          width: 1PX;
          background-color:#ddd;
          position: absolute;
          right: 0;
        }
      }
      &-active {
        color: #333;
        font-size: 30px;
        .name {
          position: relative;
          &:after {
            content: "";
            height: 4px;
            position: absolute;
            left: -48px;
            right: -20px;
            bottom: -24px;
            background-color:#333;
          }
        }
      }
    }
  }
}
