/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.sp-page {
  box-sizing: border-box;
  width: 100vw;
  .sp-page__body {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    .sp-page__body-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      min-height: 100%;
    }

    .sp-page__body-children {
      flex: 1 0 auto;
    }
  }

  .sp-page__loading {
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sp-page__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-index-level-3;
    background: #fff;
  }

  &.has-custom-navigation {
    .countDown {
      &.right_top {
        top: 12%;
      }
    }
  }

  .sp-page__powered-by {
    color: #b3b3b3;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 80px !important;
    line-height: 80px !important;
    margin-top: auto;
    flex-shrink: 0;
  }

  .powered-logo {
    width: 120px;
    height: 32px;
    line-height: 32px !important;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .float-container {
    position: fixed;
    bottom: 350px;
    right: 30px;
    z-index: $z-index-level-3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    .icon-zhiding {
      font-size: 34px;
      color: #fff;
    }
  }

  .custom-navigation {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;

    &__body {
      align-items: center;
    }

    .title-container {
      font-size: 26px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      -webkit-text-overflow: ellipsis;
    }

    &.mantle {
      background: rgba(255, 255, 255, 0.5);
      transition: all 0.15s ease-in;
    }

    &.dark {
      background: #000;

      .icon-wrap {
        background: #a0a0a0;
      }

      .title-container {
        color: #fff;
      }
    }

    &.light {
      background: #fff;

      .icon-wrap {
        background: #a0a0a0;
      }

      .title-container {
        color: #333;
      }
    }
  }

  .p-title-hot-img {
    position: relative;
    width: 100%;
    height: 100%;

    .sp-image {
      width: 100%;
      height: 100%;
    }

    .img-hotzone_zone {
      position: absolute;
      z-index: 1;
    }
  }
}
