.sp-page {
  &.has-navbar {
    padding-top: $navigate-height;
  }
  

  .float-container {
    position: fixed;
    bottom: 150px;
    right: 30px;
    z-index: 1002;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    .icon-arrow-up  {
      font-size: 38px;
      color: #fff;
    }
  }
}