/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.wgt-order-navigation {
  .wgt-order-navigation-bd {
    display: flex;
    justify-content: space-between;

    .sp-login {
      flex: 1;
    }
  }

  .wgt-order-navigation-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .wgt-order-navigation-title {
      max-width: 70% !important;
      font-size: 36px;
      font-weight: 600;
    }

    .wgt-order-navigation-morelink {
      display: flex;
      align-items: center;
      font-size: 26px;
    }
  }

  .wgt-order-navigation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;

    .wgt-order-navigation-wrapper {
      position: relative;

      .wgt-order-navigation-bg {
        width: 108px;
        height: 108px;
        background: #f8f8f8;
        background: radial-gradient(70.71% 70.71% at 100% 50%, #ffffff 0%, #f8f8f8 100%);
        border-radius: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      }

      .wgt-order-navigation-icon-mr {
        width: 56px;
        height: 56px;
      }

      .wgt-order-navigation-icon {
        width: 56px;
        height: 56px;
      }

      .wgt-order-navigation-badge {
        position: absolute;
        top: 10px;
        right: -10px;
        height: 30px;
        min-width: 30px;
        line-height: 30px;
        text-align: center;
        background-color: var(--color-primary);
        color: #fff;
        border-radius: 44px;
        font-size: 20px;
        display: inline-block;
      }
    }

    .wgt-order-navigation-label {
      font-size: 24px;
      color: #404040;
      line-height: 28px;
    }
  }
}
