// @import "../../../style/imports";

.scrollitemlisti {
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;

  .badges {
    width: 100%;
    height: auto;

    &_i {
      position: absolute;
      left: 10px;
      top: 10px;
      background-color: var(--color-primary);
      color: #fff;
      padding: 7px 10px;
      font-size: 20px;
      border-radius: 4px;
    }
  }

  .img {
    width: 100%;
    // border-radius: 16px;
    // overflow: hidden;
    // border-top-left-radius: 16px;
    // border-top-right-radius: 10px;

    &_i {
      // .sp-img{



      // }
    }
  }

  .text {
    padding: 20px 15px;

    .title {
      margin-bottom: 20px;

      text {
        font-size: 28px;
        font-weight: 400;
        color: #222222;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-all;
        // line-height: 35px;
      }
    }

    .btm {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_left {
        width: 70%;
        display: flex;
        align-items: center;

        &_img {
            width: 32px;
            height: 32px;
          border-radius: 50%;
          overflow: hidden;

        }

        &_text {
          width: 60%;
          display: block;
          line-height: 23px;
          height: 23px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-left: 8px;
          font-size: 22px;
          font-weight: 400;
          color: #666666;
        }
      }

      .icon-aixin-shixin {
        color: #df2f2f;
      }

      &_right {
        display: flex;
        align-items: center;
        font-size: 39rpx;

        text {
          font-size: 20px;
          display: block;
          margin-left: 10px;
          color: #000;
        }
      }
    }
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.6);
    color: #fff;
    z-index: 10;

    &_i {
      display: flex;
      align-items: center;

      &_icon {
        font-size: 33px;
      }

      &_text {
        font-size: 27px;
        margin-left: 5px;
      }
    }
  }
}
