@import "@/style/imports";
.order-main{
  padding: 24px 47px;
  @include clearfix();
}
.order-item {
  display: flex;
  align-items: flex-start;

  &__img {
    width: 141px;
    height: 141px;
    margin-right: 35px;
    border-radius: 6px;
  }
  &__hd {
  }
  &__bd {
    width: 50%;
  }
  &__ft {
    flex: 1;
    text-align: right;
    font-size: $font-size-small;
   
  }
  &__title {
    font-size: floor(0.95 * $font-size);
    @include multi-ellipsis(2);
    line-height: 1.4;
    margin: 0 0 4px;
  }
  &__desc {
    color: $color-gray;
    font-size: $font-size-small;
  }
  &__price {
    color: $color-primary-text;
  }
  &__num {
    display: block;
    color: $color-gray;
  }
  &_detialnum{
    font-size: 22px;
    line-height: 19px;
    color: #999999;
  }
  &__spec {
    display: block;
    color: $color-gray;
    font-size: 20px;
  }
  &__pay-type {
    display: block;
    margin-top: 42px;
    font-size: 20px;
    color: #c1c1c1;
  }
 
}
