.sp-select {
  .select-item {
    height: 60px;
    line-height: 60px;
    padding: 0 24px;
    background: #F5F5F5;
    border-radius: 16px;
    color: #222;
    display: inline-block;
    margin: 0 24px 24px 0;
  }
}