@import "../../style/imports";

.trade-list {
  .at-tabs {
    height: 80px;
    box-shadow: 0 10px 10px rgba(#000, 0.05);
    &__header {
      position: fixed;
      left: 0;
      top: $navigate-height;
      width: 100%;
      z-index: $z-index-toolbar;
    }
    &__item {
      height: 80px;
    }
    &__item-underline {
      width: 40%;
      left: 30%;
    }
  }
  &__scroll {
    box-sizing: border-box;
    @include page-scroll($navigate-height + $tabs-height + $edge-size, $edge-margin)
  }
  &__tabs {
  }
  .trade-item {
    padding: 30px 40px;
    &__hd {
      padding: 0;
    }
    &__hd-cont {
      height: 44px;
      line-height: 44px;
      border-bottom: 1px solid #e4e4e4;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 22px;
      color: #a6a6a6;
    }
    &__total {
      padding: 20px 0;
      font-size: 22px;
      color: #000;
    }
    &__ft {
      padding: 0;
    }
    .at-button {
      font-size: $font-size-small;
      padding-left: 26px;
      padding-right: 26px;
      margin-left: 20px;
    }
  }
  .order-item {
    padding: 30px 0;
    border-bottom: 1px solid #ededed;
    &__img {
      width: 120px;
      height: 100px;
      border-radius: 6px;
      margin-right: 30px;
    }
    &__title {
      font-size: 24px;
      color: #333;
    }
    &__num {
      margin: 12px 0 0;
      font-size: 20px;
      color: #c1c1c1;
    }
    &__price {
      font-size: 24px;
      color: #000;
    }
  }
}
