@import "../../style/imports";

.trade-list {
  .at-tabs__header {
    position: absolute;
    top: $navigate-height;
    width: 100%;
    z-index: $z-index-toolbar;
  }
  &__scroll {
    height: 100vh;
    padding: $tabbar-height + 20px 0 $edge-margin;
    box-sizing: border-box;
  }
  &__tabs {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
  .trade-item {
    margin: 0 $edge-size $edge-margin;
    &__hd-cont {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .more {
        color: $color-link;
        font-size: small;
        text-align: right;
      }
    }
    .at-button {
      font-size: $font-size-small;
      padding-left: 26px;
      padding-right: 26px;
      margin-left: 20px;
    }
  }
}
