@import "../../style/imports";

.page-trade-refund {
  .refund-info {
    background: #ffffff;
    border-top: 1PX solid #ebebeb;
    width: 100%;
    padding: 35px 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
    &__num {
      display: flex;
      justify-content: space-between;
    }
    &__text {
      font-size: 22px;
      line-height: 40px;
      color: #666666;
    }
    .text-primary {
      display: block;
      font-size: 24px;
      text-align: right;
      color: $color-brand-primary;
    }
  }
  .refund-reason {
    .at-action-sheet__header {
      color: #000000;
      font-size: 32px;
      position: static;
    }
    &__item {
      display: flex;
      justify-content: space-between;
      padding-right: 30px;
      .default__icon {
        font-size: 40px;
        color: #9d9d9d;
      }
      .default__checked {
        color: $color-brand-primary;
      }
    }
    .at-action-sheet__body {
      background: #ffffff;
      padding-bottom: 150px;
    }
    .at-action-sheet__item {
      position: static;
      border-bottom: 1PX solid #ebebeb;
      padding-right: 0;
    }
    .at-action-sheet__footer {
      border-top: 0;
      background: $color-brand-primary;
      color: #ffffff;
    }
  }
  .refund-describe {
    margin-top: 20px;
    padding: 30px;
    background: #ffffff;
    .at-textarea {
      height: 100px;
      border: 1PX solid #e6e6e6;
      background: #f6f5f5;
      font-size: 22px;
    }
    .at-textarea__counter {
      display: none;
    }
    &__img {
      margin-top: 40px;
    }
    &__text {
      color: #666666;
      display: block;
      margin-bottom: 27px;
    }
    &__imgupload {
      border: 1PX solid #e6e6e6;
      height: 270px;
      width: 100%;
      background: #f6f5f5;
      &_text {
        display: block;
        padding: 30px;
        color: #b3b3b3;
      }
    }
  }
  .refund-btn {
    height: 84px;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 84px;
    text-align: center;
    color: #ffffff;
    background: $color-brand-primary;
  }
  //.sp-cell {
  //  flex-direction: column;
  //  align-items: left;
  //  &__hd {
  //    margin: 0 0 floor($edge-size / 2);
  //  }
  //  &__bd {
  //    width: 100%;
  //  }
  //}
  //.refund-reason {
  //  margin: 0 10px 10px 0 ;
}
