.page-ugc-follow-fans {
  .sp-tag-bar {
    padding: 24px 0;
    display: flex;
    justify-content: center;
    .tag-bar-hd {
      width: 80%;
    }
    .tag-item {
      width: 50%;
      text-align: center;
    }
  }
}
