.page-ugc-my {

  .main-hd {
    background-color: #E9E9E9;
    padding: 32px 0 0;
  }

  .main-info {
    padding: 16px 32px;
    display: flex;
    align-items: center;
  }

  .author-name {
    margin-left: 24px;
    font-size: 30px;
    font-weight: 600;
  }

  .info-container {
    margin-top: 48px;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;

    .info-hd {
      display: flex;
    }

    .item-info {
      text-align: center;
      width: 100px;

      .num {
        font-size: 24px;
        font-weight: 600;
        color: #222;
      }

      .label {
        font-size: 24px;
        color: #666;
      }
    }

    .btn-follow {
      width: 140px;
      height: 60px;
      line-height: 60px;
      background: #F5F5F5;
      border-radius: 40px;
      color: #666;
      text-align: center;
    }
  }

  .filter-bar-wrap {
    margin-top: 48px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;

    .tag-item {
      margin: 0 40px;
    }
  }

  .list-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;


    .left-container {
      width: 350px;
    }

    .right-container {
      width: 350px;
      // padding-left: 20px;
    }

    .note-item-wrap {
      margin-bottom: 20px;
      // box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      position: relative;
    }
  }
}
