/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.custom-picker {
  .picker-box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-dianwu-primary);
    .icon-xialajiantou {
      margin-left: 10px;
      font-size: 12px;
    }
  }
}
