.sp-store-picker {
  color: $color-secondary-text;
  display: flex;
  align-items: center;
  .shop-name {
    @include multi-ellipsis(1);
    max-width: 140px;
    color: #222;
    font-size: 26px;
  }
  .icon-arrowRight {
    font-size: 26px;
    color: #222;
  }
}