.sp-checkbox-new {
  display: flex;
  align-items: center;
  &__label {
    margin-left: 16px;
  }
  .icon-roundcheckfill {
    font-size: 40px;
    color: var(--color-primary) !important;
  }
  .icon-round {
    font-size: 40px;
    color: #CCC;
  }
  .icon-circle1 {
    font-size: 38px;
    color: #ddd;
  }
}