/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.sp-checkbox-new {
  display: flex;
  align-items: center;
  justify-content: center;
  &__label {
    margin-left: 16px;
  }
  .icon-roundcheckfill {
    font-size: 40px;
    color: var(--color-primary) !important;
  }
  .icon-round {
    font-size: 40px;
    color: #ccc;
  }
  .icon-circle1 {
    font-size: 38px;
    color: #ddd;
  }
}
