@import '../../style/imports';

.page-distribution-index {
  .header {
    position: relative;
    padding: 30px;
    background: #2f3030;
    height: 180px;
    color: #ffffff;
    .header-avatar {
      width: 114px;
      height: 114px;
      border-radius: 50%;
    }
    .header-info {
      padding-left: 26px;
      .mcode {
        font-size: 24px;
        margin-bottom: 6px;
        color: #eaeaea;
      }
      .nickname {
        font-size: 14PX;
      }
    }
    .member-acount {
      padding: 5px 10px;
      margin-right: 10px;
      border: 1px solid #ccc;
      border-radius: 60px;
      font-size: 22px;
      line-height: 1;
      color: #ccc;
    }
    .icon-forward {
      color: #ccc;
    }
  }
  .achievement {
    .section-body {
      font-size: 24px;
    }
    .amount {
      margin-bottom: 5px;
      .count {
        font-size: 50px;
        margin-right: 10px;
      }
    }
  }
  .member {
    font-size: 30px;
    color: #333;
  }
  .analysis {
    [class^="icon-"] {
      color: #00c3ff;
      font-size: 50px;
    }
    .label {
      padding: 15px 0;
      font-size: 24px;
    }
  }
  .share {
    .item-icon {
      color: #00c3ff;
    }
    .share-btn {
      margin: 0;
      line-height: 1;
      background: none;
      font-size: inherit;
      color: inherit;
      text-align: left;
      &::after {
        content: none;
      }
    }
  }
}
