@import '../../style/imports';

.page-distribution-qrcode {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #2f3030;
  .qrcode-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 88%;
    height: 80%;
    background: #fff;
    border-radius: 10rpx;
  }
  .title {
    position: relative;
    font-size: 46rpx;
    margin-bottom: 20rpx;
    &::before {
      position: absolute;
      top: 50%;
      right: 150%;
      width: 100rpx;
      height: 1px;
      background: rgba(255,255,255,0.3);
      content: "";
    }
    &::after {
      position: absolute;
      top: 50%;
      left: 150%;
      width: 100rpx;
      height: 1px;
      background: rgba(255,255,255,0.3);
      content: "";
    }
  }
  .avatar {
    width: 150rpx;
    height: 150rpx;
    border-radius: 50%;
    margin-bottom: 10rpx;
  }
  .name {
    font-size: 32rpx;
    margin-bottom: 100rpx;
  }
  .welcome-words {
    font-size: 36rpx;
    margin-bottom: 50rpx;
  }
  .qrcode {
    width: 250rpx;
    height:250rpx;
    padding: 20rpx;
    margin-bottom: 20rpx;
    background: #fff;
    image {
      width: 100%;
      height: 100%;
    }
  }
  .tips {
    font-size: 26rpx;
  }
}
