@import "../../style/imports";

.page-distribution-shop {
  background: $color-bg-gray;
  .goods-list {
    padding: 30px;
    &__scroll {
      @include page-scroll(0, 0);
    }
    .shop-goods-item {
      margin-bottom: 30px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
      overflow: hidden;
    }
    .shop-goods {
      .at-button::after {
        box-shadow: 0 0 0 1px #00c3ff;
      }
      &__thumbnail {
        display: block;
        width: 100%;
        height: 30vw;
      }
      &__caption {
        padding: 20px;
      }
      &__title {
        font-size: 28px;
        color: #333;
      }
      &__desc {
        font-size: 24px;
        color: $color-gray;
      }
      &__detail {
        padding: 20px;
        color: #00c3ff;
        text-align: center;
        border-top: 1PX solid #efefef;
        font-size: 24px;
      }
    }
    .shop-goods__footer {
      display: flex;
      padding: 10px;
      background: #2f3030;
      &-item {
        flex: 1;
        height: 60px;
        line-height: 60px;
        text-align: center;
        color: #fff;
        padding: 0;
        margin: 0;
        background: none;
        border: none;
        box-shadow: none;
        font-size: 28px;
        &::after {
          border: none;
        }
        &.unreleased {
          color: #00c3ff;
        }
      }
    }
  }
}
