@import "../../style/imports";

$banner-height: 250px !default;

.page-distribution-shop {
  background: $color-bg-gray;
  .shop-banner {
    position: relative;
    height: $banner-height;
    background: #2f3030;
    .banner-img {
      display: block;
      width: 100%;
      height: 100%;
    }
    .shop-info {
      display: flex;
      align-items: center;
      position: absolute;
      left: 30px;
      top: 50%;
      transform: translateY(-50%);
      .shopkeeper-avatar {
        margin-right: 20px;
        width: 120px;
        height: 120px;
        border-radius: 100%;
      }
      .shop-name {
        font-size: 32px;
        color: #fff;
      }
      .shop-desc {
        color: #999;
      }
    }
    .shop-setting {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      color: #eaeaea;
      font-size: 50px;
    }
  }
}
