.page-dianwu-change-price {
  .scroll-list {
    background: #f5f6f9;
    @include page-scroll(0, $page-footer-height + 168px * 2);
  }
  &.ipx {
    .scroll-list {
      @include page-scroll(0, $page-ipx-footer-height + 168px * 2);
    }
    // .sp-page-body {
    //   height: calc(100vh - 140px);
    // }
  }
  &.show-tip {
    .scroll-list {
      @include page-scroll(0, $page-footer-height + 168px * 2 + 184px);
    }
    &.ipx {
      .scroll-list {
        @include page-scroll(0, $page-ipx-footer-height + 168px * 2 + 184px);
      }
    }
  }
  .order-block {
    padding: 24px 32px;
    position: relative;
    .sp-cell {
      background-color: transparent;
      padding: 0;
      align-items: flex-start;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      &__title {
        color: #666f83;
        font-size: 24px;
      }
      &__hd {
        width: 120px;
      }
      &__bd {
        color: #111a34;
        font-size: 24px;
        margin-top: 4px;
      }
    }
  }
  .goods-block {
    padding: 24px 32px;
    position: relative;
    .block-hd {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .hd-title {
      color: #666f83;
      font-size: 30px;
    }
  }
  .bottom-line {
    &:after {
      content: '';
      height: 2px;
      background-color: #e2e4ea;
      position: absolute;
      left: 32px;
      right: 32px;
      bottom: 0;
    }
  }
  .sp-select {
    /* prettier-ignore */
    border: 1PX solid #C5CAD5;
    .select-item {
      margin: 0;
      font-size: 24px;
      border-radius: 0;
      color: #858b9c;
      background-color: #fff;
      &:not(:first-child) {
        margin-left: 2px;
      }
      &:not(:last-child) {
        position: relative;
        &:after {
          content: '';
          width: 2px;
          height: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          right: -2px;
          background-color: #c5cad5;
          z-index: -100;
        }
      }
      // &:first-child {
      //   /* prettier-ignore */
      //   border-left: 1PX solid #C5CAD5;
      // }
      // &:last-child {
      //   /* prettier-ignore */
      //   border-right: 1PX solid #C5CAD5;
      // }
      &.active {
        // /* prettier-ignore */
        // border: 1PX solid #4980ff;
        color: #4980ff;
        background-color: #d8e9ff;
        // box-shadow: -1px 0 0 0 #409eff;
        /* prettier-ignore */
        outline: 1PX solid #4980ff;
      }
    }
  }
  .goods-list {
    margin-top: 24px;
    .item-wrap {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      .item-image {
        width: 160px;
        margin-right: 24px;
      }
      .item-title {
        color: #111a34;
        @include multi-ellipsis(2);
      }
      .item-sku {
        font-size: 24px;
        font-weight: 400;
        color: #858b9c;
        @include text-overflow();
      }
      .change-price-block {
        display: flex;
        align-items: center;
        margin-top: 26px;
        .label {
          width: 160px;
        }
        .comp-input {
          margin-left: 24px;
        }
      }
    }
  }
  .change-price-dialog {
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    padding: 20px 30px;
    bottom: $page-footer-height;
    .block-hd {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .label {
        color: #666f83;
      }
    }
    .block-bd {
      margin: 20px 0;
      .bd-item {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        .label {
          width: 140px;
          color: #111a34;
        }
        .comp-input {
          margin: 0 20px;
        }
        .bd-item-ft {
          width: 200px;
          .btn-change {
            /* prettier-ignore */
            border: 1PX solid var(--color-dianwu-primary);
            height: 60px;
            line-height: 58px;
            color: var(--color-dianwu-primary);
          }
          .sp-checkbox-new {
            flex-direction: row-reverse;
            .iconfont {
              margin-top: 2px;
            }
            &__label {
              margin: 0 10px 0 0;
            }
          }
        }
      }
    }
    .block-ft {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .label {
        color: #666f83;
      }
      .operator {
        display: inline-block;
        margin: 0 10px;
      }
      .total-fee {
        .sp-price__symbol,
        .sp-price__int,
        .sp-price__decimal {
          color: #ff5257;
        }
      }
      .icon-xinxi {
        color: #4980ff;
        font-size: 24px;
        margin-left: 6px;
        display: inline-block;
      }
    }
    .dialog-tip {
      background: #f5f6f9;
      border-radius: 8px;
      font-size: 24px;
      font-weight: 400;
      color: #666f83;
      line-height: 36px;
      padding: 20px;
      line-height: 30px;
      margin: 10px;
      .tip-txt {
        font-size: 24px;
      }
    }
  }
  &.ipx {
    .change-price-dialog {
      bottom: $page-ipx-footer-height;
    }
  }
  .sp-page-footer {
    padding: 20px 20px 0 20px;
    .at-button--primary {
      background: var(--color-dianwu-primary) !important;
      border-color: var(--color-dianwu-primary) !important;
      color: #fff !important;
    }
  }
}
