/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.page-achievement {
  &-statistics {
    margin: 24px;

    .icon-tongji {
      font-size: 38px;
    }

    .title {
      font-family: PingFangSC, PingFang SC;
      font-weight: 500;
      font-size: 30px;
      color: #111a34;
      line-height: 42px;
      margin-left: 12px;
    }
  }

  &-list {
    background-color: #fff;
    margin: 0 24px;
    border-radius: 16px;
    padding: 36px 24px;

    &-picker {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .sp-tabs-hd .tab-item-active .name {
    font-weight: 600;
    border-bottom: 4px solid var(--color-dianwu-primary);
  }

  .sp-tabs-hd .tab-item {
    color: #111a34;
  }

  .sp-tabs-hd .tab-item:not(:last-child):after {
    content: '';
    height: 0px;
    width: 0px;
  }
}
