/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

.wgt-slider {
  box-sizing: border-box;
  width: 100%;
  .slider-img {
    width: 100%;
    height: 100%;
  }
  .slider-item {
    position: relative;

    .wrapper-img {
      position: relative;
      width: 100%;
      height: 100%;

      .slider-item__img {
        width: 100%;
        height: 100%;
        display: block;
      }

      .slider-video {
        width: 100%;
        height: 100%;
        display: block;
        background-color: transparent;
        video {
          background-color: transparent;
        }

        .poster {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      // 热区样式
      .img-hotzone_zone {
        position: absolute;
        z-index: 9;
        cursor: pointer;
      }

      // 覆盖层样式
      .overlay-content {
        position: absolute;
        z-index: 10;
        pointer-events: auto;
        transition: opacity 0.3s ease-in-out;

        &.overlay-visible {
          opacity: 1;
        }

        &.overlay-hidden {
          opacity: 0;
          pointer-events: none;
        }

        .over-lay {
          width: 100%;
          display: block;
        }
      }
    }
  }
}
