.filter-block{
    background: #F5F5F5;
    border-radius: 4px;
    padding: 20rpx 42rpx;
    display: inline-block;
    font-size: 24rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #626262;
    margin-right: 20rpx;
    margin-bottom: 20rpx;

    &.active{
        border: 1px solid #d42f29;
    }
}