.goods_item{
    width: 100%;
    background: #FFFFFF;
    border-radius: 20rpx;
    overflow: hidden;

    &.isStoreOut{
        position: relative;

        &:not(.block){
            -webkit-filter: grayscale(80%);
            -moz-filter: grayscale(80%);
            -ms-filter: grayscale(80%);
            -o-filter: grayscale(80%);
            filter: grayscale(80%);
            filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=0.8);
        }

        .block{
            width: 200rpx;
            height: 200rpx;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 51%;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 50%;
            top: 100rpx;
            transform: translateX(-50%);
            font-size: 32rpx;
            font-weight: 600;
        }
    }

    &_image{
        height: 340rpx;
        image{
            width: 100%;
            height: 100%;
        }
    }

    &_name{
        font-size: 24rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #222222;
        padding: 24rpx 15rpx;
    }

    &_score{
        padding: 4rpx 15rpx 27rpx 15rpx;
        display: flex;
        justify-items: flex-end;

        .number{
            font-size: 36rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #D92128;
        }
        .title{
            font-size: 24rpx;
            margin-left: 5rpx;
            margin-top: 13rpx;
            font-weight: 500;
        }
    }
}