.sp-default {
  text-align: center;
  margin: 60px 0 100px;
  &-hd {
    .default-img {
      margin: 0 auto;
    }
    margin-bottom: 50px;
  }
  &-bd {
    margin-bottom: 30px;
    color: #666;
  }
  &-ft {
    width: 300px;
    margin: 0 auto;
  }
}