.sp-default {
  text-align: center;
  &-img {
    width:220px;
  }
  &-text {
    color: #999;
    margin-top: 20px;
  }
  &-btns {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}