.ugcindex{
  .ugcindex_search{
    background-color: #fff;
    padding: 16rpx 24rpx ;
    // display: flex;
    // .at-search-bar__input{
    //   border-left: ;

    // }
    &_search{
      .search-inputugc__bar {
        padding-left: 0;
      }
    }
  }
}
