@font-face {
    font-family: 'biao-iconfont';  /* project id 2222481 */
    src: url('//at.alicdn.com/t/font_2222481_aabzl4v7ni.eot');
    src: url('//at.alicdn.com/t/font_2222481_aabzl4v7ni.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2222481_aabzl4v7ni.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2222481_aabzl4v7ni.woff') format('woff'),
    url('//at.alicdn.com/t/font_2222481_aabzl4v7ni.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2222481_aabzl4v7ni.svg#iconfont') format('svg');
  }
  
  [class^="biao-icon-"], [class*=" biao-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'biao-iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .biao-icon-tishi:before {
    content: "\e649";
  }
  .biao-icon-yifahuo:before {
    content: "\e650";
  }
  // 代发货
  .biao-icon-daifahuo:before {
    content: "\e618";
  }