@import './imports';

.at-modal {
  &__overlay {
    background-color: rgba(#000, 0.8);
  }

  &__container {
    width: 86%;
  }

  &__header {
    &:after {
      border: none !important;
    }
  }
}

.at-form {
  padding-left: 0;
  background-color: transparent;

  &:after {
    border: none !important;
  }
}

.at-input {
  padding: 16px 0;
  margin: 0 0 $edge-size;

  &__title {
    font-size: $font-size;
  }

  &:after {
    border-color: rgba($color-brand-primary, 0.5);
  }

  input {
    font-size: $font-size;
  }

  &__children::after {
    border: none;
  }
}

.at-drawer {
  z-index: 1000;
}

.isHidden {
  &.searchInput {
    .at-input {
      width: 300px;
    }
  }
}

.searchInput {
  .at-input {
    width: 140rpx;
    height: 60rpx !important;
    background: #ffffff !important;
    border-radius: 30rpx !important;
    border: 1px solid #dddddd !important;
    margin: 0 !important;
    padding: 0;
    padding-left: 15rpx;

    &__container {
      height: 100%;
    }

    &::after {
      border-color: transparent !important;
    }
  }
}

.active {
  .search-icon {
    display: none;
  }
  .at-input {
    width: 716rpx !important;
  }
}

.searchInput-P {
  .at-input {
    transition: width 0.3s;
  }
}

.at-nav-bar {
  &__title {
    font-size: $font-size-large;
  }

  &__item--active {
    color: $color-brand-primary;
  }
}

.at-tab-bar {
  padding: 0;
  align-items: center;

  &__item {
    padding: 0 12px;
    line-height: 1;
  }
  .at-tab-bar__icon {
    .iconfont,
    .icon {
      font-size: $at-tab-bar-icon-font-size;
    }
  }
}

.at-search-bar {
  height: 60px;
  padding: 0;
  &__input-cnt {
    background-color: #f5f5f5;
  }
  &__placeholder-wrap {
    justify-content: flex-start;
  }
  &__action {
    background-color: transparent;
    color: #333;
  }
  .at-icon-search {
    color: var(--color-primary);
  }
  &:after {
    border-color: transparent;
  }
}

.taro__toast {
  font-size: $font-size !important;

  p {
    font-size: $font-size !important;
  }
}

/*mod innisfree*/
.at-tab-bar {
  box-shadow: -20px 5px 15px rgba(#000, 0.1);
  height: $tabbar-height;

  [class^='icon-'] {
    font-size: $at-tab-bar-icon-font-size;
  }

  &__title {
    margin-top: -4px;
  }
}

.at-button {
  &--secondary {
    border: 1px solid #c1c1c1;
    color: #fff;
    background: #c1c1c1;
  }

  &--small {
    height: 42px;
    line-height: 42px;
    padding: 0 22px;
    font-size: 22px;

    .at-button__text {
      font-size: 22px;
    }
  }
  &--txt {
    border-color: transparent;
  }
  &--normal {
    /* prettier-ignore */
    border: 1PX solid #E5E5E5;
    color: #444;
  }
  &--default {
    border-color: var(--color-primary) !important;
    color: var(--color-primary) !important;
  }
  &--primary {
    background: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
    color: #fff !important;
  }
}

.at-action-sheet {
  &__item {
    font-size: $font-size;
  }
}

.at-badge {
  &__num {
    background-color: var(--color-primary);
  }
}

/* TARO H5 */
taro-button-core[type='primary']:not([disabled]):active {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}
