$font-size                 : 13px * 2;
$edge-margin               : 16px;

$color-bg-gray             : #fafafa;
$color-gray                : #818181;
$color-brand-primary       : #0b4137 !default;
$color-brand-accent        : #6d8d87 !default;
$color-brand-accent-light  : #787878 !default;
$color-brand-primary-text  : #ffffff !default;
$color-brand-accent-text   : #ffffff !default;

$item-border-radius        : 8px;
$tabs-height               : 75px !default;
$navigate-height           : 0 !default;
$searchbar-height          : 65px !default;
$toolbar-height            : 100px !default;
$tabbar-height             : 90px !default;

$at-tab-bar-color          : #818181 !default;
$at-tab-bar-color-active   : $color-brand-primary !default;
$at-tab-bar-font-size      : 22px !default;
$at-tab-bar-icon-font-size : 42px !default;
$at-button-height          : 80px !default;
