$color-bg-gray            : #fafafa;
$color-gray               : #818181;
$color-brand-primary      : #0b4137 !default;
$color-brand-accent       : #6d8d87 !default;
$color-brand-accent-light : #787878 !default;
$color-brand-primary-text : #ffffff !default;
$color-brand-accent-text  : #ffffff !default;

$tabbar-height      : 100px !default;
$searchbar-height   : 75px !default;
$tabnavbar-height      : 65px !default;
$toolbar-height           : 100px !default;

$at-tab-bar-color: #818181 !default;
$at-tab-bar-color-active: $color-brand-primary !default;
$at-tab-bar-font-size: 22px !default;
$at-tab-bar-icon-font-size: 42px !default;
$at-button-height: 80px !default;

.at-tab-bar {
  box-shadow: -20px 5px 15px rgba(#000, .1);
  .in-icon {
    font-size: $at-tab-bar-icon-font-size;
  }
  &__title {
    margin-top: -4px;
  }
}

.at-tabs {
  height: 75px;
  .at-tabs__body {
    height: 0;
  }
  .at-tabs__item {
    height: 75px;
    line-height: 75px;
    padding: 0;
  }
  .at-tabs__item-underline {
    height: 2PX;
    left: 42%;
    width: 15%;
  }
}

.at-search-bar {
  padding: 0 35px 0 20px !important;
  height: 65px;
  .at-search-bar__input-cnt {
    border-radius: 0;
    //width: 690px;
    height: 65px;
    line-height: 65px;
    background-color: #eff0f0;
  }
  .at-search-bar__placeholder-wrap {
    justify-content: flex-start;
    padding-left: 23px;
  }
  .at-search-bar__placeholder-wrap .at-icon {
    font-size: 17PX;
  }
}
