.sp-float-ad {
  .icon-present {
    font-size: 38px;
    color: #fff;
  }
  .ad-ft {
    text-align: center;
    margin-top: 10px;
  }
  .ad-title {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    background-color: #fff;
    padding: 0 20px;
    color: #666;
    display: inline-block;
    border-radius: 16px;
  }
}