/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.sp-privacy-modal {
  $self: &;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  transform: translate3D(0, 110%, 0);

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.6);
    opacity: 0;
    z-index: 999;
    transition: all 0.15s ease-in;
  }

  &.open {
    transform: translate3D(0, 0, 0);

    #{$self}__overlay {
      opacity: 1;
    }

    .modal-container {
      transform: translate3D(0, -50%, 0);
      opacity: 1;
      transition-delay: 0s;
    }
  }

  &__active {
    transform: translate3D(0, 0, 0);

    #{$self}__overlay {
      opacity: 1;
    }

    #{$self}__wrap {
      opacity: 1;
      visibility: visible;
      transform: translate3D(0, -50%, 0);
      transition-delay: 0s;
    }
  }

  .modal-container {
    position: absolute;
    border-radius: 48px;
    left: 48px;
    right: 48px;
    overflow: hidden;
    background: #fff;
    box-sizing: border-box;
    top: 50%;
    z-index: 1000;
  }

  .modal-hd {
    padding: 36px 32px 20px;
    font-size: 32px;
    text-align: left;
    font-weight: 600;
    color: #111827;
    border-bottom: 1px solid #f1f5f9;
  }

  .modal-bd {
    margin: 20px 32px 0;
    font-size: 28px;
    font-weight: 400;
    color: #1f2937;
    line-height: 1.75;

    .policy-txt {
      color: #111827;
      font-weight: 600;
    }
  }

  .modal-ft {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 28px 32px 32px;
    /*  #ifdef  h5  */
    padding: 28px 32px 32px;
    margin-bottom: 40px;

    /*  #endif  */

    .btn-wrap {
      flex: 1;
    }

    .at-button {
      width: 100%;
      height: 100px;
      line-height: 100px;
      border-radius: 999px;
      font-size: 26px;
      font-weight: 500;
      margin: 0;
    }

    .cancel-btn {
      background: #fff;
      border: 1px solid #d1d5db;
      color: #111827;
    }

    .confirm-btn {
      background: #000;
      border: 1px solid #000;
      color: #fff;
    }
  }
}
