.wgt-classify {
  .wgt-classify__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-horizontal-item {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
    &-vertical-item {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
  }
}
