@import "../../../style/imports";

.coupon-wgt {
  position: relative;
  padding: 25rpx 35rpx;
  margin-bottom: 10rpx;
  z-index: 0;
  &.with-img {
    padding: 0;
    &.coupon-body::before, &.coupon-body::after {
      content: none;
    }
  }
  .coupon_img {
    width: 100%;
    height: auto;
  }
  .coupon-body {
    display: flex;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
      background: radial-gradient(circle at left, transparent 10rpx, #f0f2f5 10rpx);
      background-size: 100% 30rpx;
      content: "";
      z-index: -1;
    }
    &::after {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 100%;
      background: radial-gradient(circle at right, transparent 10rpx, #f0f2f5 10rpx);
      background-size: 100% 30rpx;
      content: "";
      z-index: -1;
    }
    .coupon__amount {
      display: flex;
      align-items: flex-end;
      font-size: 64rpx;
      line-height: 0.8;
      padding: 0 40rpx 0 20rpx;
      .coupon__amount-cur {
        padding-left: 4rpx;
        font-size: 24rpx;
        color: #999;
        line-height: 1;
      }
    }
    .coupon-caption {
      flex: 1;
      padding-right: 120rpx;
      .coupon-content {
        padding-top: 5px;
        .coupon-content__brand-name {
          font-size: 28rpx;
          line-height: 1.5;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .coupon-content__coupon-desc {
          font-size: 24rpx;
          color: #999;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  .coupon-btn__getted {
    position: absolute;
    top: 50%;
    right: 30rpx;
    transform: translateY(-50%);
    font-size: 26rpx;
    background: #fff;
  }
}
