.wgt-coupon {
  .coupon-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 0 18px;
    margin-right: -18px;
    .coupon-image {
      margin-bottom: 18px;
    }
    &.coupon-1 {
      .coupon-item {
        width: 714px;
        height: 198px;
        margin-right: 18px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .coupon-hd {
          padding: 0 30px 0 20px;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .coupon-ft {
          width: 220px;
        }
        .amount {
          text-align: center;
          margin-left: 30px;
          .symbol {
            color: #724120;
            margin: 0 2px;
          }
          .value {
            color: #724120;
            font-size: 40px;
          }
        }
        .desc {
          color: #724120;
          font-size: 24px;
        }
        .title-name {
          margin-left: 16px;
        }
        .title {
          color: #fff;
          text-align: center;
          font-size: 24px;
        }
        .name {
          width: 100px;
          height: 32px;
          background: #fff;
          border-radius: 8px;
          text-align: center;
          margin: 6px auto 0;
          color: #724120;
          font-size: 24px;
          line-height: 32px;
        }
      }
      .coupon-package {
        .amount {
          color: #724120;
          font-size: 40px;
        }
      }
    }
    &.coupon-2 {
      .coupon-item {
        width: 344px;
        height: 180px;
        margin: 0 18px 18px 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .coupon-hd {
          padding: 0 20px;
        }
        .coupon-ft {
          width: 160px;
        }
        .amount {
          text-align: center;
          margin-left: 30px;
          .symbol {
            color: #724120;
            margin: 0 2px;
          }
          .value {
            color: #724120;
            font-size: 40px;
          }
        }
        .title-name {
          margin-left: 16px;
        }
        .title {
          color: #fff;
          text-align: center;
          font-size: 24px;
        }
        .name {
          width: 100px;
          height: 32px;
          background: #fff;
          border-radius: 8px;
          text-align: center;
          margin: 6px auto 0;
          color: #724120;
          font-size: 24px;
          line-height: 32px;
        }
      }
      .coupon-package {
        .amount {
          color: #724120;
          font-size: 40px;
        }
      }
    }
    &.coupon-3 {
      .coupon-item {
        width: 224px;
        height: 264px;
        margin: 0 18px 18px 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .amount {
          text-align: center;
          margin-top: 60px;
          .symbol {
            color: #724120;
            margin: 0 2px;
          }
          .value {
            color: #724120;
            font-size: 40px;
          }
        }
        .title {
          color: #fff;
          text-align: center;
          margin-top: 55px;
          font-size: 24px;
        }
        .name {
          width: 100px;
          height: 32px;
          background: #fff;
          border-radius: 8px;
          text-align: center;
          margin: 6px auto 0;
          color: #724120;
          font-size: 24px;
          line-height: 32px;
        }
      }
      .coupon-package {
        .amount {
          color: #724120;
          font-size: 40px;
        }
      }
    }
    &.coupon-4 {
      .coupon-item {
        width: 165px;
        height: 218px;
        margin: 0 18px 18px 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        // &:nth-child(4n + 4) {
        //   margin-right: 0;
        // }
        .sp-image {
          margin-bottom: 18px;
        }
        .amount {
          text-align: center;
          margin-top: 40px;
          .symbol {
            color: #724120;
            margin: 0 2px;
          }
          .value {
            color: #724120;
            font-size: 40px;
          }
        }
        .title {
          color: #fff;
          text-align: center;
          margin-top: 30px;
          font-size: 24px;
        }
        .name {
          width: 100px;
          height: 32px;
          background: #fff;
          border-radius: 8px;
          text-align: center;
          margin: 6px auto 0;
          color: #724120;
          font-size: 24px;
          line-height: 32px;
        }
      }
      .coupon-package {
        .amount {
          color: #724120;
          font-size: 40px;
        }
      }
    }
  }
}
