/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.wgt-film {
  .flim-video {
    height: 100%;
    display: block;
    width: 100%;
    // background-color: #000;
  }
  .slider-wrap {
    margin: 0px 16px;
    width: auto !important;
    // border-radius: 16px;
    overflow: hidden;
  }
}
