.wgt-floor-img {
  // .exclusive_list {
  //   background-size: contain;
  // }
  // .exclusive_list_two {
  //   display: flex;
  //   align-items: center;
  //   // padding: 0 20px;
  //   overflow-x: scroll;
  //   white-space: nowrap;
  //   &::-webkit-scrollbar {
  //     width: 0 !important;
  //   }
  .wgt-bd {
    padding: 0 0 0 16px;
  }
  .img-list {
    height: 100%;
    white-space: nowrap;
    position: relative;
  }

  .img-item {
    display: inline-block;
    margin-right: 16px;
    width: 256px;
    vertical-align: top;
  }
  // .lis:first-child {
  //   margin-left: 16px;
  // }
  .title {
    text-align: center;
    font-size: 26px;
    margin-top: 16px;
    font-weight: 600;
    color: #222;
    line-height: 32px;
    max-width: 256px;
    padding: 0px 16px;
    // @include multi-ellipsis(1);
    overflow: hidden;
    text-overflow: ellipsis;
    /* display: -webkit-box; */
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }

  .exclusive_list::-webkit-scrollbar {
    display: none;
  }
}
