.wgt-goods-grid {
  .wgt-body {
    padding: 0px 16px;
  }
  .wgt-goods-grid-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 0px 24px;
    .left-container {
      width: 49%;
      // padding-left: 16px;
      .sp-goods-item:nth-last-child(1) {
        margin-bottom: 0px;
      }
    }
    .right-container {
      width: 49%;
      // padding-left: 16px;
      // padding-right: 16px;
      .sp-goods-item:nth-last-child(1) {
        margin-bottom: 0px;
      }
    }
  }
  .goods-item-wrap {
    margin-bottom: 16px;
    box-sizing: border-box;
    &.two-inrow {
      margin-bottom: 0px;
      // &:nth-child(2n + 1) {
      // 1 3 5 7
      // padding-right: 9px;
      // }
      // &:nth-child(2n) {
      // 2 4 6 8
      // padding-left: 9px;
      // }
    }
    &.three-inrow {
      width: 228px; // 331
      // margin-left: 16px;
      margin-bottom: 0px;
      // &:nth-child(2n + 1) {
      //   // 1 4 7 10
      //   margin-left: 16px;
      //   margin-right: 0px;
      // }
      // &:nth-child(3n - 1) {
      // 2 5 8 11 14
      // margin-left: 16px;
      // margin-right: 16px;
      // }
      // &:nth-child(3n) {
      //   // 3 6 9 11
      //   margin: 0 16px;
      // }

      .goods-title {
        @include multi-ellipsis(2);
        height: 68px;
      }
      .bd-block {
        // height: 82px;
      }
      .sp-image {
        width: 228px;
        height: 228px;
      }
    }

    .sp-goods-item {
      border-radius: 16px;
      overflow: hidden;
      margin-bottom: 16px;
      .goods-item__bd {
        padding-top: 16px;
      }
    }
  }
}
