.wgt-goods-grid-tab {
  .scroll-tab {
    white-space: nowrap;
  }
  .tab-item {
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    font-size: 32px;
    // font-weight: bold;
    display: inline-block;
    position: relative;
    &.active {
      color: var(--color-primary);
      font-weight: bold;
    }
    &:not(:last-child) {
      &:after {
        content: '';
        display: block;
        /* prettier-ignore */
        width: 1PX;
        height: 30px;
        background: #e4e4e4;
        position: absolute;
        right: 0;
        top: 0;
        top: 4px;
      }
    }
  }
  .tab-body {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 16px;
    .goodgrid-item {
      width: 50%;
      margin-bottom: 28px;
      box-sizing: border-box;
      position: relative;
      &:nth-child(2n + 1) {
        padding-right: 9px;
      }
      &:nth-child(2n + 2) {
        padding-left: 9px;
      }
      .goods-item__hd {
        // border-radius: 16px 16px 0 0;
        overflow: hidden;
      }
      .goods-item__bd {
        padding-top: 65px;
      }
      .sp-goods-item {
        border-radius: 16px;
        overflow: hidden;
      }
    }
  }
  .brand-info {
    background: #fff;
    // padding: 0 20px 20px;
    border-radius: 0 0 16px 16px;
    overflow: hidden;
    position: absolute;
    top: 290px;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    .sp-image {
      // height: 60px;
      width: 100%;
      height: 100%;
      border-radius: 30px;
      background: #eaeaea;
      /* prettier-ignore */
      // border: 1PX solid #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .btn-more {
    width: 180px;
    height: 60px;
    line-height: 60px;
    margin: 20px auto 40px;
    font-size: 24px;
    /* prettier-ignore */
    border: 1PX solid var(--color-primary);
    color: var(--color-primary);
    text-align: center;
  }
}
