.wgt-grid {
  &__header {
    display: block !important;
    text-align: center;
    margin-bottom: 44px;
  }
  &__title {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 5px;
    border-bottom: 1PX solid $color-brand-primary;
    color: $color-brand-primary;
  }
  
  .grid-goods {
    display: flex;
    flex-wrap: wrap;
    &.out-padding {
      margin: 0 -6px;
    }
    .goods-item-wrap {
      width: 50%;
      box-sizing: border-box;
      margin-bottom: 20px;
      &:nth-child(2n + 1) {
        padding: 0 10px 0 20px;
      }
      &:nth-child(2n + 2) {
        padding: 0 20px 0 10px;
      }
    }
  
    // 跨境
    .nationalInfo {
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 24px;
      padding-top: 10px;
      .nationalFlag {
        width: 45px;
        height: 45px;
        border-radius: 100%;
        margin-right: 15px;
      }
    }  
  }
}
