.wgt-goods {
  .goods {
    margin: 0 20px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 2px 2px 6px 6px rgba(120, 120, 120, 0.1);
    .goods-info {
      padding: 20px;
      display: flex;
    }
    .goods-img {
      width: 200px;
    }
    .goods-name {
      margin-left: 10px;
      .desc {
        color: #888;
        margin-top: 6px;
      }
    }
    .goods-btns {
      display: flex;
      justify-content: space-around;
      padding: 0 20px 20px;
      .btn-text {
        color: $color-brand-primary;
        &.disabled {
          color: $color-brand-accent-light;
        }
      }
    }
  }
}
