/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.head-line-index {
  .title {
    font-size: 40px;
    line-height: 120px;
    color: #333;
    padding: 0 16px;
    font-weight: 600;
  }
}
