.home-header {
  height: $home-header-height;
  padding: 0 20px;
  z-index: 1000;
  display: flex;
  align-items: center;

  .left-block {
    display: flex;
    align-items: center;
    flex: 1;
  }
  .shop-name {
    font-size: 28px;
    max-width: 420px;
    @include text-overflow();
  }
  .address {
    font-size: 28px;
    max-width: 420px;
    @include text-overflow();
  }
  .children-block {
    flex: 1;
    padding-left: 10px;
    min-width: 0;
  }
  .icon-qianwang-01 {
    font-size: 24px;
    color: #aaa;
  }
  .scancode {
    .icon-scan {
      color: var(--color-primary);
      font-size: 42px;
      margin-right: 6px;
      position: relative;
      top: 4px;
    }
  }
  .sp-search {
    max-width: 300px;
    padding: 0;
    .sp-search-block {
      margin: 0;
    }
  }
}
.cus-home-header {
  height: 0px;
}
