.wgt-imghot-zone {
  box-sizing: border-box;
  &.wgt-imghot-zone__horizontal {
    box-sizing: border-box;
    .wgt-imghot-zone__body {
      width: 100%;
      height: 100%;
      box-sizing: border-box;

      .wgt-imghot-zone__body-img {
        width: 100% !important;
      }
    }
  }

  &.wgt-imghot-zone__vertical {
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    box-sizing: border-box;

    .wgt-imghot-zone__body {
      width: fit-content;
      box-sizing: border-box;

      .wgt-imghot-zone__body-img {
        height: 100% !important;
      }
    }
  }

  .wgt-imghot-zone__body {
    position: relative;
    &_zone {
      position: absolute;
      z-index: 1;
    }
  }
}
