.wgt-marquees {
  .label-text {
  }
  // .at-noticebar {
  //   background: transparent;
  // }
  // .marquees-label {
  //   padding: 0 20px;
  //   margin-bottom: 10px;
  // }
  // .icon-tongzhituiguang {
  //   font-size: 30px;
  //   margin-right: 4px;
  // }
  .at-noticebar {
    background: transparent;
  }
  .marquees {
    height: 64px;
  }
  .marquees-item {
    padding: 0 16px;
    height: 64px;
    line-height: 64px;
    .item-text {
      font-size: 26px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
