@import "../../../style/imports";

.marquees {
  height: 60rpx;
  background: #fff;
  .marquees-item {
    padding: 0 30rpx;
    box-sizing: border-box;
    line-height: 60rpx;
    .item-text {
      font-size: 28rpx;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
