.wgt-navigation {
  .navigation {
    display: flex;
    padding: 0px 16px;
  }
  .nav-item {
    width: 120px;
    text-align: center;
    margin-right: 30px;
  }
  .nav-item:nth-last-of-type(1) {
    margin-right: 0px;
  }
  .nav-name {
    font-size: 26px;
    margin-top: 10px;
    @include multi-ellipsis(1);
  }
  .cuscss-sp-image {
    width: 120px;
    height: 120px;
    border-radius: 16px;
    overflow: hidden;
    image {
      width: 100%;
      height: 100%;
    }
  }
}
