/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.wgt-navigation {
  width: 100%;
  .wgt-bd {
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
    width: 100%;
    gap: 8px;
    box-sizing: border-box;
  }
  .nav-item {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .nav-img {
      border-radius: 16px;
      overflow: hidden;
      image {
        width: 100%;
        height: 100%;
      }
    }
    .nav-name {
      font-size: 26px;
      @include multi-ellipsis(1);
    }
  }
}
