.wgt-navigation {
  .navigation {
    display: flex;
    justify-content: space-around;
  }
  .nav-item {
    width: 120px;
    text-align: center;
  }
  .nav-name {
    font-size: 26px;
    margin-top: 10px;
  }
  .cuscss-sp-image {
    border-radius: 16px;
    overflow: hidden;
  }
}
