.search {
  background: #fff;
  &.fixed {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }
}
.search {
  &-box {
    padding: 15px 0;
    border-radius: 80px;
    background-color: #efefef;
    font-size: 28px;
    color: #999;
    .search-icon {
      margin-right: 10px;
    }
  }
}
