.wgt-shop {
    width: 100%;
    box-sizing: border-box;

    &--horizontal {
        height: fit-content;
    }

    &--single {
        padding-right: 24px;
    }
    &__content-swiper-item {
        width: 100%;
        box-sizing: border-box;
        padding-right: 24px;
    }

}