@import '@/style/imports';

.store-wrap {
  margin: 20px 20px 0;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  .store-info {
    display: flex;
    align-items: center;
    .store-logo {
      width: 80px;
      height: 80px;
      border-radius: 15px;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    }
    .store-title {
      padding-left: 20px;
      .store-name {
        font-size: 30px;
        font-weight: 600;
        color: #333;
      }
      .store-tags {
        &-item {
          margin-right: 20px;
          color: #c3c3c3;
          border: 1px solid #c3c3c3;
          padding: 2px 6px;
          border-radius: 5px;
        }
      }
    }
  }
  .store-banner {
    width: 100%;
    padding: 15px 0;
  }
  .store-goods {
    white-space: nowrap;
    &__item {
      display: inline-block;
      margin-right: 19px;
      &-thumbnail {
        border-width: 1px;
        border-style: solid;
        width: 150px;
        height: 150px;
      }
      &-price {
        font-size: 24px;
        color: $color-price;
      }
    }
  }
}
