/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.wgt-writing {
  background: #ffffff;
  padding: 20px 0;

  .writing-view {
    font-size: 30px;
    line-height: 44px;
    min-height: 30px;
    padding: 0 20px;
  }
}
