@import "../../style/imports";

.page-recommend-detail {
  background: #fff;
  height: 100vh;
  padding: 0 floor($edge-size);
}
.recommend-detail {
  &__title {
    display: block;
    width: 100%;
    font-size: floor($font-size * 1.6);
  }
  &-info {
    &__time {
      display: inline-block;
      margin-right: 20px;
      font-size: floor($font-size * 0.8);
      vertical-align:middle;

      .in-icon {
        color: $color-gray;
        padding-right: 4px;
      }
      .in-icon-xingzhuang {
        font-size: 22px;
      }
    }
  }
  &__content {
    margin-top: 20px;
  }
  &__bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-content: space-between;
    padding: 15px 0;
    box-shadow: 0 -2px 10px rgba(120, 120, 120, 0.4);
    left: 0;
    &-item {
      flex: 1;
      text-align: center;
      height: 40px;
      line-height: 40px;
      .in-icon {
        display: inline-block;
        margin-right: 5px;
      }
      .in-icon-like {
        font-size: 28px;
      }
      .in-icon-jiarushoucang {
        font-size: 40px;
      }
      .in-icon-fenxiang {
        font-size: 40px;
      }
    }
  }
}
