@import "../../style/imports";
@import "../item/list";

.page-recommend-list {
  .recommend-list__toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $z-index-toolbar;
    background: #fff;
    box-shadow: $box-shadow;
    .filter-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100rpx;
      font-size: 20rpx;
      .icon-list {
        font-size: 55rpx;
        line-height: 0.8;
      }
    }
  }
  .goods-list {
    &__scroll {
      @include page-scroll($tabs-height + $searchbar-height + $navigate-height - 10, $tabbar-height + floor($edge-margin / 2));
    }
  }
  .goods-item__cont{
    height: 250px !important;
  }
}
