@import '../../style/imports';

$item-img-size: 180px !default;

.goods-item {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  padding: $edge-margin $edge-size;
  margin-bottom: $edge-margin;
  &__hd {
  }
  &__bd {
    display: flex;
  }
  &__cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__img {
    width: $item-img-size;
    height: $item-img-size;
    &-wrap {
      width: $item-img-size;
      height: $item-img-size;
      display: block;
      text-align: center;
      margin-right: $edge-size;
    }
  }
  &__title {
    @include multi-ellipsis(2);
    line-height: 1.4;
    color: #111;
    margin: 0 0 16px;
  }
  &__desc {
    color: $color-gray;
    font-size: $font-size-small;
    @include multi-ellipsis(2);
  }
  &__prices {
  }
  .price {
    &__primary {
      font-size: floor(1.28 * $font-size);
    }
    margin-right: 24px;
  }
  .goods-item__price-market {
    font-size: $font-size-small;
    color: $color-gray;
    text-decoration: line-through;
  }
}