.sp-goods-compact-card {
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  display: flex;

  &__image {
    width: 100%;
    position: relative;

    .soldout-mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.5);

      .soldout-mask-text {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        padding: 10px;
        width: fit-content;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;

        text {
          font-size: 26px;
          color: #ffffff;
        }
      }
    }

    .top-tag {
      position: absolute;
      top: 0;
      left: 0;
      width: 76px;
      height: 32px;
      background: #f0f0f0;
      border-radius: 12px 0px 12px 0px;
      border: 2px solid rgba(153, 153, 153, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: D-DIN-PRO-ExtraBold;
      font-weight: 800;
      font-size: 24px;
      color: #999999;

      &.top-1 {
        color: #cb9800;
        border-color: #f7f0d9;
        border-color: rgba(203, 152, 0, 0.25);
      }

      &.top-2 {
        color: #576b95;
        border-color: #e6e9ef;
        border-color: rgba(87, 107, 149, 0.25);
      }

      &.top-3 {
        color: #de7f48;
        border-color: #faece4;
        border-color: rgba(222, 127, 72, 0.25);
      }
    }
  }

  &__content {
    padding: 24px 16px 36px 16px;
    background-color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__title {
    font-size: 26px;
    color: #1a1a1a;
    line-height: 36px;
    @include multi-ellipsis(2);
    margin-bottom: 12px;

    &-img {
      margin-right: 6px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .tag-wrapper {
    overflow: hidden;
    flex-wrap: wrap;
    height: 26px;
  }

  &__price {
    display: flex;
    align-items: baseline;
    gap: 8px;

    .price-wrapper {
      display: flex;
      align-items: baseline;
      margin-right: 8px;
      gap: 8px;
    }

    // 当前价格样式
    .current-price {
      font-family: D-DIN-PRO, D-DIN-PRO;
      font-weight: 600;
      font-size: 34rpx;
      color: #1a1a1a;

      .sp-price__symbol {
        font-family: D-DIN-PRO, D-DIN-PRO;
        font-weight: 500;
        font-size: 26rpx;
        color: #1a1a1a;
      }
      .sp-price__int,
      .sp-price__decimal {
        font-family: D-DIN-PRO, D-DIN-PRO;
        font-weight: 600;
        font-size: 34rpx;
        color: #1a1a1a;
      }
    }

    // 划线价（market-price）样式
    .market-price {
      font-family: D-DIN-PRO, D-DIN-PRO;
      font-weight: 500;
      font-size: 26rpx;
      color: #1a1a1a;

      .sp-price__symbol,
      .sp-price__int,
      .sp-price__decimal {
        font-family: D-DIN-PRO, D-DIN-PRO;
        font-weight: 500;
        font-size: 26rpx;
        color: #1a1a1a;
      }
    }

    .discount-tag {
      color: var(--color-primary);
      display: flex;
      align-items: flex-end;

      &__value {
        font-family: D-DIN-PRO-Medium;
        font-size: 24px;
        font-weight: 500;
      }

      &__unit {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
