.sp-goods-grid-card {
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  &__image {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;

    .soldout-mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.5);
      .soldout-mask-text {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        padding: 10px;
        width: fit-content;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        text {
          font-size: 26px;
          color: #ffffff;
        }
      }
    }
  }

  &__content {
    padding: 12px 16px 24px 16px;
    background-color: #fff;
  }

  &__title {
    font-size: 24px;
    height: 68px;
    color: #1a1a1a;
    line-height: 34px;
    margin-bottom: 8px;
    @include multi-ellipsis(2);

    &-img {
      margin-right: 6px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &__title-promotion {
    height: 34px;
    @include multi-ellipsis(1);
  }

  .tag-wrapper {
    overflow: hidden;
    flex-wrap: wrap;
    height: 26px;
  }
  &__price {
    display: flex;
    align-items: baseline;
    gap: 8px;
    margin-top: 16px;

    .price-wrapper {
      display: flex;
      align-items: baseline;
      margin-right: 8px;
      gap: 8px;
    }

    .discount-tag {
      color: var(--color-primary);
      display: flex;
      align-items: flex-end;

      &__value {
        font-family: D-DIN-PRO-Medium;
        font-size: 24px;
        font-weight: 500;
      }

      &__unit {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
