.sp-goods-hero-card {
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.03);
  border-radius: 12px;

  &__image {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;

    .soldout-mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.5);
      .soldout-mask-text {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        padding: 10px;
        width: fit-content;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        text {
          font-size: 26px;
          color: #ffffff;
        }
      }
    }
  }

  .tag-wrapper {
    overflow: hidden;
    flex-wrap: wrap;
    height: 26px;
  }

  &__content {
    padding: 12px 14px 24px 16px;
    background-color: #fff;
  }

  &__title {
    position: relative;
    font-size: 26px;
    color: #1a1a1a;
    line-height: 36px;
    height: 72px;
    @include multi-ellipsis(2);
    margin-bottom: 12px;

    &-img {
      margin-right: 6px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__price {
    display: flex;
    align-items: baseline;
    gap: 8px;
    margin-top: 16px;

    .price-wrapper {
      display: flex;
      align-items: baseline;
      margin-right: 8px;
      gap: 8px;
    }

    // 当前价格样式
    .current-price {
      font-family: D-DIN-PRO, D-DIN-PRO;
      font-weight: 600;
      font-size: 34rpx;
      color: #1a1a1a;

      .sp-price__symbol {
        font-family: D-DIN-PRO, D-DIN-PRO;
        font-weight: 500;
        font-size: 26rpx;
        color: #1a1a1a;
      }
      .sp-price__int,
      .sp-price__decimal {
        font-family: D-DIN-PRO, D-DIN-PRO;
        font-weight: 600;
        font-size: 34rpx;
        color: #1a1a1a;
      }
    }

    // 划线价（market-price）样式
    .market-price {
      font-family: D-DIN-PRO, D-DIN-PRO;
      font-weight: 500;
      font-size: 26rpx;
      color: #1a1a1a;

      .sp-price__symbol,
      .sp-price__int,
      .sp-price__decimal {
        font-family: D-DIN-PRO, D-DIN-PRO;
        font-weight: 500;
        font-size: 26rpx;
        color: #1a1a1a;
      }
    }

    .discount-tag {
      color: var(--color-primary);
      display: flex;
      align-items: flex-end;

      &__value {
        font-family: D-DIN-PRO-Medium;
        font-size: 24px;
        font-weight: 500;
      }

      &__unit {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
