$prefixCls: 'page-merchant-login';

.#{$prefixCls} {
  @include page-scroll(0, 0);
  background-color: white;

  &-content {
    padding: 52px 50px;

    .code-suffix {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: var(--color-primary);

      &.timing {
        background-color: #f5f5f5;
        color: #3a3a5a;
      }
    }
    .tcode-img {
      height: 100%;
      .taro-img__mode-widthfix {
        height: 100%;
      }
      .sp-image-img {
        height: 100% !important;
      }
    }
    .login-button {
      font-size: 32px;
    }
    .radio-text {
      font-size: 24px;
      font-weight: 400;
      color: #666f83;

      .primary-color {
        color: var(--color-primary);
      }
    }
  }
}
