@import "../../../style/iconfont.scss";
$primary-color: rgba(244, 129, 31, 1);
.comp-header {
    padding-left:16px;
    .header-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        .header-img {
            width: 140px;
            height: 140px;
            border-radius: 16px;
            margin-right: 17px;
        }
        .top-middle {
            padding-top: 34px;
            display: flex;
            flex-direction: column;
            // position: relative;
            // top: 0;
        }
        .attention {
            padding: 4px 16px;
            background: #FFFFFF;
            border-radius: 22px;
            border: 1px solid #F4811F;
            font-size: 24px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: #F4811F;
            text-align: center;
            // line-height: 44px;
            position: absolute;
            right: 16px;
        }
        .store-name {
            width: 350px;
            height: 45px;
            font-size: 32px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: #222222;
            line-height: 45px;
            margin-bottom: 9px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            word-break: break-all;
        }
        .store-avgSstar-block {
            display: flex;
            flex-direction: row;
            align-items: center;
            .store-avgSstar {
                font-size: 22px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #666666;
                padding-right: 24px;
            }
            .brand-produce {
                width: 120px;
                height: 32px;
                background: #F5F5F5;
                border-radius: 2px;
                font-size: 22px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #444444;
                text-align: center;
                line-height: 32px;
            }
        }
    }
    
}
 

.sp-component-newcoupon{
    
    height: 40px;
    border-top:1px solid $primary-color;
    border-bottom:1px solid $primary-color;
    padding:0 18px;
    font-size: 22px;
    color:$primary-color;
    display: inline-flex; 
    position: relative;
    overflow: hidden;
    margin-right: 16px;

    &.margin-right-8{
        margin-right: 8px;
    }

    &.receiveed{
        background-color:$primary-color ;
        color: #FFFFFF;
    }

    &.in-new-shop-item{
        margin-right: 8px;
        margin-bottom: 16px;
    }

    .text{
        font-weight: 600;
        margin-right: 8px;
    }

    .text,.status-text{
        display: inline-flex;
        align-items: center;
        font-size: 22px;
    }

    .radius{
        &::before,&::after{
            box-sizing: border-box;
            position: absolute;
            content:'';
            display: block;
            top:50%;
            transform: translateY(-50%); 
            border:1px solid $primary-color;
            width: 16px;
            height:16px;
            border-radius: 50%;
            background-color: white;
        }
    
        &::before{  
            left:-9px;
            z-index: 1; 
        }
        &::after{  
            right:-9px;
            z-index: 1; 
        }
    
    }

    .border{
        position: absolute;
        left:0;
        right:0;
        top:0;
        bottom:0; 

        &::before,&::after{ 
            box-sizing: border-box; 
            position: absolute;
            content:'';
            display: block;
            top:0;
            bottom:0;
            width:1px;
            background-color: $primary-color;
        }

        &::before{
            left:0;
        }
        &::after{
            right:0;
        }
    }
}
.coupon-block {
    margin-top: 30px;
    // width: 100%;
    // overflow-x: scroll;
    // white-space: nowrap;
    // &::-webkit-scrollbar {
    //     display: none;
    // }
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    .sp-shop-coupon {
        margin: 0 10px 10px 0;
    }
    .get-coupon {
        font-size: 25px;
        line-height: 42px;
        padding-right: 20px;
    }
    .icon-right {
        font-size: 30px;
        position: absolute;
        right: 20px;
    }
    .coupon-index {
        margin:0 10px 10px 0;
    }
}
.sp-shop-fullReduction {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    .label-style{
        width: 66px;
        height: 34px;
        background: linear-gradient(174deg, #F31346 0%, #FF4A4A 100%);
        border-radius: 5px;
        margin-right: 8px;
        font-size: 22px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FFFFFF;
        line-height: 34px;
        text-align: center;
    }
    .text-style {
        font-size: 24px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #999999;
    }
}
.full-block {
    margin: 24px 0 24px 0;
    max-height: 35px;
    overflow: hidden;
    transition: max-height 500ms;
}
.pick {
    max-height: 1000px;
}
.pick-down {
    height: 33px;
    font-size: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #444444;
    line-height: 33px;
    position: absolute;
    right: 23px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.down_icon {
    width:15px;
    height: 8px;
    margin-left: 9px;
    transition: transform 0.5s;
}
.translate {
    transform: rotate(180deg);
}
