.comp-goodsbuytoolbar {
  display: flex;
  padding: 20px;
  height: 120px;
  background: #fff;
  box-sizing: border-box;

  .toolbar-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .iconfont {
      font-size: 38px;
      line-height: 40px;

      color: var(--color-primary);
    }

    &-money {
      height: 40px;

      .sp-price__int,
      .sp-price__symbol,
      .sp-price__decimal {
        color: var(--color-primary);
        font-weight: 900;
      }
    }

    &-button {
      display: flex;
      align-items: center;
      font-size: 38px;
      padding: 10px 20px;
      color: var(--color-primary);
      border: 1px solid var(--color-primary);
      border-radius: 10px;

      &-txt {
        margin-left: 8px;
        font-size: 30px;
        color: var(--color-primary);
        vertical-align: middle;
      }
    }

    &-txt {
      font-size: 24px;
      color: #666;
      /* #ifdef  h5  */
      position: relative;
      top: -10px;
      vertical-align: middle;
      /* #endif */
    }
  }
  .btn-share {
    background-color: transparent;
    line-height: normal;
    margin: 0;
    padding: 0;
    &:after {
      border: 0px;
    }
  }
  .toolbar-list {
    padding: 35px 24px;
    font-size: 30px;
    /* prettier-ignore */
    border-bottom: 1PX solid #F5F5F5;
    text-align: center;
    &:last-child {
      border: none;
      padding-top: 80px;
    }
    &:first-child {
      padding-top: 5px;
    }
  }
  .content-simple {
    text-align: center;
    margin-top: 10%;
  }
}
