.comp-goods-item {
  display: flex;
  .item-hd {
    margin-right: 20px;
  }
  .item-bd {
    width: 440px;
  }
  .goods-name {
  }
  .goods-spec {
    color: #666;
  }
  .goods-store {
    color: #666;
  }
  .activity-progress {
    .progress-txt {
      color: #666;
    }
  }
}
