.page-point-rule {
  .point-scroll-view {
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    @include page-scroll(0, 0);
  }
  &.has-navbar {
    .point-scroll-view { 
      @include page-scroll($navigate-height, 0);
    }
  }
}