.sp-qrcode {
  background-color: #f5f5f5;
  height: fit-content;
  padding: 0;
  box-sizing: border-box;
  &__navigation {
    &-text {
      font-weight: 500;
      font-size: 34px;
      color: #000000;
    }
  }

  &__body {
    position: relative;
    box-sizing: border-box;
    padding: 44px 48px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    margin-top: 58px;

    background: #ffffff;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.03);
    border-radius: 48px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 60px 108px 62px;
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__avatar {
    position: absolute;
    top: -58px;
    left: 50%;
    transform: translateX(-50%);
    width: 108px;
    height: 108px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 50%;
    overflow: hidden;
    &__image {
      width: 100%;
      height: 100%;
    }
  }

  &__username {
    font-size: 26px;
    color: #1a1a1a;
    font-weight: 500;
    padding-top: 68px;
  }

  &__qr-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 48px;
  }

  &__qr-img {
    width: 338px;
    height: 338px;
    margin-bottom: 36px;
  }

  &__member-id {
    font-weight: 500;
    font-size: 34px;
    color: #1a1a1a;
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 48px;
  }

  &__tips {
    width: 100%;
    text-align: center;

    &-text {
      font-size: 26px;
      color: #666666;
      display: block;
      margin-bottom: 12px;
      line-height: 36px;
    }
  }

  &__refresh {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    gap: 6px;
    font-size: 26px;
    color: #5c87db;
    .iconfont {
      font-size: 26px;
    }
  }

  &__privileges {
    width: 100%;
    padding-bottom: 100px;
    padding-top: 72px;
    &-title {
      font-size: 34px;
      color: #666666;
      text-align: left;
    }

    &-list {
      // display: flex;
      // flex-direction: column;
      padding-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
  }

  &__privilege-item {
    font-family: PingFang SC, PingFang SC;
    font-weight: 400;
    font-size: 26px;
    color: #bfbfbf;
    display: flex;
    gap: 2px;
  }
}
