/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.sp-settings {
  .sp-checkbox-new {
    justify-content: flex-start;
    // flex-direction: row-reverse;
  }
  .lang-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .lang-item {
      height: 64px;
      display: flex;
      align-items: center;
    }
  }
}
