 
@import "../../style/iconfont.scss";

$primary-color:rgba(244, 129, 31, 1);
$primary-color-bg:rgba(244, 129, 31, 0.1);

.sp-component-newdrawer{
    width:100%;
    height:100%;
    background-color: white; 
}
