/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.sp-rule-layout {
  padding: 20px 40px;
  width: 100%;
  box-sizing: border-box;
  &__title {
    height: 48px;
    font-family: PingFang SC, PingFang SC;
    font-weight: 500;
    font-size: 34px;
    color: #404040;
  }
  &__content {
    font-weight: 400;
    font-size: 26px;
    color: #999999;
    line-height: 44px;
  }
}
