/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.sp-address {
  .sp-float-layout-bd {
    padding: 0;
  }

  .address-hd {
    display: flex;
    align-items: center;
    padding: 20px 40px 10px;

    .tab-item {
      margin-right: 20px;

      &.active {
        color: var(--color-primary);
        font-weight: 600;
      }
    }
  }

  .address-bd {
    padding: 10px 0 20px;
    height: 600px;
    overflow: auto;

    .address-cols {
      display: flex;
      transition-duration: 300ms;
    }

    .address-col {
      width: 100%;
      flex-shrink: 0;
      height: 600px;
      padding: 0 40px;
      box-sizing: border-box;
    }
  }

  .address-item {
    padding: 10px 0;
    color: #333;
    display: flex;
    justify-content: space-between;

    &.active {
      color: var(--color-primary);
      font-weight: 600;
    }

    .iconfont {
      font-size: 36px;
      color: var(--color-primary);
    }
  }
}
