.comp-vipcard {
  // width: 750px;
  height: 85px;
  background-size: 100% 100%;
  margin-top: 28px;
  display: flex;
  padding: 20px 60px;
  .lf-con {
    flex: 1;
    position: relative;
    &:after {
      content: " ";
      position: absolute;
      /* prettier-ignore */
      width: 1PX;
      height: 60px;
      background: #d5d5d5;
      top: 16px;
      right: 30px;
    }
  }
  .block {
    width: 100%;
    display: flex;
  }
  .block-vip {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    .top-block {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .vip-card {
        font-size: 35px;
        color: #000000;
        font-weight: 500;
        display: flex;
        align-items: center;
        .icon {
          color: #000000;
          font-size: 20px;
          padding-left: 15px;
        }
      }
      .card-no {
        font-size: 30px;
        color: #000000;
        font-weight: 400;
      }
    }
    .expire-time {
      color: gray;
      font-size: 25px;
    }
  }
  .rg-con {
    width: 120px;
  }
  .vip-title,
  .vip-xf {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
  }
  .vip-desc,
  .xs-price {
    color: #d5d5d5;
    font-size: 24px;
  }
  .icon-qianwang-01 {
    font-size: 28px;
    color: #fff;
    font-weight: normal;
  }
}
