$border-color:#E2E4EA;

.page-auth-login {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 32px;
  display: flex;
  flex-direction: column;

  .at-input{
     .weui-input{
       color:rgba(17, 26, 52, 1);
     }
     .input-placeholder{
       color:rgba(197, 202, 213, 1);
     }
  } 

  &.is-code-login{
    .auth-bd{
      .form-submit{
        margin-top: 50px;
      }
    } 
  }

  &.is-full{
    .auth-bd{
      .form-submit{ 
        .login-button{
          background-color:var(--color-primary);
          border-color: var(--color-primary);
        }
      }
    } 
  }
 

  .auth-hd {
    
    margin-top:80px;

    .title {
      color: #111A34;
      font-size: 52px;
      line-height: 1;
      margin-bottom:24px;
    }
    .desc {
      font-size: 28px;
      color: #858B9C;
      line-height: 1;
    }
  }
  .auth-bd {
    margin-top: 100px; 
    .form-title {
      font-size: 32px;
      color: #111A34;
      padding-bottom: 20px;
      // border-bottom: 1PX solid #E2E4EA;
      @include hairline($border-color,0,bottom);
    }
    .form-field {
      display: flex;
      align-items: center;
      @include hairline($border-color,0,bottom);
      // border-bottom: 1PX solid #E2E4EA;
      .at-input {
        padding: 25px 0 !important;
        margin-bottom: 0;
        flex: 1;
        
        &:after {
          border:none;
        }
      }
      .input-field {
        flex: 1;
      }
      .btn-field {
        width: 180px;
        text-align: center;
        .image-vcode {
          width:180px;
          height:60px;
        }
      }
    }
    .btn-text-group {
      display: flex;
      justify-content:space-between;
    }
    .btn-text {
      margin-top: 30px;
      font-size: 28px;
      color: var(--color-primary);
    }
    .form-submit {
      margin-top: 100px;
      .at-button__text{
        @include flex-center();
        font-size: 36px;
        font-weight: 600;
      }
      .at-button--disabled{
        opacity: 1;
      }
      .login-button{
        background-color: rgba(197, 202, 213, 1);
        border-color: rgba(197, 202, 213, 1);
      }
      .login-button,.reg-button{
        height: 100px;
        border-radius: 50px;
      }
      .reg-button{
        margin-top: 32px;
        background-color: white;
        /* prettier-ignore */
        border: 1PX solid var(--color-primary);
        color:var(--color-primary);
      }
    }
    .forgot-password{
      color:rgba(133, 139, 156, 1);
    }
    .btn-submit {
      height: 100px;
      border-radius: 50px;
      line-height: 100px;
      font-size: 36px;

      
    }
  }
  .auth-ft {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    // height:90px;
    text-align: center;
    .logo {
      width: 240px;
      height: 45px;
    }
  }
  .other-login{
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    text-align: center;
  }
}
