@import './style/theme.scss';
@import './style/variables.scss';
@import './style/layout.scss';
@import './style/iconfont.scss';

$font-size-base: $font-size;
$hd: 2 !default; // 基本单位
$color-brand: $color-brand-primary;
$color-brand-light: $color-brand-accent;
$color-brand-dark: $color-brand-accent-light;
$color-text-base: $color-primary-text;
$at-button-border-color-secondary: $color-border-gray;

@import '~taro-ui/dist/style/index.scss';
@import './style/taro-ui-mod.scss';
@import './style/sp-comps.scss';

body,
view {
  font-family: $font-family;
  font-size: $font-size;
}

page,
body {
  background: $color-bg-gray;
  color: $color-primary-text;
}
body {
  position: inherit !important;
}
.taro__modal {
  transition: opacity 0s linear 0s !important;
}

.lnk {
  color: $color-link;
}

.lock-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.sec {
  background: #fff;
  margin: 0 0 $edge-margin;
  &-hd {
    display: flex;
    line-height: 1;
    align-items: center;
    padding: $edge-size;
    .more {
      color: $color-link;
      font-size: $font-size-small;
      margin-right: floor(-$edge-size / 4);
    }
    .at-icon {
      font-size: $font-size-large;
    }
  }
  &-title {
    flex: 1;
  }
  &-ft {
    color: $color-gray-light;
    margin-right: floor(-$edge-size / 4);
    .at-font {
      font-size: $font-size-large;
    }
  }
}

.btns {
  button,
  .at-button {
    margin: 0 0 $edge-margin;
  }
  padding: $edge-margin $edge-size;
}

.page-trade-refund {
  .at-tabs__page {
    display: none;
  }
}

.toolbar {
  &.toolbar-inline {
    .at-button,
    at-button {
      width: 100%;
    }
  }
  background: #fff;
  font-size: $font-size;
  display: flex;
  height: $toolbar-height;
  box-shadow: $toolbar-shadow;
  box-sizing: border-box;
  padding: $edge-margin $edge-size;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  z-index: $z-index-toolbar;
  .at-button {
    font-size: $font-size;
  }
  &-hd {
  }
  &-ft {
    max-width: 120px;
  }
}

switch,
.weui-switch {
  transform: scale(0.6);
  transform-origin: center right;
}

.search-input__bar {
  .at-search-bar {
    &__input {
      line-height: 30px - 10px;
    }
  }
}

.AtFlayout {
  .layout {
    border-radius: 15px 15px 0 0;
  }
  .layout-body {
    background: #efefef;
    padding: 0;
    border-radius: 15px 15px 0 0;
  }
}

// .sp-login {
//   .login-btn {
//     border-width: 0;
//     height: auto;
//     line-height: auto;
//     padding: 0;
//   }
// }

.sp-search-bar {
}

.usericon {
  border: 4px solid #fff;
  width: 110px;
  height: 110px;
  border-radius: 50px;
  margin-right: 30px;
}

.weui-input {
  height: 100%;
}

/* wgt common styles */
.wgt {
  .wgt-head {
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    .wgt-hd {
      display: flex;
      align-items: baseline;
      flex: 1;
      .wgt-title {
        color: #222;
        font-size: 36px;
        font-weight: bold;
        margin-right: 16px;
        max-width: 30%;
        @include multi-ellipsis(1);
      }
    }
    .wgt-subtitle {
      color: #999;
      font-size: 28px;
      max-width: 55%;
      @include multi-ellipsis(1);
    }
    .wgt-more {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 24px;
      border-radius: 60px;
      .three-dot {
        position: relative;
        width: 8px;
        height: 8px;
        background: #333;
        border-radius: 50%;
        &::before,
        &::after {
          position: absolute;
          width: 8px;
          height: 8px;
          background: #333;
          border-radius: 50%;
          content: '';
        }
        &::before {
          transform: translateX(-160%);
        }
        &::after {
          transform: translateX(160%);
        }
      }
    }
  }
  // .wgt-body {
  //   margin-top: 24px;
  // }
}

/* coupon styles */
.sp-shop-coupon {
  position: relative;
  overflow: hidden;
  display: inline-block;
  &::before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: -18px;
    transform: translateY(-50%);
    /* prettier-ignore */
    border: 1PX solid var(--color-primary);
  }
  &::after {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
    /* prettier-ignore */
    border: 1PX solid var(--color-primary);
  }
  .coupon-wrap {
    /* prettier-ignore */
    border: 1PX solid var(--color-primary);
    border-radius: 4px;
    height: 40px;
    line-height: 38px;
    padding: 0 10px;
  }
  .coupon-text {
    color: var(--color-primary);
    font-size: 22px;
  }
}

.wgt-timer {
  .at-countdown__time-box {
    font-family: sans-serif;
    background: var(--color-primary);
    border-radius: 6px;
    min-width: 38px;
    height: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    padding: 0 2px;
  }
  .time-fonts {
    display: inline-flex;
    padding-top: 6px;
  }
}
