.ba-store {
  height: 122px;
  background-color: #ffffff;
  position: fixed;
  top: 170px;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  .ba-avatar {
    width: 90px;
    height: 90px;
    background: #efefef;
    color: #999;
    text-align: center;
    line-height: 90px;
    font-size: 50px;
    border-radius: 45px;
    .sp-image-img {
      border-radius: 45px;
    }
  }
  .ba-username {
    color: $color-brand-primary;
    font-size: 28px;
    margin: 0 22px;
    flex: 1;
    height: 90px;
    line-height: 90px;
    @include text-overflow();
  }
  .undenline {
    text-decoration: underline;
  }
  &-bd {
    flex: 1;
    padding-left: 20px;
    .store-name {
      font-size: 24px;
      color: #999;
      @include text-overflow();
    }
  }
  .ba-store__info {
    height: 90px;
    line-height: 90px;
    display: flex;
    align-items: center;
    .ba-store__name {
      display: inline-block;
      width: 270px;
      font-size: 26px;
      color: #87c55c;
      @include text-overflow();
    }
    .in-icon-sanjiaoxing02 {
      font-size: 40px;
      transform: rotate(90deg);
    }
  }
}
