/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
@import '@/style/imports';

.page-distribution-subordinate {
  height: 100%;
  .at-tabs {
    height: 84px;
  }
  // .client-list__tabs {
  //   /*  #ifdef  h5  */
  //   top: $navigate-height-h5;
  //   /*  #endif  */
  // }
  .subordinate-list__scroll {
    height: calc(100% - 84px);
  }

  .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #eee;
    margin-right: 20px;
    border: 4px solid #ccc;
  }
  .name {
    font-size: 32px;
  }
  .level-name {
    font-size: 28px;
    color: #999;
  }
  .mobile {
    font-size: 28px;
    color: #999;
  }
  .bind-date {
    color: #999;
    text-align: right;
  }
  .child {
    .avatar {
      border-color: #2372c7;
    }
  }
  .Gchild {
    .avatar {
      border-color: #6dc8e1;
    }
  }
  .GGchild {
    .avatar {
      border-color: #d8eef5;
    }
  }
}
