/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
@import '@/style/imports';

.page-distribution-trade {
  .at-tabs {
    height: 84px;
  }
  .trade-list__scroll {
    height: calc(100% - 84px);
  }
  .order-no {
    font-size: 30px;
    color: #555;
    .key {
      color: #999;
      font-size: 26px;
      .space {
        display: inline-block;
        width: 24px;
      }
    }
  }
  .order-date {
    font-size: 28px;
    color: #999;
  }
  .commission {
    font-size: 30px;
  }
  .customer-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eee;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  }
  .customer-name {
    font-size: 28px;
    color: #666;
    padding-top: 5px;
    line-height: 1.2;
  }
  .customer-phone {
    font-size: 26px;
    color: #999;
  }
}
