.page-distribution-withdraw {
  .withdraw {
    at-input {
      width: 75%;
    }
    .at-input {
      margin: 0;
      &:after {
        border: 0;
      }
      &__input {
        font-size: 80px;
        height: 80px;
        line-height: 80px;
      }
      &__title {
        width: 55px;
        margin-right: 10px;
        font-size: 50px;
        font-weight: bold;
        margin-top: 5px;
      }
    }
    .withdraw-title {
      padding: 40px;
      .title {
        color: #666666;
      }
      .content {
        color: #222222;
        font-size: 50px;
        margin-top: 10px;
        font-weight: bold;
      }
    }
    .withdraw-body {
      background: #fff;
      padding: 20px 20px 20px 25px;
      margin: 0px 15px 30px 15px;
    }
    .withdraw-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 60px 0px 30px 0px;
    }
    .withdraw-body-input {
      // -webkit-box-flex: 1;
      width: 75%;
      font-size: 32px;
    }
    .withdraw-body-btn {
      color: var(--color-primary);
      font-size: 26px;
      padding: 6px 25px;
      border: 1px solid var(--color-primary);
      border-radius: 40px;
    }
  }
  .g-button._off {
    background: #ddd;
  }
  .g-list-wrap.with-border {
    position: relative;
  }
  .g-list-wrap.with-border::after {
    position: absolute;
    left: 30px;
    right: 0;
    bottom: -1px;
    height: 1px;
    background: #f8f8f8;
    content: ' ';
  }
  .list {
    margin: 0px 15px;
    .label {
      color: #666;
    }
  }
  .content-padded {
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    .g-button {
      margin: 20px 50px 50px 50px;
      border-radius: 50px;
      font-size: 30px;
      color: #fff;
      padding: 5px 0px;
      background: var(--color-primary);
    }
  }
}
.pay-type-picker {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.g-ul {
  padding: 30px 50px;
  font-size: 28px;
  color: #aaa;
  line-height: 48px;
  .g-ul-li {
    display: -webkit-box;
    -webkit-box-align: center;
    font-size: 26px;
    &:before {
      content: '';
      display: block;
      background: #999;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 12px;
    }
  }
}
