/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.page-purchase-index {
  .home-body {
    height: 100%;
  }
  .float-share {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 112px;
    border: transparent;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 8px 15px 0px #fac2d0;
    border-radius: 50%;
    margin-bottom: 12px;
    // height: 112px;
    .share-btn {
      width: 112px;
      height: 112px;
    }
  }
}
