.page-purchase-index {
  .header-block {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  .usericon {
    border: 4px solid #fff;
    width: 110px;
    height: 110px;
    border-radius: 10px;
    margin-right: 20px;
    overflow: hidden;
  }

  .header-hd {
    padding: 30px;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    &__body {
      line-height: 40px;
      width: 80%;
    }

    .username-wrap {
      display: flex;
      justify-content: space-between;
      height: 110px;

      .left-wrap {
        flex: 1;
        padding: 10px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .shareBtn {
        margin: 0;
        background: rgb(240, 112, 47);
        font-size: 24px;
        color: #fff;
        padding: 0;
        width: 80px;
        height: 50px;

        &::after {
          content: none;
        }
      }

      .shareBtn[disabled] {
        background: rgba(240, 112, 47, 0.5) !important;
      }
    }

    .username {
      font-size: 28px;
      color: #222;
      width: 90%;
      font-weight: bold;
      @include multi-ellipsis(1);
    }

    .userRole {
      font-size: 24px;
    }

    .icon-erweima-01 {
      color: var(--color-primary);
      font-size: 38px;
    }

    .join-us-txt {
      color: var(--color-primary);
      font-size: 28px;
    }
  }

  .header-bd {
    display: flex;
    align-items: center;
    justify-content: center;

    .bd-item {
      flex: 1;
      text-align: center;
    }

    .border-item {
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
    }

    .bd-item-label {
      color: #333;
      font-size: 28px;
      font-weight: bold;
    }

    .bd-item-value {
      color: #333;
      font-size: 28px;
    }
  }

  .line-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;

    .line {
      width: 120px;
      height: 4px;
      background: #dadada;
    }

    .line-title {
      margin: 0 30px;
    }
  }

  .list-wrap {
    .list-item {
      margin: 10px;
      padding: 15px 20px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      background: #fff;
      border-radius: 10px;

      &-center {
        flex: 1;
        padding-left: 15px;
      }

      &-img {
        width: 75px;
        height: 75px;
        border-radius: 8px;
        overflow: hidden;
      }

      &-name {
        font-size: 26px;
        font-weight: bold;
      }

      &-date {
        font-size: 24px;
        color: #ccc;
      }

      &-count {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  .centerText {
    text-align: center;
  }

  .share-info {
    padding: 0 30px;
    margin-bottom: 30px;
    .title {
      font-size: 30px;
    }
  }

  .limitnum {
    color: #666;
    font-size: 26px;
    margin-top: 8px;
  }
}
