.select-component{
  padding: 56px 50px;
  .select-component-title{
    font-size: 40px;
    font-weight: 400;
    color: #222222;
    margin-bottom: 160px;
  }
  .select-option{
    background: #FFFFFF;
    border-radius: 40px;
    border: 1px solid #D5D5DF;
  }
}
