/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

.select-identity {
  font-family: PingFangSC-Regular, PingFang SC;
  .identity-content {
    padding: 0 32px;
    padding-top: 32px;
    box-sizing: border-box;
    height: 100%;
  }
  .identity-item {
    width: 686px;
    height: 154px;
    background: #ffffff;
    border-radius: 24px;
    display: flex;
    padding: 32px;
    box-sizing: border-box;
    margin: 0 auto 32px auto;
    &-avatar {
      margin-right: 20px;
      .avatar {
        display: inline-block;
        width: 90px;
        height: 90px;
        background: #ffffff;
        border-radius: 16px;
        border: 1px solid #dddddd;
        background: #eeeeee;
        text-align: center;
        line-height: 90px;
      }
      .add-icon {
        font-size: 32px;
        color: #999;
        font-weight: bold;
      }
    }
    &-content {
      flex: 1;
      .content-top {
        display: flex;
        justify-content: space-between;
        .company {
          width: 75%;
          font-size: 32px;
          font-weight: 500;
          color: #222222;
          @include multi-ellipsis(1);
        }
        .nowuse {
          font-size: 24px;
          font-weight: 400;
          color: #666666;
          &::before {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            background: #1aad19;
            margin: 0 10px 5px 0;
            border-radius: 50%;
          }
        }
      }
      .content-bottom {
        display: flex;
        margin-top: 5px;
        .role {
          width: 70px;
          height: 35px;
          font-size: 22px;
          text-align: center;
          line-height: 35px;
          background-color: #fbf2e9;
          color: #f4811f;
          margin-right: 8px;
          border-radius: 6px;
        }
        .friend {
          background-color: #f5f5f5;
          color: #999999;
        }
        .account {
          font-size: 24px;
          font-weight: 400;
          color: #999999;
        }
      }
    }
    &-right {
      font-size: 24px;
      color: #999;
      display: flex;
      align-items: center;
    }
    .add-identity {
      font-size: 32px;
      font-weight: 500;
      color: #999999;
      line-height: 90px;
    }
  }
  .invalid-identity {
    .title {
      color: #999999;
      font-size: 32px;
      font-weight: 400;
      margin-bottom: 40px;
    }
    .identity-item {
      opacity: 0.5;
    }
  }
}
