page{
  background-color: #fff;
  .select-component{
    padding: 56px 50px;
    // background-color: #fff;
    // height: 92vh;
    .select-component-title{
      font-size: 40px;
      font-weight: 400;
      color: #222222;
      margin-bottom: 160px;
    }
    .pick-company{
      position: relative;
      .select{
        position: absolute;
        right: 40rpx ;
        top: 28rpx;
      }
    }
    .select-option{
      border-radius: 40px;
      border: 1px solid #D5D5DF;
      padding:15rpx 30rpx;
      .at-input__input{
        width: auto;
        flex: 0.5;
      }
      // .at-icon{
      // }

    }
    .selecte-box{
      position: relative;
      .icon{
        position: absolute;
        right: 40rpx;
        top: 27rpx;
        font-size: 30rpx;
      }
    }
    .info{
      font-size: 24rpx;
      color: #AAAAAA;
      .icon{
        margin: 0 5rpx 0 30rpx;
        font-size: 24rpx;
      }
    }
    .err-info{
      margin:15rpx 0 0 30rpx;
      font-size: 24rpx;
      color: #EC2E3D;
    }
    .success-info{
      margin:15rpx 0 0 30rpx;
      width: 90%;
      font-size: 32rpx;
      font-weight: 500;
      color: #222222;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icon{
        color: #1AAD19;
        font-size: 32px;
      }
    }
    .btns-staff{
      background: #F4811F;
      margin-top: 70px;
      font-size: 28px;
      color: #FFFFFF;
      height: 80px;
    }
    .at-input::after{
      content: none;
    }

  }
}

