.page-purchase-auth-phone {
  height: 100vh;
  background-color: #fff;

  &.select-component {
    padding: 56px 50px;
    box-sizing: border-box;

    .select-component-title {
      font-size: 40px;
      font-weight: 400;
      color: #222;
    }

    .select-component-prompt {
      font-size: 28px;
      color: #aaa;
      margin: 16px 0 100px 0;
    }

    .phone-box {
      font-size: 32px;
      color: #222;
      font-weight: 400;

      .phone-number {
        font-weight: bold;
      }
    }

    .btns-phone {
      background: var(--color-primary);
      margin: 70px 0 40px 0;
      font-size: 28px;
      color: #fff;
      height: 80px;
      border: none;
    }

    .btns-other {
      font-size: 28px;
      color: var(--color-primary);
      border: 1PX solid var(--color-primary) ;
    }
  }
}
