.select-role{
  background-color: #F5F5F5;
  height: 100vh;
  padding-top: 90px;
  position: relative;
  .header{
    margin: 0 auto;
    width: 369px;
    height: 369px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-avatar{
      width: 150px;
      height: 150px;
    }
    .welcome{
      color: #666666 ;
      font-size: 28px;
      margin: 72px 0 35px 0;
    }
    .title{
      color: #222222;
      font-size: 40px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
    }
  }
  .select{
    margin: 160px auto 0 auto;
    width: 80%;
    .select-title{
      font-size: 32px;
      color: #222222;
    }
    .select-options{
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      .select-friend{
        width: 260px;
        height: 240px;
        background: rgba(244,129,31,0.08);
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .select-pic{
          width: 125px;
          height: 91px;
        }
        .select-content{
          font-size: 40px;
          font-weight: 600;
          color: #222222;
        }
      }
    }
    .btn-confirm{
      width: 100%;
      margin-top: 40px;
      position: relative;

      .confirm{
        width: 150px;
        height: 80px;
        line-height: 80px;
        background: #F4811F;
        border-radius: 40px;
        opacity: 0.4;
        color: #FFFFFF;
        font-size: 28px;
        position: absolute;
        right: 0;
      }
    }

  }
  .end-text{
    position: absolute;
    left: 136px;
    bottom: 184px;
    font-size: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #AAAAAA;

  }
}
