/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.purchase-phone-auth {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__cover-img {
    width: 100%;
    height: 386px;
    background: #f3f4f6;
  }

  .sp-purchase-enterprise-bar {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  &__form-wrap {
    width: 100%;
    height: 580px;
    padding: 24px 32px;
    gap: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__form-card {
    width: 100%;
    height: 532px;
    box-sizing: border-box;
    padding: 60px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    background: transparent;
  }

  &__form-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.625px;
    color: #0a0a0a;
  }

  &__field {
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  &__hint {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.300782px;
    color: #0a0a0a;
  }

  &__mobile {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #6b7280;
  }

  &__footer {
    width: 100%;
  }

  &__confirm {
    width: 100%;
    height: 104px;
    border-radius: 199998px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 28px 68px;
    gap: 20px;
    background: #0a0a0a;
    box-sizing: border-box;
    border: none;

    &--disabled {
      background: #e5e7eb;
      pointer-events: none;
    }

    &::after {
      border: none;
    }
  }

  &__confirm-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.625px;
    color: #fff;
  }

  &__confirm--disabled .purchase-phone-auth__confirm-text {
    color: #99a1af;
  }
}
