.sp-goods-item {
  .goods-item {
    &__hd {

    }
    &__bd {
      border-radius: 0;
      .goods-title {
        font-size: 28px;
        color: #666;
      }
      .goods-desc {
        font-size: 24px;
        color: #999;
        @include multi-ellipsis(2);
      }

      .promotions {
        display: flex;
        .promotion-tag {
          flex-wrap: wrap;
          border: 1PX solid var(--color-primary);
          color: var(--color-primary);
          font-size: 22px;
          border-radius: 4px;
          padding: 0 2px;
          line-height: 26px;
        }
      }
    }
    &__ft {

    }
  }
}