.sp-goods-item {
  .goods-item {
    &__hd {

    }
    &__bd {
      .goods-title {
        font-size: 28px;
        color: #666;
      }
      .goods-desc {
        font-size: 24px;
        color: #999;
        @include multi-ellipsis(2);
      }

      .promotions {
        display: flex;
        .promotion-tag {
          flex-wrap: wrap;
          background-color: var(--color-primary);
          color: #fff;
          font-size: 24px;
        }
      }
    }
    &__ft {

    }
  }
}