/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.sp-price {
  font-family: D-DIN-PRO-Regular;
  height: 100%;

  &.line-through {
    color: #bfbfbf;
    position: relative;
    text-decoration: line-through;
    display: flex;
    align-items: center;
    justify-content: center;
    .sp-price__symbol {
      font-size: 20px;
      color: #bfbfbf;
    }

    .sp-price__int {
      font-size: 24px;
      color: #bfbfbf;
    }

    .sp-price__decimal {
      font-size: 24px;
      color: #bfbfbf;
    }
  }

  &__symbol {
    margin-right: 5px;
    color: $dark-text;
    font-size: 24px;
    font-weight: 500;
  }

  &__int {
    color: $dark-text;
    font-size: 32px;
  }

  &__decimal {
    color: $dark-text;
    font-size: 28px;
  }

  &__primary {
    .sp-price__symbol {
      color: var(--color-primary);
    }

    .sp-price__int {
      color: var(--color-primary);
    }

    .sp-price__decimal {
      color: var(--color-primary);
    }
  }
}
