.sp-price {
  &.line-through {
    color: $color-hint-text;
    text-decoration: line-through;
    .sp-price__symbol {
      font-size: 20px;
      color: $color-hint-text;
    }
    .sp-price__int {
      font-size: 24px;
      color: $color-hint-text;
    }
    .sp-price__decimal {
      font-size: 24px;
      color: $color-hint-text;
    }
  }

  &__symbol {
    margin-right: 5px;
    color: $color-primary-text;
    font-size: 24px;
  }
  &__int {
    color: $color-primary-text;
    font-size: 32px;
  }
  &__decimal {
    color: $color-primary-text;
    font-size: 28px;
  }
  &__primary {
    .sp-price__symbol {
      color: var(--color-primary);
    }
    .sp-price__int {
      color: var(--color-primary);
    }
    .sp-price__decimal {
      color: var(--color-primary);
    }
  }
}
