/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

.wgt-location-module {
  box-sizing: border-box;
  width: 100%;

  &__content-scroll {
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__content {
    box-sizing: border-box;
    width: 100%;
  }

  &__content-section {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    .wgt-location-module__content-section-line {
      position: absolute;
      height: 0;
      width: 0;
      left: 0;
      right: 0;
    }
  }
}
