@import '../../style/imports';

$disabled-color:#999999;

.point-line {

  &.plus {
    .number {
      font-size: 30px;
    }

    .text {
      font-size: 26px;
    }
  }

  .number {
    color: $color-point-color;
    display: inline-block;
    vertical-align: baseline;
  }

  .text {
    font-size: 24px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: baseline;
  }

  &.isGoodCard{
    .number {
      color: $color-point-color; 
      font-size: 36px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
    }
  
    .text {
      font-size: 24px;
      margin-left: 5px;
      display: inline-block;
      vertical-align: baseline;
    }
  }

  &.isStoreOut{
    .number {
      color: $disabled-color;  
    }
  
    .text {
      color: $disabled-color;  
    }
  }
}
