.sp-goods-price {
  .sale-price {
    .sp-price__symbol {
      color: #222;
      font-size: 28px;
    }
    .sp-price__int {
      color: #222;
      font-size: 46px;
    }
    .sp-price__decimal {
      color: #222;
      font-size: 28px;
    }
  }
  .discount {
    background-color: var(--color-primary);
    color: #fff;
    padding: 10px 16px;
    border-radius: 50px;
    margin-left: 10px;
    .discount-txt {
      font-size: 32px;
    }
  }
  .market-price {
    margin-left: 6px;
    .sp-price__symbol {
      color: #999;
      font-size: 28px;
    }
    .sp-price__int {
      color: #999;
      font-size: 46px;
    }
    .sp-price__decimal {
      color: #999;
      font-size: 28px;
    }
  }
}
