/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.sp-goods-price {
  .mkt-price {
    margin-left: 8px;
  }
  .vip-price,
  .svip-price {
    display: flex;
    align-items: center;
    .sp-price__symbol,
    .sp-price__int,
    .sp-price__decimal {
      color: #666;
    }
  }
  .activity {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .activity-wrap {
    display: flex;
    align-items: baseline;
    gap: 8px;
    .activity-price {
      .sp-price__symbol,
      .sp-price__int,
      .sp-price__decimal {
        color: var(--color-primary);
      }
    }
  }
  .point-plus-price {
    display: inline-block;
    margin: 0 10px;
  }
}
