.sp-goods-price {
  .mkt-price {
    margin-left: 8px;
  }
  .vip-price,
  .svip-price {
    display: flex;
    align-items: center;
    .sp-price__symbol,
    .sp-price__int,
    .sp-price__decimal {
      color: #666;
    }
  }
}
