/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.time-line-item {
  width: 100%;
  display: flex;
  border-left: #c5cad5 solid 1px;
  position: relative;
  box-sizing: border-box;

  .left-dot {
    position: absolute;
    left: -8px;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #c5cad5;
    z-index: 5;
  }
  .content {
    color: #858b9c;
    flex: 1;
    padding: 0 50px;
    box-sizing: border-box;
    padding-bottom: 60px;
    width: 100%;
    &-title {
      margin-top: -15px;
      margin-bottom: 16px;
    }
    &-remark {
      margin: 16px 0;
      overflow: hidden;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    &-pic {
      display: flex;
      margin-top: 12px;
      flex-wrap: wrap;
      &-item {
        width: 160px;
        height: 160px;
        margin: 0 16px 16px 0;
      }
    }
  }
}
